- content_for :title do
  = "About Us |"
- if current_user
  = render :partial => 'partials/logged_in_header'
- else
  = render :partial => 'partials/signup_header'

/ BLUE HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header.single-row
  .row
    .col-md-6.align-center
      %h1 About Quickbox
    .col-md-1.col-md-offset-4.col-sm-4.col-xs-4.align-center
      .service-box.no-label
        .service-icon
/ END SECONDARY HEADER


/ Section: ITEM SELECTION
%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            = image_tag "https://s3.amazonaws.com/storage_rails_app_dev/images/syn-logo.png", class:"width-30"
            %br/
            %br/
            %br/
            %h2 What We're About
            %p
              Quickbox was founded in Boulder, Colorado when a group of guys realized how difficult it is to store your furniture and belongings in between moves. Each of them has moved a number of times in the past, but when adding storage to the mix it broke the bank. Too often you have to rent a truck, haul all of your stuff to storage and then repeat when it’s time to move. With backgrounds in technology, they knew there had to be a better way and were determined to change this aging industry. Today almost anyone can have their groceries, movies, shoes and just about anything else delivered: Why Not Your Storage?
              %br/
              %br/
              Quickbox was born to simplify people's lives. Freeing time in your life so you can focus on what matters to you such as Family, Friends or your Career.
              %br/
              %br/
              Currently, Quickbox offers On Demand Storage throughout the greater Denver Metro area including Boulder, Denver, Westminster, Broomfield, Superior, Louisville, Arvada, Commerce City, Lakewood, and Aurora. We’ll be working hard to expand our service to more locations coming soon.
              %br/
              %br/

= render :partial => 'partials/footer'
= render :partial => 'partials/javascriptSource'

