- if @user
  = render :partial => 'partials/logged_in_header'
- else
  = render :partial => 'partials/signup_header'

/ BLUE HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header.single-row
  .row
    .col-md-6.align-center
      %h1 Who We Are
    .col-md-1.col-md-offset-4.col-sm-4.col-xs-4.align-center
      .service-box.no-label
        .service-icon
          %i.fa.fa-question-circle.fa-3x
/ END SECONDARY HEADER


/ Section: ITEM SELECTION
%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            = image_tag "https://s3.amazonaws.com/storage_rails_app_dev/images/syn-logo.png", class:"width-30"
            %br/
            %br/
            %br/
            %h2 What We're About
            %p
              We're trying to change an industry. To learn the inside scoop, get in touch at
              %a.heavy-font.blue team@spaceyouneed.com.
              We'd love to hear from you!

= render :partial => 'partials/footer'
= render :partial => 'partials/javascriptSource'

