- content_for :title do
  = "Price Estimator |"

- if current_user
  = render :partial => 'partials/logged_in_header'
- else
  = render :partial => 'partials/signup_header'

= javascript_include_tag :estimator

%br/
%section.text-center.inventory
  .container
    .col-md-9
      %h4 Estimator
      = form_for :estimator do |f|
        %h5 What You're Storing
        = render layout: 'partials/item_price_box', locals: {icon_class: 'box', item_size: 'small', item_name: 'Small Items', item_price: '$7', item_description: 'Boxes, tires, bags, or similarly sized objects'} do
          %br/
          = f.label :small_items, "Quantity:"
          %br/
          = f.text_field :small_items, placeholder: 0, class: 'form-control quantity-field'
        = render layout: 'partials/item_price_box', locals: {icon_class: 'bike', item_size: 'medium', item_name: 'Medium Items', item_price: '$15', item_description: 'Bikes, chairs, skis, luggage, or coffee tables'} do
          %br/
          = f.label :medium_items, "Quantity:"
          %br/
          = f.text_field :medium_items, placeholder: 0, class: 'form-control quantity-field'
        = render layout: 'partials/item_price_box', locals: {icon_class: 'couch', item_size: 'large', item_name: 'Large Items', item_price: '$30', item_description: 'Desks, drawers, TV\'s, armchairs, or small couches'} do
          %br/
          = f.label :large_items, "Quantity:"
          %br/
          = f.text_field :large_items, placeholder: 0, class: 'form-control quantity-field'
        = render layout: 'partials/item_price_box', locals: {icon_class: 'bed', item_size: 'large', item_name: 'XL Items', item_price: '$50', item_description: 'Dining tables, large bedframes, sectional couches'} do
          %br/
          = f.label :extra_large_items, "Quantity:"
          %br/
          = f.text_field :extra_large_items, placeholder: 0, class: 'form-control quantity-field'
        
        
        
        
        .col-md-12
          %br/
          %h5 Duration
          %p
            %button.btn#estimator_duration_minus -
            %span#estimator_duration_value 1 - 2 Months
            %button.btn#estimator_duration_plus +
          = f.hidden_field :duration, value: 1
    .col-md-3
      %h4 Sidebar
      %p
        Base monthly price: 
        %span#estimator_base_price $0.00
      %p
        Volume discount:
        %span#estimator_volume_discount 0%
      %p
        Duration discount:
        %span#estimator_duration_discount 0%
      %p
        Total price:
        %span#estimator_gross_price $0.00
      %p
        If you sign up now, we'll give you another 15% off each month!
        %br/
      %p
        Final monthly price: 
        %span#estimator_final_price $0.00
      %p
        Total savings:
        %span#estimator_total_savings $0.00

= render :partial => 'partials/footer'