- content_for :title do
  = "FAQ |"
- if current_user
  = render :partial => 'partials/logged_in_header'
- else
  = render :partial => 'partials/signup_header'

/ SECONDARY HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header
  .row
    .col-md-8.align-center
      %h1 Frequently Asked Questions

%br/
%br/
%br/
.onediv
.div_inside

.container.inventory.faq
  .row
    .col-md-10.col-md-offset-1
      .row
        .col-md-4.col-sm-4.col-xs-12.inventory-sidebar.pull-right
          .row.sidebar-txtentry.light-blue-bg
            .inner
              %h5 Have More Questions?
              .single-line
              %p
                Feel free to
                = succeed "." do
                  %a.blue{:href => "extra-contact.html"} contact us
                We're here to help!
              
          %br/
          .row.sidebar-txtentry.bg-gray
            .inner
              %h5.align-center Question Inventory
              .double-line-reg
              %ul.no-list
                %li.txtentry-subheading
                  %h5 General Questions
                  .single-line
                %li
                  %a{:href=>"#faq_gq_1"} How does Quickbox work?
                %li
                  %a{:href=>"#faq_gq_2"} How is my stuff inventoried?
                %li
                  %a{:href=>"#faq_gq_3"} How does QuickBox compare to traditional self storage?
                %li
                  %a{:href=>"#faq_gq_4"} Can I store my items for less than 1 month?
                %li
                  %a{:href=>"#faq_gq_5"} Is QuickBox Available in my city or neighborhood?
                %li
                  %a{:href=>"#faq_gq_6"} How do I see my stuff online?
                %li
                  %a{:href=>"#faq_gq_7"} Does Quickbox work on your mobile phone?
                %li
                  %a{:href=>"#faq_gq_8"} What are your office hours?
                %li.txtentry-subheading
                  %h5 Pickup & Delivery
                  .single-line
                %li
                  %a{:href=>"#faq_pd_1"} What days and times are pickups/deliveries available?
                %li
                  %a{:href=>"#faq_pd_2"} How do I get my stuff back?
                %li
                  %a{:href=>"#faq_pd_3"} Can I go to the warehouse and access/drop off things by myself?
                %li
                  %a{:href=>"#faq_pd_4"} What happens if I’m a “no show” at my appointment?
                %li 
                  %a{:href=>"#faq_pd_5"} How frequently can I have my items picked up and delivered?
                %li 
                  %a{:href=>"#faq_pd_6"} Do I need to give advanced notice for a pickup or delivery?
                %li 
                  %a{:href=>"#faq_pd_7"} What if I want to store more items than I listed in my pickup request?
                %li 
                  %a{:href=>"#faq_pd_8"} I'm here, but the driver hasn't shown up quite yet, what do I do?
                %li 
                  %a{:href=>"#faq_pd_9"} If I have to leave before the driver arrives, can I just set the boxes outside on the porch for pick up?
                %li 
                  %a{:href=>"#faq_pd_10"} Tell me about your drivers, who are they?
                %li.txtentry-subheading
                  %h5 Packing
                  .single-line
                %li
                  %a{:href =>"#faq_pk_1"} How should I pack my Quickbox boxes?
                %li
                  %a{:href =>"#faq_pk_2"} Do I have to label my boxes in any way?
                %li
                  %a{:href =>"#faq_pk_3"} What can or can't I store with Quickbox?
                %li
                  %a{:href =>"#faq_pk_4"} Can I use my own boxes?
                %li
                  %a{:href =>"#faq_pk_5"} Do you have a weight limit on the boxes?  
                
                %li.txtentry-subheading
                  %h5 Pricing Details
                  .single-line
                %li
                  %a{:href=>"#faq_pr_1"} How do I know how much it will cost to store my belongings?
                %li
                  %a{:href=>"#faq_pr_2"} How much are pick ups?
                %li
                  %a{:href=>"#faq_pr_3"} How much does it cost to have my belongings delivered? Does Quickbox offer discounts on delivery?
                %li 
                  %a{:href=>"#faq_pr_4"} Does Quickbox deliver items outside of my home storage city or across the country?
                %li.txtentry-subheading
                  %h5 Account Details
                  .single-line
                %li
                  %a{:href => "#faq_pd_1"}  How do I update my billing or contact information?
                %li
                  %a{:href => "#faq_pd_2"}  When will I be charged?
                %li
                  %a{:href => "#faq_pd_3"}  How does Quickbox bill for service?
                %li
                  %a{:href => "#faq_pd_4"}  I am not able to label my boxes or upload a photo
                %li
                  %a{:href => "#faq_pd_5"}  I'm not able to access my QuickBox account
               
              
          .row
            .boxed-gray.continue-button
              / %button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"}
              /   %a{:href => "delivery-info.html", :style => "color: white;"} Ask A Question
              %button.btn.btn-primary.gray-bg= link_to "Back To Dashboard", storage_items_path, class:"white"
             
        // FAQ Question Section Beginning
        .col-md-8.col-sm-8.col-xs-12.pull-left
          .row
            .col-md-12.faq-section
              %h2
                General Questions
                %a.pull-right{:href => ""}
              .double-line
              %ul.no-list
                %li#faq_gq_1 
                  %h4 How does Quickbox work?
                  %p Simple! To use Quickbox, make a reservation online or give us a call.
                  %p At your scheduled pick up time, the Quickbox team will inventory, secure and scan in your belongings. Your boxes are then transported to our secure storage facility where photos are taken and uploaded to your online portfolio.
                  %p Whenever you want something back, simply login to your portfolio, view your items and select exactly what you want returned to you. We’ll bring your stuff back to you at your scheduled time.
                %li#faq_gq_2
                  %h4 How is my stuff inventoried?
                  %p After the Quickbox team delivers your belongings to our secure storage facility, we begin the intake process. Our warehouse team photographs each item and uploads your inventory list to your personal Quickbox Portfolio.  Your portfolio will house all your Quickbox belongings, and you can update it with additional information about what you’ve packed inside your boxes. This way you never forget what you have stored with Quickbox.
                  %p When you’re ready for redelivery simply visit your portfolio, select the items you’d like returned, and Quickbox will redeliver. Quick and Easy, the Quickbox way.
                %li#faq_gq_3
                  %h4 How does QuickBox compare to traditional self storage?
                  %p It doesn’t. Without the need to rent a truck, move your belongings or visit a dirty storage locker you’ll be headache free. You will save on your monthly cost because of our volume discount and per item pricing model. Plus you get the benefit of hassle free pick up and delivery! It’s really that easy. No need to break a sweat (unless you want to).
                %li#faq_gq_4
                  %h4 Can I store my items for less than 1 month?
                  %p Yes, we have no limits on the length of storage, but you’ll be charged for the full month. Quickbox is great for short term or long term storage, however keep in mind that your delivery charge drops each month your belongings are in storage. 
                %li#faq_gq_5
                  %h4 Is QuickBox Available in my city or neighborhood?
                  %p We’re currently serving the Boulder and Denver corridor, but we’re excited to be expanding to a number of cities soon. Enter your zip code and email to verify you’re covered. We can sign you up for a notification when we rollout in your city. The more inquires we receive for a city, the faster we’ll have a team ready to Express Upload your stuff in the future.
                %li#faq_gq_6
                  %h4 How do I see my stuff online?
                  %p Easy, after you login to your account at Quickbox.com, you’ll see your personal Quickbox Portfolio. Inside your personal portfolio, you can view your belongings, update descriptions or inventory and request delivery. If you’re ever having trouble with your dashboard reach out to Quickbox Customer Team at 720-583-5826 or contact our support team [here] and we’ll take care of you.
                %li#faq_gq_7
                  %h4 Does Quickbox work on your mobile phone?
                  %p Our online portal is optimized to work on your smart phone or tablet so you can access your stuff from anywhere. You can manage your personal storage portfolio from any device with access to the internet.
                %li#faq_gq_8
                  %h4 What are your office hours?
                  %p Our office hours are 8AM - 7PM MT, 7 days a week. Feel free to leave us a voicemail during off hours and we’ll get back to you Quick!

          .row
            .col-md-12.faq-section              
              %h2
                PICK UP & DELIVERY
                %a.pull-right{:href => ""}
              .double-line
              %ul.no-list
                %li#faq_pd__1
                  %h4 What days and times are pick ups & deliveries available?
                  %p We currently offer pick ups and deliveries Tuesday through Sunday from 8 AM to 7 PM. If you can’t find a convenient day or time slot, don’t sweat it, we’ll work with you to make sure it’s seamless. We can always accommodate your busy schedule, just let us know. We will be offering pick ups and deliveries 7 days a week within a few months.
                %li#faq_pd__2
                  %h4 How do I get my stuff back?
                  %p Go online to your dashboard and click the "request delivery" button. This will let you select the items you'd like and we will deliver them at your convenience.
                %li#faq_pd__3
                  %h4 Can I go to the warehouse and access/drop off things by myself?
                  %p Not yet. Our insurance requires that we keep items in a secure location with restricted access. Instead, if you need something let us know and we'll deliver it right to you.
                %li#faq_pd__3
                  %h4 Can I cancel or change an order, pick up or delivery?
                  %p You can always make changes to your order. We request change notifications as late as 5pm the day prior to your pick up or delivery. Simply give us a call at 720-583-5826 or send an email to support@Quickbox.com prior to 5:00pm MT.  Cancelations after 5PM are subject to a $25 late-cancellation fee. Our people are working hard to mobilize Quickly for you, just let us know if they should change directions.
                %li#faq_pd_4
                  %h4 What happens if I’m a “no show” at my appointment?
                  %p Our Quickbox team will wait 20 minutes while they try to get in contact with you. After 20 minutes, if you’re a no show we’ll have to charge you $35 “You Stood Us Up Charge". Breaking our driver's hearts like that isn’t nice, he had flowers and everything. 
                %li#faq_pd_5
                  %h4 How frequently can I have my items picked up and delivered?
                  %p We’re able to offer pick ups and deliveries whenever you need them, as often as you need them. Jump into your online scheduler or give us a phone call, and we’ll be there in a jiffy.
                %li#faq_pd_6
                  %h4 Do I need to give advanced notice for a pick up or delivery?
                  %p We’re pretty darn Quick, but we like to say you’ll have them back within 48 hours. Need them faster? No problem, most of the time we can mobilize our Quickbox Express Team to deliver items sooner! You’ll have to give us a call to request express service. Standard pick up, and delivery times are outlined on the request page.
                %li#faq_pd_7 
                  %h4 What if I want to store more items than I listed in my pickup request?
                  %p More items no problem. Give Quickbox a call to make sure we can accommodate any large items you may need to store. Otherwise, we’ll see you at your pick up and we are happy to adjust on the fly.
                %li#faq_pd_8 
                  %h4 I'm here, but the driver hasn't shown up quite yet, what do I do?
                  %p Our Quickbox drivers give a courtesy confirmation call prior to arriving. If you haven’t heard from them, please give us a call, and we’ll figure out what’s up.
                %li#faq_pd_9
                  %h4 If I have to leave before the driver arrives, can I just set the boxes outside on the porch for pick up?
                  %p Unfortunately no. We need someone to be available on pick ups or deliveries per our insurance guys. They’re pretty strict and will not allow us to pick up or drop-off any items without someone present. If you need to reschedule a pick up or delivery, please let us know at your earliest convenience. We’ll work hard to accommodate your schedule.
                %li#faq_pd_10
                  %h4 Tell me about your drivers, who are they?
                  %p Quickbox takes extra care with our team members. We know how important your stuff is to you, and we want to make sure that our team treats it with the upmost respect. We vet every teammate carefully and provide specialized training on the Quickbox Way to ensure items are kept safe. Our customer reviews speak to this and help us be completely confident that our drivers are offering top notch service.

          .row
            .col-md-12.faq-section  
              %h2 
                PACKING
                %a.pull-right{:href => ""}
              .double-line
              %ul.no-list
                %li#faq_pk_1
                  %h4 How should I pack my Quickbox boxes?
                  %p Group and then pack items together that you’ll likely want back at the same time. For example, put your snowboard boots with your snow pants and ski jacket. Pack your climbing harness with your outdoor gear. Put all your winter holiday decorations together. That way you don’t have to request multiple boxes back only for a few items.

                  %p To pack it tight, try the international backpacker style of packing. Roll, don't fold, items like T-shirts or towels to maximize space and reduce wrinkles as these items sit in storage. Stuff socks and other small items into your shoes, sneakers and boots to help you maximize box space and help these items keep their shape.
                %li#faq_pk_2
                  %h4 Do I have to label my boxes in any way?
                  %p The Quickbox pick up team will label each of your boxes or items when they arrive for pickup. Create an inventory of the contents of each box, and upload that list to your Quickbox Portfolio so you’ll never forget what’s in storage.
                %li#faq_pk_3
                  %h4 What can or can't I store with Quickbox?
                  %p We can not store liquids, illegal substances, perishable items, explosives and flammables, hazardous materials. Quickbox has to keep everyone's stuff safe in storage, so please follow our rules.
                %li#faq_pk_4
                  %h4 Can I use my own boxes?
                  %p Yes, using your own boxes is perfectly fine. All boxes must have a top and bottom and be taped closed on pick up. We are happy to provide Quickbox boxes, but will accept your pre-packed boxes too.
                %li#faq_pk_5
                  %h4 Do you have a weight limit on the boxes?
                  %p We ask that you limit each box to 35lbs. Our team is pretty darn strong but let's keep things reasonable.
                %li#faq_pk_6
                  %h4 What if I'm storing something fragile or highly valuable?
                  %p We handle everything we put into storage like a precious frabregé egg. With that said, please let us know if anything is particularly fragile and we’ll take extra special care. We regularly store glassware, dishes, and other item, but we recommend packing them safely. Quickbox will do whatever is possible to keep your items safe, but if they aren’t packed well, they won’t store well. For more information about proper packing of fragile items please visit…..
          .row
            .col-md-12.faq-section  
              %h2 
                Pricing
                %a.pull-right{:href => ""}
              .double-line
              %ul.no-list
                %li#faq_pr_1
                  %h4 How do I know how much it will cost to store my belongings?
                  %p We have broken up pricing into four distinct categories Standard Box, Medium, Large and Extra Large items. Complete the Quick Estimator for a fast estimate on your monthly storage cost HERE. Or give Quickbox a call and one of our customer service agents will take care of answering all of your questions.
                %li#faq_pr_2
                  %h4 How much are pick ups?
                  %p With Quickbox pick ups are always free from our friendly Pick up Squad.
                %li#faq_pr_3
                  %h4 How much does it cost to have my belongings delivered? Does Quickbox offer discounts on delivery?
                  %p Quickbox will deliver your items back to you when you need them in the same city. We charge $15 plus the per month price of the item.
                  %p  For example, if you have 3 standard boxes at $15 per month and two large items at $50 per month delivery would total $80.
                  %p    3 Standard boxes $5 / Month = $15
                  %p    2 Large Items $25 / Month = $50
                  %p    Total Monthly Charge = $65
                  %p    Delivery Charge = $15 + $65
                  %p    Total = $80

                  %p Quickbox offers a $15 discounted delivery fee for items stored over three months. Store for over 6 months and received an additional 15% off delivery automatically. Pretty cool huh!
                %li#faq_pr_4
                  %h4 Does Quickbox deliver items outside of my home storage city or across the country?
                  %p In the future we’ll offer nationwide transport option, please inquire about this service at 720-583-5826 or support@quickbox.com.
          .row
            .col-md-12.faq-section  
              %h2 
                ACCOUNT DETAILS
                %a.pull-right{:href => ""}
              .double-line
              %ul.no-list
                %li#faq_ad_1
                  %h4 How do I update my billing or contact information?
                  %p To update your billing or contact information start by logging into your account. Once logged in you will see a button labeled "Account" in the top right corner. Here you can edit all of your account details.
                %li#faq_ad_2
                  %h4 When will I be charged?
                  %p We only bill you once your items have been picked up for storage and our team has begun the upload process. Usually, this occurs 24 hours after your bins are picked up. Your future charges will be billed on the monthly anniversary. If you are billed on the 1st of August, your future bills will be on the first of the month.
                %li#faq_ad_3
                  %h4 How does Quickbox bill for service?
                  %p Billing is handled online via our secure Credit Card transaction system. Charges occur on your monthly billing anniversary and is charged on the same day each month (e.g. The 1st of August, 1st of September, etc.).
                %li#faq_ad_4
                  %h4 I am not able to label my boxes or upload a photo
                  %p Send an email to team@quickbox.com with a brief description and any error messages you receive. We will be in touch to help you out.
                %li#faq_ad_5
                  %h4 I'm not able to access my QuickBox account
                  %p Send an email to team@quickbox.com with a brief description and any error messages you receive. We will be in touch to help you out.
                
// End of FAQ Section

      
= render :partial => 'partials/footer'

