- if @user
  = render :partial => 'partials/logged_in_header'
- else
  = render :partial => 'partials/signup_header'

/ SECONDARY HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header
  .row
    .col-md-8.align-center
      %h1 Frequently Asked Questions
    / Dashboard
    .col-md-1.col-md-offset-1.col-sm-4.col-xs-4.align-center
      .service-box
        = link_to storage_items_path do
          .service-icon
            %i.fa.fa-dashboard
          .service-desc
            %h6 Dashboard
/ END SECONDARY HEADER
%br/
%br/
%br/
.container.inventory.faq
  .row
    .col-md-10.col-md-offset-1
      .row
        / <div class="col-xs-1 pull-right"> </div>
        .col-md-4.col-sm-4.col-xs-12.inventory-sidebar.pull-right
          .row.sidebar-txtentry.light-blue-bg
            .inner
              %h5 Have More Questions?
              .single-line
              %p
                Feel free to
                = succeed "." do
                  %a.blue{:href => "extra-contact.html"} contact us
                We're here to help!
              /
                <ul>
                <li><span class="order-item">You have a pickup schedules for Thursday, September 15</li>
                <li><span class="order-item">You currently have 3 boxes at home, waiting to be picked up.</li>
                </ul>
          %br/
          .row.sidebar-txtentry.bg-gray
            .inner
              %h5.align-center Question Inventory
              .double-line-reg
              %ul.no-list
                %li.txtentry-subheading
                  %h5 General Questions
                  .single-line
                %li
                  %a How does QuickBox compare to traditional self storage?
                %li
                  %a Can I store my items for less than 1 month?
                %li
                  %a Is QuickBox Available in my city?
                %li.txtentry-subheading
                  %h5 Pickup & Delivery
                  .single-line
                %li
                  %a How do I get my stuff back?
                %li
                  %a Can I pickup/drop off things myself?
                %li
                  %a Can I change a pickup/delivery?
                %li
                  %a How frequently can I have my items picked up and delivered?
                %li 
                  %a How much advanced notice do you need for a pickup or delivery?
                %li 
                  %a What if I want to store more items than I listed in my pickup request?
                %li 
                  %a I'm here but the driver hasn't shown up quite yet
                %li 
                  %a Tell me about your drivers
                %li.txtentry-subheading
                  %h5 Packing
                  .single-line
                %li
                  %a Do I have to label my boxes in any way?
                %li
                  %a Can I use my own boxes?
                %li
                  %a Do you have a weight limit on the boxes?
                %li 
                  %a What if I'm storing something fragile or highly valuable?
                %li 
                  %a How do I know which category my items belong in?
                %li.txtentry-subheading
                  %h5 Account Details
                  .single-line
                %li
                  %a How do I update my billing or contact information?
                %li
                  %a How does billing work? When will I be billed?
                %li
                  %a I am not able to label my boxes or upload a photo.
                %li 
                  %a I'm not able to access my QuickBox account.
              
          .row
            .boxed-gray.continue-button
              %button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"}/
              / %a{:href => "delivery-info.html", :style => "color: white;"} Ask A Question
              %button.btn.btn-primary.gray-bg= link_to "Back To Dashboard", storage_items_path, class:"white"
              / %button.btn.btn-primary.gray-bg{:type => "button"}/
              / %a{:href => "delivery-info.html", :style => "color: white;"} Back To Dashboard
        .col-md-8.col-sm-8.col-xs-12.pull-left
          .row
            .col-md-12.faq-section
              %h2
                General Questions
                %a.pull-right{:href => ""}
              .double-line
              %ul.no-list
                %li#faq-gq-1
                  %h4 How does QuickBox compare to traditional self storage?
                  %p You save a lot and worry less! Most customers save about 50% per month by not having to rent a full locker. Plus they get the benefit of hassle free pickup and delivery!               
                %li#faq-gq-2
                  %h4 Can I store my items for less than 1 month?
                  %p Yes, however we will have to charge you for the entire month.
                %li#faq-gq-3
                  %h4 Is QuickBox Available in my city?
                  %p We're currently only serving Boulder, but we're excited to expand soon. Shoot us an email with your location and we'll get it on a list to serve you in the future.
          .row     
            .col-md-12.faq-section
              %h2
                Pickup & Delivery
                / %a.pull-right{:href => ""} Find The Full List Here
              .double-line
              %ul.no-list
                %li#faq-pd-1 
                  %h4 How do I get my stuff back?
                  %p Go online to your dashboard and click the "request delivery" button. This will let you select the items you'd like. We will deliver these items to you at your convenience.
                %li#faq-pd-2
                  %h4 Can I go to the warehouse and access/drop off things by myself?
                  %p Not yet. Our insurance requires that we keep items in a secure location with restricted access. Instead, if you need something let us know and we'll deliver it right to you.  
                %li#faq-pd-3
                  %h4 Can I cancel/change an order/pickup/delivery?
                  %p Yes, you can edit your pickup or delivery date up to the day before it is scheduled. For deliveries, you can always change the items requested. For pickups, you can always add or remove items from your request when the driver arrives.
                %li#faq-pd-4
                  %h4 How frequently can I have my items picked up and delivered?
                  %p As often as you like. Best of all, pickups are completely free!
                %li#faq-pd-5 
                  %h4 How much advanced notice do you need for a pickup or delivery?
                  %p Generally 24-48hours. Pickup times are shown during the pickup/delivery request process.
                %li#faq-pd-6 
                  %h4 What if I want to store more items than I listed in my pickup request?
                  %p You can always add items, just let our driver know at pickup so we can account for the additional items.
                %li#faq-pd-7 
                  %h4 I'm here but the driver hasn't shown up quite yet
                  %p Our drivers give a confirmation call prior to delivery. If you did not receive one please call us and we will figure out what is happening.
                %li#faq-pd-8
                  %h4 If I have to leave before the driver arrives, can I just set the boxes outside on the porch for pick-up?
                  %p Unfortunately our insurance will not allow us to pick-up or drop-off any items without someone present. Let us know and we will make every effort to get you rescheduled at your earliest convenience.
                %li#faq-pd-9 
                  %h4 Tell me about your drivers
                  %p We vet them carefully, and they follow a detailed regiment to make sure your items are kept safe. Furthermore, customer reviews let us be completely confident that our drivers are offering top notch service.
                
          .row     
            .col-md-12.faq-section
              %h2
                Packing
                / %a.pull-right{:href => ""} Find The Full List Here
              .double-line
              %ul.no-list
                %li#faq-pk-1
                  %h4 Do I have to label my boxes in any way?
                  %p Our driver will put a label on your boxes when they arrive for pickup. If you want to help streamline the process beforehand, you can give each item a description online. That way our driver will know which is which when he arrives.
                %li#faq-pk-2
                  %h4 Can I use my own boxes?
                  %p Yes, though we would ask that the boxes have tops and bottoms and be taped closed (not folded). We are also happy to provide boxes if you need them.
                %li#faq-pk-3
                  %h4 Do you have a weight limit on the boxes?
                  %p We ask that you limit each box to 35lbs.
                %li#faq-pk-4 
                  %h4 What if I'm storing something fragile or highly valuable?
                  %p We handle everything we put in storage very carefully. That said, let us know what's particularly fragile and we'll mark it with a fragile label. That will help us keep everything extra safe.
                %li#faq-pk-5 
                  %h4 How do I know which category my items belong in?
                  %p We've created four categories to help you keep track of your items: small, medium, large, and extra large. If you're not sure which category fits a particular item, you can always click the "choose by item" button, which will let you select items individually rather than by category.

          .row     
            .col-md-12.faq-section
              %h2
                Account Details
                / %a.pull-right{:href => ""} Find The Full List Here
              .double-line
              %ul.no-list
                %li#faq-ad-1
                  %h4 How do I update my billing or contact information?
                  %p First, log-in. You will see a button labled "Account" in the top right corner. This will bring you to a page where you can edit all of your account details.
                %li#faq-ad-2 
                  %h4 How does billing work? When will I be billed?
                  %p Billing is handled online via Credit card and your billing date is based on 30 days from our receiving your items. If we pick up in the 10th that becomes your due date.
                %li#faq-ad-3 
                  %h4 I am not able to label my boxes or upload a photo
                  %p Send an email to help@quickbox.com with a brief description and any error messages you receive. We will be in touch to help you out.
                %li#faq-ad-
                  %h4 I'm not able to access my QuickBox account
                  %p Send an email to help@spaceyouneed.com with a brief description and any error messages you receive. We will be in touch to help you out.
      
= render :partial => 'partials/footer'

