- content_for :title do
  = "FAQ |"
= render partial: 'partials/standard_header'
= javascript_include_tag :faq

/ SECONDARY HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header
  .row
    .col-md-8.align-center
      %h1 Frequently Asked Questions

%br/
%br/
%br/
.onediv
.div_inside

.container.inventory.faq
  .row
    .col-md-10.col-md-offset-1
      .row
        .col-md-4.col-sm-4.col-xs-12.inventory-sidebar.pull-right
          .row.sidebar-txtentry.bg-gray
            .inner
              %h5.align-center FAQ Sections
              .single-line
              %ul.no-list
                %li
                  %a.scroll-to-section{:href=>'javascript:', data_elemid: '#faq-section-1'} General questions
                %li
                  %a.scroll-to-section{:href=>'javascript:', data_elemid: '#faq-section-2'} Pick up & delivery
                %li
                  %a.scroll-to-section{:href=>'javascript:', data_elemid: '#faq-section-3'} Packing
                %li
                  %a.scroll-to-section{:href=>'javascript:', data_elemid: '#faq-section-4'} Pricing
                %li
                  %a.scroll-to-section{:href=>'javascript:', data_elemid: '#faq-section-5'} Account details

          .row
            .boxed-gray.continue-button
              / %button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"}
              /   %a{:href => "delivery-info.html", :style => "color: white;"} Ask A Question

        // FAQ Question Section Beginning
        // This holds the whole question section
        .col-md-8.col-sm-8.col-xs-12.pull-left
          // These rows hold the categories
          .row
            .col-md-12.faq-section
              // Category title
              %h2#faq-section-1
                General Questions
                %a.pull-right{:href => ""}
              .double-line
              %ul.no-list
                // Question
                = render layout: 'partials/faq_question', locals: {question_id: 'gq_1', question_header: 'How does QuickBox work?'} do
                  %p Simple! To use QuickBox, make a reservation online or give us a call.
                  %p At your scheduled pick up time, the QuickBox team will inventory, secure and scan in your belongings. Your boxes are then transported to our secure storage facility where photos are taken and uploaded to your online portfolio.
                  %p Whenever you want something back, simply login to your portfolio, view your items and select exactly what you want returned to you. We'll bring your stuff back to you at your scheduled time.
                = render layout: 'partials/faq_question', locals: {question_id: 'gq_2', question_header: 'How is my stuff inventoried?'} do
                  %p After the QuickBox team delivers your belongings to our secure storage facility, we begin the intake process. Our warehouse team photographs each item and uploads your inventory list to your personal QuickBox Portfolio.  Your portfolio will house all your QuickBox belongings, and you can update it with additional information about what you've packed inside your boxes. This way you never forget what you have stored with QuickBox.
                  %p When you're ready for redelivery simply visit your portfolio, select the items you'd like returned, and QuickBox will redeliver. Quick and Easy, the QuickBox way.
                = render layout: 'partials/faq_question', locals: {question_id: 'gq_3', question_header: 'How does QuickBox compare to traditional self storage?'} do
                  %p It doesn't. Without the need to rent a truck, move your belongings or visit a dirty storage locker you'll be headache free. You will save on your monthly cost because of our volume discount and per item pricing model. Plus you get the benefit of hassle free pick up and delivery! It's really that easy. No need to break a sweat (unless you want to).
                = render layout: 'partials/faq_question', locals: {question_id: 'gq_4', question_header: 'Can I store my items for less than 1 month?'} do
                  %p Yes, we have no limits on the length of storage, but you'll be charged for the full month. QuickBox is great for short term or long term storage, however keep in mind that your delivery charge drops each month your belongings are in storage.
                = render layout: 'partials/faq_question', locals: {question_id: 'gq_5', question_header: 'Is QuickBox Available in my city or neighborhood?'} do
                  %p We're currently serving the Boulder and Denver corridor, but we're excited to be expanding to a number of cities soon. Enter your zip code and email to verify you're covered. We can sign you up for a notification when we roll-out in your city. The more inquires we receive for a city, the faster we'll have a team ready to Express Upload your stuff in the future.
                = render layout: 'partials/faq_question', locals: {question_id: 'gq_6', question_header: 'How do I see my stuff online?'} do
                  %p Easy, after you login to your account at QuickBox.com, you'll see your personal QuickBox Portfolio. Inside your personal portfolio, you can view your belongings, update descriptions or inventory and request delivery. If you're ever having trouble with your dashboard reach out to QuickBox Customer Team at 720-583-5826 or contact our support team [here] and we'll take care of you.
                = render layout: 'partials/faq_question', locals: {question_id: 'gq_7', question_header: 'Does QuickBox work on your mobile phone?'} do
                  %p Our online portal is optimized to work on your smart phone or tablet so you can access your stuff from anywhere. You can manage your personal storage portfolio from any device with access to the Internet.
                = render layout: 'partials/faq_question', locals: {question_id: 'gq_8', question_header: 'What are your office hours?'} do
                  %p Our office hours are 8AM - 7PM MT, 7 days a week. Feel free to leave us a voice mail during off hours and we’ll get back to you Quick!

          .row
            .col-md-12.faq-section
              %h2#faq-section-2
                PICK UP & DELIVERY
                %a.pull-right{:href => ""}
              .double-line
              %ul.no-list
                = render layout: 'partials/faq_question', locals: {question_id: 'pd_1', question_header: 'What days and times are pick ups & deliveries available?'} do
                  %p We currently offer pick ups and deliveries Tuesday through Sunday from 8 AM to 7 PM. If you can't find a convenient day or time slot, don't sweat it, we'll work with you to make sure it's seamless. We can always accommodate your busy schedule, just let us know. We will be offering pick ups and deliveries 7 days a week within a few months.
                = render layout: 'partials/faq_question', locals: {question_id: 'pd_2', question_header: 'How do I get my stuff back?'} do
                  %p Go online to your dashboard and click the "request delivery" button. This will let you select the items you'd like and we will deliver them at your convenience.
                = render layout: 'partials/faq_question', locals: {question_id: 'pd_3', question_header: 'Can I go to the warehouse and access/drop off things by myself?'} do
                  %p Not yet. Our insurance requires that we keep items in a secure location with restricted access. Instead, if you need something let us know and we'll deliver it right to you.
                = render layout: 'partials/faq_question', locals: {question_id: 'pd_4', question_header: 'Can I cancel or change an order, pick up or delivery?'} do
                  %p You can always make changes to your order. We request change notifications as late as 5pm the day prior to your pick up or delivery. Simply give us a call at 720-583-5826 or send an email to support@QuickBox.com prior to 5:00pm MT.  Cancellations after 5PM are subject to a $25 late-cancellation fee. Our people are working hard to mobilize Quickly for you, just let us know if they should change directions.
                = render layout: 'partials/faq_question', locals: {question_id: 'pd_5', question_header: 'What happens if I\'m a "no show" at my appointment?'} do
                  %p Our QuickBox team will wait 20 minutes while they try to get in contact with you. After 20 minutes, if you’re a no show we'll have to charge you $75 “You Stood Us Up Charge". Breaking our driver's hearts like that isn’t nice, he had flowers and everything.
                = render layout: 'partials/faq_question', locals: {question_id: 'pd_6', question_header: 'How frequently can I have my items picked up and delivered?'} do
                  %p We’re able to offer pick ups and deliveries whenever you need them, as often as you need them. Jump into your online scheduler or give us a phone call, and we'll be there in a jiffy.
                = render layout: 'partials/faq_question', locals: {question_id: 'pd_7', question_header: 'Do I need to give advanced notice for a pick up or delivery?'} do
                  %p We’re pretty darn Quick, but we like to say you'll have them back within 48 hours. Need them faster? No problem, most of the time we can mobilize our QuickBox Express Team to deliver items sooner! You'll have to give us a call to request express service. Standard pick up, and delivery times are outlined on the request page.
                = render layout: 'partials/faq_question', locals: {question_id: 'pd_8', question_header: 'What if I want to store more items than I listed in my pickup request?'} do
                  %p More items no problem. Give QuickBox a call to make sure we can accommodate any large items you may need to store. Otherwise, we’ll see you at your pick up and we are happy to adjust on the fly.
                = render layout: 'partials/faq_question', locals: {question_id: 'pd_9', question_header: 'I\'m here, but the driver hasn\'t shown up quite yet, what do I do?'} do
                  %p Our QuickBox drivers give a courtesy confirmation call prior to arriving. If you haven't heard from them, please give us a call, and we'll figure out what's up.
                = render layout: 'partials/faq_question', locals: {question_id: 'pd_10', question_header: 'If I have to leave before the driver arrives, can I just set the boxes outside on the porch for pick up?'} do
                  %p Unfortunately no. We need someone to be available on pick ups or deliveries per our insurance guys. They’re pretty strict and will not allow us to pick up or drop-off any items without someone present. If you need to reschedule a pick up or delivery, please let us know at your earliest convenience. We'll work hard to accommodate your schedule.
                = render layout: 'partials/faq_question', locals: {question_id: 'pd_11', question_header: 'Tell me about your drivers, who are they?'} do
                  %p QuickBox takes extra care with our team members. We know how important your stuff is to you, and we want to make sure that our team treats it with the utmost respect. We vet every teammate carefully and provide specialized training on the QuickBox Way to ensure items are kept safe. Our customer reviews speak to this and help us be completely confident that our drivers are offering top notch service.

          .row
            .col-md-12.faq-section
              %h2#faq-section-3
                PACKING
                %a.pull-right{:href => ""}
              .double-line
              %ul.no-list
                %li#faq_pk_1
                = render layout: 'partials/faq_question', locals: {question_id: 'pk_1', question_header: 'How should I pack my QuickBox boxes?'} do
                  %p Group and then pack items together that you’ll likely want back at the same time. For example, put your snowboard boots with your snow pants and ski jacket. Pack your climbing harness with your outdoor gear. Put all your winter holiday decorations together. That way you don’t have to request multiple boxes back only for a few items.
                  %p To pack it tight, try the international backpacker style of packing. Roll, don't fold, items like T-shirts or towels to maximize space and reduce wrinkles as these items sit in storage. Stuff socks and other small items into your shoes, sneakers and boots to help you maximize box space and help these items keep their shape.
                = render layout: 'partials/faq_question', locals: {question_id: 'pk_2', question_header: 'Do I have to label my boxes in any way?'} do
                  %p The QuickBox pick up team will label each of your boxes or items when they arrive for pickup. Create an inventory of the contents of each box, and upload that list to your QuickBox Portfolio so you'll never forget what’s in storage.
                = render layout: 'partials/faq_question', locals: {question_id: 'pk_3', question_header: 'What can or can\'t I store with QuickBox?'} do
                  %p We can not store liquids, illegal substances, perishable items, explosives and flammables, hazardous materials. QuickBox has to keep everyone's stuff safe in storage, so please follow our rules.
                = render layout: 'partials/faq_question', locals: {question_id: 'pk_4', question_header: 'Can I use my own boxes?'} do
                  %p Yes, using your own boxes is perfectly fine. All boxes must have a top and bottom and be taped closed on pick up. We are happy to provide QuickBox boxes, but will accept your pre-packed boxes too.
                = render layout: 'partials/faq_question', locals: {question_id: 'pk_5', question_header: 'Do you have a weight limit on the boxes?'} do
                  %p We ask that you limit each box to 35lbs. Our team is pretty darn strong but let's keep things reasonable.
                = render layout: 'partials/faq_question', locals: {question_id: 'pk_6', question_header: 'What if I\'m storing something fragile or highly valuable?'} do
                  %p We handle everything we put into storage like a precious fabergé egg. With that said, please let us know if anything is particularly fragile and we'll take extra special care. We regularly store glassware, dishes, and other item, but we recommend packing them safely. QuickBox will do whatever is possible to keep your items safe, but if they aren't packed well, they won't store well. For more information about proper packing is the most important thing you can do to ensure your items stay safe during transport.
          .row
            .col-md-12.faq-section
              %h2#faq-section-4
                Pricing
                %a.pull-right{:href => ""}
              .double-line
              %ul.no-list
                %li#faq_pr_1
                = render layout: 'partials/faq_question', locals: {question_id: 'pr_1', question_header: 'How do I know how much it will cost to store my belongings?'} do
                  %p We have broken up pricing into four distinct categories Small, Medium, Large and Extra Large items. Complete the Quick Estimator for a fast estimate on your monthly storage cost. Or give QuickBox a call and one of our customer service agents will take care of answering all of your questions.
                = render layout: 'partials/faq_question', locals: {question_id: 'pr_2', question_header: 'How do I determine the size of my item?'} do
                  %p Items are broken up into four different categories: Small, Medium, Large and Extra Large items.
                  %p Below are some example dimensions for each item size. If it's close, we'll always give you the lowest price possible.
                  %br
                  %p.faq-bold Small:
                  %p.faq-indent  Include - Boxes, tires, bags, or similarly sized objects
                  %p.faq-indent  Size - Totaling 3 cubic feet. For example a box with Dimensions 18”x18”x18” or anything smaller.
                  %p.faq-bold Medium:
                  %p.faq-indent  Include - Bikes, chairs, skis, snowboards, luggage, or coffee tables
                  %p.faq-indent  Total volume of 6.5 cubic feet. Dimensions 22"x22"x22" or anything smaller.
                  %p.faq-bold Large:
                  %p.faq-indent  Include - Desks, drawers, TV's, armchairs, or small couches
                  %p.faq-indent  Totaling 13 cubic feet. For example an item Dimensions 28"x28"x28" or anything smaller.
                  %p.faq-bold Extra Large:
                  %p.faq-indent  Include - Dining tables, large bed frames, sectional couches
                  %p.faq-indent  Totaling 21 cubic feet. Dimensions 33"x33"x33" or anything smaller.
                  %br
                  %p.faq-bold Not sure what size your items are? No problem, give us a call and we'll help clarify everything
                = render layout: 'partials/faq_question', locals: {question_id: 'pr_3', question_header: 'How much are pick ups?'} do
                  %p Free Pick Ups on Orders over $50 with QuickBox or a $50 pick up fee will be applied to smaller orders. Our friendly pick up staff will take care of all the heavy lifting, wrap furniture and making moving & storing simple. This minimum allows QuickBox to keep it price low for mid to long term storage and covers the cost of our professional movers handling your belongings.
                = render layout: 'partials/faq_question', locals: {question_id: 'pr_4', question_header: 'How much does it cost to have my belongings delivered?'} do
                  %p QuickBox will deliver your items back to you when you need them in the same city. We charge a $50 minimum delivery charge or the standard monthly cost of each item being returned.
                  %p  For example, if you have 3 standard boxes at $21 per month total delivery is $50. While if you have 2 Large & 1 Small item your total delivery fee is $67. 
                  %p.faq-bold Example One: Small Order || Less Than Minimum Delivery
                  %p.faq-indent    3 Standard boxes $7 / Month = $21
                  %p.faq-indent    Total Monthly Charge = $21
                  %p.faq-indent      $50 monthly minimum is NOT met so delivery is $50 flat fee.
                  %p.faq-indent    Minimum Delivery Charge = $50
                  %br
                  %p.faq-bold Example Two: Larger Order || Meets Minimum Delivery 
                  %p.faq-indent    2 Large Items & 1 Small Item
                  %p.faq-indent    One Box (Small) = $7
                  %p.faq-indent    2 Couches (Large) = $60
                  %p.faq-indent   Total Monthly Charge = $67
                  %p.faq-indent      $50 monthly minimum is met so delivery is 1 months rent.
                  %p.faq-indent    Total Delivery Charge= $67
                  %p
                  %p For large items it requires two QuickBox movers to deliver your items safely so we have to account for their labor.
                = render layout: 'partials/faq_question', locals: {question_id: 'pr_5', question_header: 'Does QuickBox deliver items outside of my home storage city or across the country?'} do
                  %p In the future we’ll offer nationwide transport option, please inquire about this service at 720-583-5826 or support@QuickBox.com.
          .row
            .col-md-12.faq-section
              %h2#faq-section-5
                ACCOUNT DETAILS
                %a.pull-right{:href => ""}
              .double-line
              %ul.no-list
                %li#faq_ad_1
                = render layout: 'partials/faq_question', locals: {question_id: 'ad_1', question_header: 'How do I update my billing or contact information?'} do
                  %p To update your billing or contact information start by logging into your account. Once logged in you will see a button labeled "Account" in the top right corner. Once in this view you can edit all of your account details here. 
                = render layout: 'partials/faq_question', locals: {question_id: 'ad_2', question_header: 'When will I be charged?'} do
                  %p When scheduling during our busiest times of the year we request a small deposit to hold your delivery window that will be applied to your order following pickup. 
                  %p We only bill-in-full once your items have been picked up for storage and our team has begun the upload process. Usually, this occurs 24 hours after your bins are picked up. Your future charges will be billed on the monthly anniversary. If you are billed on the 1st of August, your future bills will be on the first of the month.
                = render layout: 'partials/faq_question', locals: {question_id: 'ad_3', question_header: 'How does QuickBox bill for service?'} do
                  %p Billing is handled online via our secure Credit Card transaction system. Charges occur on your monthly billing anniversary and is charged on the same day each month (e.g. The 1st of August, 1st of September, etc.).
                = render layout: 'partials/faq_question', locals: {question_id: 'ad_4', question_header: 'I am not able to label my boxes or upload a photo'} do
                  %p Send an email to Team@QuickBox.com with a brief description and any error messages you receive. We will be in touch to help you out.
                = render layout: 'partials/faq_question', locals: {question_id: 'ad_5', question_header: 'I\'m not able to access my QuickBox account'} do
                  %p Send an email to Team@QuickBox.com with a brief description and any error messages you receive. We will be in touch to help you out.
          %br
          %br
          %br
// End of FAQ Section

= render :partial => 'partials/footer'
