
= render :partial => 'partials/sign_in_header'
 
/ %p= link_to 'Login', new_user_session_path

%section#intro.intro
  .slogan
    %h1 SIMPLIFY
    %h3.dark-gray
      We Make Storage Easy
    .row
      .col-md-2.col-md-offset-5.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2
        .boxed-gray.continue-button
          = link_to new_signup_pages_path, class:"white" do
            %button.btn.btn-primary.blue-bg.blue-bg-hover Get Started

    %br/
    %br/
    %br/
  .row.home-screen-links
    %h3.center-align 
      %a{:href => "#what-we-do"} ( scroll to learn how )
%br/
%br/
%br/
/ Section: services
%section#what-we-do.home-section.text-center
  .container
    .row
      .col-md-10.col-md-offset-1
        .section-heading
          %h2 We Make Storage Easy
        %br/
        %br/
        .row
          .col-sm-4.col-md-4
            .service-box
              .service-icon
                =image_tag "offer-1.png", :class => "offer-img"
              .service-desc
                %h5
                  Save With
                  %br/
                  Pricing By The Box
                %p Save money by only paying for the space you use. Our fees are calculated by the item - so there's no need to pay for half-full storage containers.
          .col-sm-4.col-md-4
            .service-box
              .service-icon
                =image_tag "offer-2.png", :class => "offer-img"
              .service-desc
                %h5
                  Pickup & Delivery
                  %br/
                  DOOR TO DOOR
                %p We pick up your items for free! Then when you're ready, let us know and we'll deliver  right back to your door. Easy as that!
          .col-sm-4.col-md-4
            .service-box
              .service-icon
                =image_tag "offer-3.png", :class => "offer-img"
              .service-desc
                %h5
                  Any Item
                  %br/
                  \& Any Size
                %p We're great at storing boxes, but that's not all we store. Have a couch? A bike? Old furniture? We can help. We store anything.
        %br/
        .row.homepage-started-row
          .col-md-10.col-md-offset-1.center-align
            / %h3
            /   \... and one more thing: we provide packing boxes
            /   %b.blue for free!
    / End Row
 
/ /Section: services
.single-line.no-margin
.row.homepage-started-row.bg-gray
  .col-md-6.col-md-offset-2
    %h3.dark-gray
      The best decision you'll make today
  .col-md-2
    .boxed-gray.continue-button.pull-left
      = link_to new_signup_pages_path, class:"white" do
        %button.btn.btn-primary.blue-bg-hover Get Started

.single-line.no-padding
/ Section: works
%section#save-much.home-section.text-center
  .heading-works.marginbot-50
    .container
      .row
        .col-lg-10.col-lg-offset-1
          %img.full-width{:alt => "", :src => "https://s3.amazonaws.com/storage_rails_app_dev/images/primary-graphic.png"}/

/ Section: works
%section#works.home-section.text-center
  .heading-works.marginbot-50
    .container
      .row
        .col-lg-10.col-lg-offset-1.col-md-10.co-md-offset-1
          .section-heading
            %h2.white How It Works
          %br/
          %img.full-width{:alt => "", :src => "https://s3.amazonaws.com/storage_rails_app_dev/images/how-it-works-2.png"}/
          %br/ 
          %br/ 
          = link_to "Still curious about how it works? Click here.", faq_path, class: "pull-right" 

/ Section: contact
%section#store-what.home-section.text-center
  .container
    .row
      .col-md-10.col-md-offset-1
        .section-heading
          %br/
          %h2 Any Item, Any Size
          %p.dark-gray What do we store? Anything! Here are some of the most common items stored by our users. Have something unique or odd shaped? Let us know and we'll give it its own special home.
          %br/
        .row.inventory
          / TOP ROW
          / .col-md-2.col-sm-2.col-xs-2.inventory-entries
          
          / .col-md-4.col-sm-4.col-xs-4.inventory-entries
          /   .inner
          /     .avatar
          /       %img.img-responsive{:alt => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/box-default.jpg", :src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/1.jpg"}/
          /     %h4 Standard Box
          /     %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12 $6.25/month"
        / %hr/
        .row.inventory
          / TOP ROW
          = render partial: "partials/list_item_4col", locals: {imgURL:"https://s3.amazonaws.com/storage_rails_app_dev/images/cardboard2.png", title:"Standard Boxes", description:"Small Item - $5.00/month"}
          = render partial: "partials/list_item_4col", locals: {imgURL:"https://s3.amazonaws.com/storage_rails_app_dev/images/bike.png", title:"Bicycles", description:"Medium Item - $12.00/m"}
          = render partial: "partials/list_item_4col", locals: {imgURL:"https://s3.amazonaws.com/storage_rails_app_dev/images/couch.png", title:"Couches", description:"Large Item - $20.00/m"}
          = render partial: "partials/list_item_4col", locals: {imgURL:"https://s3.amazonaws.com/storage_rails_app_dev/images/table.png", title:"Large Furniture", description:"XL Item - $40.00/month"}
         
          
.row
  .col-md-12
    .single-line
    .row.homepage-started-row
      .col-md-12
        %h3.dark-gray
          Any Item, Free Pickup,
          %b.blue Storage That Fits
      .col-md-4.col-md-offset-4
        .boxed-gray.continue-button.pull-left
          = link_to new_signup_pages_path, class:"white" do
            %button.btn.btn-primary.blue-bg-hover Get Started




= render :partial => 'partials/footer'