- content_for :title do
  = "How Quickbox Works |"
= render partial: 'partials/standard_header'

%section
  .container
    .row
      .col-md-12.align-center
        %br/
        %br/
        %h1 Simple Storage in Three Easy Steps
        .col-md-4.align-center
          %h3.black.lowercase We Pick It Up
          %img.width-80-no-mgn{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/pick-up-items.png", :alt => ""}/
          %p.width-80-no-mgn We pick up your stuff when it's convenient for you.
        .col-md-4.align-center
          %h3.black.lowercase We Store It
          %img.width-80-no-mgn{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/stored-safely.png", :alt => ""}/
          %p.width-80-no-mgn We transport your things to our secure storage facility where they're safe and insured.
        .col-md-4.align-center
          %h3.black.lowercase We Deliver
          %img.width-80-no-mgn{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/delivery-icon.png", :alt => ""}/
          %p.width-80-no-mgn Schedule a time that works for you, and we'll deliver some or all of your items when you need them.
    .row.section-heading
      %br/
      %br/
      %p Our team will store just about anything you own. Boxes, bikes, furniture, electronics, or even your entire apartment. We price by the individual item so you never need to worry about renting a storage locker. That means no more paying for empty space or moving all your stuff to a bigger unit when you store more.
      %p Since we pick up and deliver, there's no more driving that big moving truck or hauling all your stuff to your storage locker on the outskirts of town. You won't ever have to carry your sofa sleeper down the stairs, rent a truck, or be stuck digging through your unit.
           
    %br/
    %br/

%br/
%br/

.blue-bar
  %br/ 
  %br/

%section
  .container
    = render partial: 'partials/benefits_section'
    %br/
    %br/

.blue-bar
  %br/ 
  %br/

%section.new-section-margin
  .container
    .row
      .col-md-5
        %h3.smaller-heading.black.align-center Online Access to Your Stuff
      .col-md-7
    .row
      .col-md-5
        %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/Online-Item-Access.png", :alt => ""}/
      .col-md-6.col-md-offset-1
        %ul.bullet-list
          %li Each of your items is listed on your dashboard along with a photo so you'll always know what you have in storage. (You can upload photos of your choice, or you can leave that to our drivers).
          %li It's easy to order exactly what you need back, without digging through storage.
          %li You can order pickups and deliveries with the click of a button. Of course, if you ever want to do things over the phone, you can always call.
    %br/
    %br/

.blue-bar
  %br/ 
  %br/

%section.new-section-margin
  .container
    .col-md-12.align-center
      %h2.black Security and Insurance
    .container.row.align-center.big-text
      = render partial: 'partials/security_section'

%br/

%section   
  %br/ 
  .row
    .col-md-12
      .row.homepage-started-row
        .col-md-12
          %h3.dark-gray
            On Demand Storage: 
            %b.blue Made for Your Busy Life
        .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
          .boxed-gray.continue-button.pull-left
            %a.white{"href" => "/signup"}
              %button.btn.btn-primary.blue-bg.blue-bg-hover Reserve Pickup

= render :partial => 'partials/footer'

