- content_for :title do
  = "How Quickbox Works |"
- if current_user
  = render :partial => 'partials/logged_in_header'
- else
  = render :partial => 'partials/signup_header'

%section
  .container
    .col-md-12.align-center
      .section-heading
        %br/
        %br/
        %br/
        %h1 Quickbox Overview
        %p.align-center
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %p.align-center
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
        %br/
        %br/
    .col-md-12.align-center
      %h2.black Simple Storage in Three Easy Steps
      .col-md-4.align-center
        %h3.black.lowercase We Pick It Up
        %img.width-80-no-mgn{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", :alt => ""}/
        %p.width-80-no-mgn Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      .col-md-4.align-center
        %h3.black.lowercase We Pick It Up
        %img.width-80-no-mgn{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", :alt => ""}/
        %p.width-80-no-mgn Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      .col-md-4.align-center
        %h3.black.lowercase We Pick It Up
        %img.width-80-no-mgn{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", :alt => ""}/
        %p.width-80-no-mgn Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
%br/
%br/

.blue-bar
  %br/ 
  %br/

%section
  .container
    = render partial: 'partials/benefits_section'
    %br/
    %br/

.blue-bar
  %br/ 
  %br/

%section.new-section-margin
  .container
    .row
      .col-md-5
        %h3.smaller-heading.black.align-center Online Access to Your Stuff
      .col-md-7
    .row
      .col-md-5
        %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", :alt => ""}/
      .col-md-6.col-md-offset-1
        %ul.bullet-list
          %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer.
    %br/
    %br/

.blue-bar
  %br/ 
  %br/



= render :partial => 'partials/footer'

