

/ = render :partial => 'partials/althome_header'
= render :partial => 'partials/basic_header'

/ # = render :partial => 'partials/signup_bottom_bar'
= javascript_include_tag "new_homepage"
 
/ %p= link_to 'Login', new_user_session_path
#homepage.align-center.landing-page-1
  %h1.no-margin.white.top-bar-title
    Storage Made For Your Budget

  .container

    / = render partial: 'partials/error_messages_object_form', locals: {object: @subscriber}
  // First Page
  %section#introSection.align-center.landing-page{ style:"background-image: url('https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png');"}
    .col-md-10.col-md-offset-1.align-center
      %h3.white.no-margin Get 50% Off Your First Month When You Signup Below


    #introSectionContentWrapper
      / %br.hide-on-small 
      .container#main-fold
          
        %br/ 
        %br/ 
        %br/ 
        .main-images.row
          .col-md-7.col-sm-4#fold-img.landing-fold-img
            %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/TV_Movers_Storate_QuickBox.jpg", :alt => ""}/

          .col-md-4.col-md-offset-1.col-sm-8.align-left.no-padding
            %p.align-left QuickBox On Demand Storage comes directly to you, preforms all the hard work of moving and storing. At a price that can't be beat!
            %br/ 

            // This is the signup box
            .signup-white
              %h3.white#fold-subtitle Signup For Your Storage Disconut
              / %hr.white/ 
              %br/ 
              = form_for Subscriber.new do |f|
                #test123
                  .row
                    .col-md-3.align-right.no-padding
                      / %p.dark-gray Email:
                      %label.dark-gray.hide-on-small{:for => "name"} Name:
                    .col-md-9
                      = f.text_field :name, placeholder: 'Name', class: 'form-control gray-placeholder', required: 'true'
                  %br/ 
                  .row
                    .col-md-3.align-right.no-padding
                      / %p.dark-gray Email:
                      %label.dark-gray.hide-on-small{:for => "email"} Email:

                    .col-md-9
                      = f.email_field :email, placeholder: 'email', class: 'form-control gray-placeholder', required: 'true'
                      %br/ 
                  .boxed-gray.continue-button
                    / %a.white{"href" => "/signup"}
                    %button.btn.btn-primary.blue-bg.blue-bg-hover.no-margin{style: 'font-size: 18px;'}
                      = f.submit "Email My 50% Off Promo"
            / .signup-button
            /   .boxed-gray.continue-button
            /     %button.btn.btn-primary.blue-bg.blue-bg-hover.no-margin{style: 'font-size: 18px;'} Or Sign Up Now!

        %br/ 
        %br/ 
    
      .slider-wrapper.hidden
        %ul.bxslider 
          %li 
            %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage-1.png", :alt => ""}/
          %li 
            %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage-2.png", :alt => ""}/ 
          %li 
            %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage-3.png", :alt => ""}/ 
        %img{:src => "", :alt => ""}/ 
      %br/ 

  // Divider Blue Bar
  .black-bar#signup-about
    %br/
    .col-md-4
      %p.white.big-text "QuickBox had super fast service, and pretty much took care of all the work of storing my belongings. I didn’t even have to rent a moving truck!" ~ John G. Boulder, Colorado
    .col-md-4
      %h2.white Benefits
    .col-md-4
      %p.white.big-text "Their staff took great care when moving my stuff. Everything came back in the great condition." ~ Carol S. Denver, Colorado

    %br/
    %br/
    %br/
    %br/



  // Pickup and Delivery Process Section
  %section.pickup-delivery-process.container
    %br/ 
    %br/ 
    %br/
    .col-md-4
      %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", :alt => ""}/
      %h3.black Save Time
      %p Moving & Storage is a time consuming activity. When QuickBox takes care of the logistics you save time for the more important things in life. 
    .col-md-4
      %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_2.png", :alt => ""}/
      %h3.black Less Effort
      %p Our team does all of the heavy lifting so you won’t have to. We make sure your items are ready for transport, and make the move happen. 
    .col-md-4
      %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", :alt => ""}/
      %h3.black Save Money
      %p Time is money, but with QuickBox you save more than just that. Our service is priced below or at traditional self storage prices while delivering way more service.  

  %br/ 
  %br/ 
  %br/
  
  // Pricing Section
  .blue-bar#signup-pricing
    %br/ 
    %h2.white Features

    %br/ 
  %br/ 

  %section.pickup-delivery-process.container
    %br/ 
    %br/ 
    %br/
    .col-md-4
      %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", :alt => ""}/
      %h3.black Secure
      %p Our facility is secured with state of the art technology, backed by quality insurance, background checked employees and tailored logistics training. We’ll make sure you’re stuff is safe. 
    .col-md-4
      %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_2.png", :alt => ""}/
      %h3.black On Demand
      %p We’re here for you when you need us because time is of the essence. We show up when you need us on your schedule. 
    .col-md-4
      %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", :alt => ""}/
      %h3.black Professional Staf
      %p We’re licensed, bonded and insured so you can rest easy knowing QuickBox will take care of it. Never worry about your stuff again.  
  %br/


  
  %section   
    %br/ 


    .row
      .col-md-12
        .row.homepage-started-row
          .col-md-12
            %h3.dark-gray
              On Demand Storage: 
              %b.blue Made for Your Busy Life
          .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
            .boxed-gray.continue-button.pull-left
              %a.white{"href" => "/signup"}
                %button.btn.btn-primary.blue-bg.blue-bg-hover Get an Instant Quote Now!

  .container
    .row
      .col-md-10.col-md-offset-1
  = render partial: "partials/feedback_tab"
  = render :partial => 'partials/footer'

/ = javascript_include_tag "item_selector"

:javascript
  resizeDiv();


  $(".scroll-to-vid").click(function(){
    $('html, body').animate({scrollTop: $("#signup-action").offset().top - ($(window).height()-50)/2}, 1000);
  });

  $("#scroll-to-about").click(function(){
    $('html, body').animate({scrollTop: $("#what-we-do").offset().top - 100}, 600);
  });

  $("#what-we-do-link").click(function(){
    $('html, body').animate({scrollTop: $("#what-we-do").offset().top - 100}, 800);
  });

  $("#save-much-link").click(function(){
    $('html, body').animate({scrollTop: $("#save-much").offset().top - 100}, 800);
  });

  $("#works-link").click(function(){
    $('html, body').animate({scrollTop: $("#works").offset().top - 100}, 1000);
  });

  $(".scroll-to-about").click(function(){
    $('html, body').animate({scrollTop: $("#signup-about").offset().top - 100}, 600);
  });

  $(document).ready(function(){
    resizeDiv();
  });


