- content_for :title do
  = "QuickBox Storage Service Agreement |"
- if current_user
  = render :partial => 'partials/logged_in_header'
- else
  = render :partial => 'partials/signup_header'

/ BLUE HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header.single-row
  .row
    .col-md-6.align-center
      %h1 QuickBox Storage Service Agreement
    .col-md-1.col-md-offset-4.col-sm-4.col-xs-4.align-center
      .service-box.no-label
        .service-icon
          %i.fa.fa-question-circle.fa-3x
/ END SECONDARY HEADER


/ Section: ITEM SELECTION
%section#about.home-section
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %br/
            %h4 
              QuickBox Storage Service Agreement
              %br/
              (Effective as of February 4, 2014)
          %p Experiencing an issue with your QuickBox service? File a claim or offer feedback.
          %p Thank you for using the QuickBox service. The following Terms of Service control your use of the QuickBox storage services, as defined in Section 1a below.
          %p Please read this agreement carefully. Because it is such an important contract between us and you, our users, we have tried to make it as clear and user-friendly as possible. For your convenience, we have presented these terms in a non-binding summary format as well as the full legalese. You can click on any of the topics to read the full legally binding text of each section. Please read each section thoroughly.
          %br/
          %h5 Definitions
          %p The following terms are used throughout the agreement, and have specific meanings. You should know what each of the terms means.
          %ul.tos-list
            %li The "Storage Service" refers to the pickup, transport, storage, and delivery services provided by QuickBox.
            %li
              The "Agreement" refers, collectively, to all the terms, conditions, and notices contained or referenced in it. It is also controlled by the
              %a{href: terms_of_service_path, target: '_blank'}QuickBox Online Terms of Service
            %li The "Website" refers to QuickBox's website located at http://www.quickbox.com/, and all content, services, and products available at or through the Website, notably access to the User Account which provides the Subscriber access to his or her boxes.
            %li "The Subscriber," "You," and "Your" refer to the individual person that is entering into this Agreement with us, or his or her representative.
            %li "QuickBox," "We," and "Us" refer to QuickBox LLC, as well as its affiliates, directors, subsidiaries, contractors, licensors, officers, agents, and employees.
            %li "Subscriber property" refers to any material objects, goods, or items stored or held by QuickBox
          %br/
          %h5 User Responsibilities and Restrictions
          %p You are allowed to use the Storage Service as long as you follow a few basic rules.    
          %ul.tos-list
            %li Safe Packing. You are responsible for packing your items in a manner that ensures that they can be transported and stored without damage.
            %li No Abandonment. You are responsible for paying your QuickBox fees on time and ensuring that your subscription to QuickBox does not lapse. In the event that you fail to pay your fees or you do not retrieve your items, we will send you a Notice of Abandonment at the address you listed in your User Account. You may reclaim abandoned property by following the instructions in the notice we send you within the time limit stated in the notice. If you do not reclaim abandoned property, we may dispose of it.  
            %li Content of QuickBox boxes. You may not store any of the following items in QuickBox boxes:
            %ul.tos-list
              %li Living things;
              %li Firearms;
              %li Explosives;
              %li Flammables of any kind (gas, diesel, kerosene, oil, paint, etc.);
              %li Drugs or drug paraphernalia;  
              %li Stolen items;
              %li Illegal items;
              %li Hazardous items of any kind;
              %li Hazardous or toxic waste material of any kind;
              %li Items that produce odors of any kind; or
              %li Any item which does (or may) detrimentally affect anything that is outside of your box (such as the boxes of other users, the storage facility, etc).
            %li Compliance With Laws. You are responsible for complying with local, state, and federal laws, rules, and regulations regarding storage of items, as well as all QuickBox policies. You represent and warrant that: (i) you have the authority to, and are of legal age to, bind yourself to this Agreement; (ii) your use of the Storage Service will be solely for purposes that are permitted by this Agreement; and (iii) your use of the Storage Service will comply with all local, state and federal laws, rules, and regulations, and with all other QuickBox policies.
          %br/
          %h5 QuickBox Responsibilities
          %p QuickBox has a streamlined system for pickup, storage, and delivery of your property.
          %ul.tos-list
            %li Pickup and Transport. QuickBox will deliver an empty QuickBox box to the Subscriber's home. Once you pack the box, a QuickBox employee will pick up Subscriber Property, register the box into our tracking system, and issue you a receipt. QuickBox will transport the Subscriber Property to our secure warehouse. In the event that you are not present when QuickBox arrives to pick up your boxes, you will have to schedule a new pickup time.
            %li Storage and Protection. QuickBox will store Subscriber Property in a secure warehouse.  
            %li Retrieval and Delivery. When you request a box, QuickBox will pick up Subscriber property at our secure warehouse and transport it to your home or office when you are available to receive it.  
          %br/
          %h5 Termination
          %p You may cancel this agreement and close your account at any time.
          %ul.tos-list
            %li If you choose to terminate the Agreement, you will be responsible for paying all fees for the calendar month in which termination occurs.
            %li We may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective upon written notice to you.
            %li If we terminate the Agreement, we will arrange for any of your Subscriber Property that we still hold to be delivered to you. This delivery will be at our expense, unless termination is due to your breach of this Agreement, in which case you are responsible for costs.
          %br/
          %h5 Payment
          %ul.tos-list
            %li Pricing and Billing. Our pricing and payment terms are available at http://quickbox.com/#pricing. We will notify users of any change in pricing structure 30 days prior to the change taking effect.  
            %li Monthly Billing. We, or a third party payment processor working on our behalf, will charge your on-file credit card or PayPal account each month.
            %li Cancellation. You may cancel your subscription at any time by logging on to your User Account or contacting support; however, you will be billed for the remainder of the payment term.
            %li Disputes. Please contact team@quickbox.com to discuss any disputes regarding payment.
            %li Authorization. By agreeing to these Terms, you are giving us permission to charge your on-file credit card, PayPal account, or other approved methods of payment for fees that you authorize for QuickBox. Depending on the transaction, we may charge you on a one-time or recurring basis.  
            %li Responsibility for Payment. You are responsible for all fees, including late fees and taxes, associated with your use of the Storage Service.By using the Storage Service, you agree to pay QuickBox any charge incurred in connection with your use of the Storage Service, unless you dispute the matter. You are responsible for providing us with a valid means of payment.
            %li Our Responsibilities. We agree to present you with a full invoice of each charge in advance of charging your credit card or PayPal account. In the event of a disputed charge, we may provide refunds on a case-by-case basis.
          %br/
          %h5 Limited Warranty
          %p We will do our best to provide professional storage service by trained personnel. However, we make no other promises or guarantees about this service. Please read this section carefully; you should understand what to expect.
          %ul.tos-list
            %li QuickBox warrants that the Storage Service will be provided in a professional and workmanlike manner by personnel trained with respect to that Service. Except as provided in this section, QuickBox makes no representations or warranties of any kind. QuickBox expressly disclaims all warranties, whether express, implied or statutory, regarding the Storage Service including without limitation any warranty of merchantability or fitness for a particular purpose.
            %li Some jurisdictions limit or do not permit disclaimers of warranty, so this provision may not apply to you.
          %br/
          %h5 Limitation of Liability
          %p In the event of damages or losses arising from your use of the service or arising under this agreement, our liability is limited. Please read this section carefully; it limits our obligations to you.
          %ul.tos-list
            %li In the event of any loss, damage, or destruction of Subscriber Property caused by QuickBox's breach of any obligation to Subscriber, QuickBox's liability will be limited to direct damages in the amount of the cost (fair market value) of the Subscriber Property, up to US $200.00.  
            %li With respect to all other claims, in no event will QuickBox be liable to you for any loss of profits, use, or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, even if foreseeable, that result from (i) your use or inability to use the Service; (ii) the Service generally; the timeliness or availability of deliveries; or your access to Subscriber Property; or (iii) any other interactions with QuickBox, whether based on warranty, contract, tort (including negligence) or any other legal theory, and whether or not we have been informed of the possibility of such damage, and even if a remedy set forth in this agreement is found to have failed of its essential purpose. We will have no liability for any failure or delay due to matters beyond our reasonable control.  
            %li Force majeure. QuickBox will not be liable for any default or delay in performance of any of our obligations under this Agreement, or for the damage or destruction of any Subscriber Property, if caused, directly or indirectly, by fire, earthquake, flood, the elements, or other such causes; labor disputes, strikes, or lockouts; wars, acts of terrorism, riots, or civil disorder; environmental disaster; accidents or unavoidable casualties; interruptions of or delays in transportation or communication; governmental action or change in regulation; or any similar cause beyond QuickBox's control. QuickBox agrees to maintain a reasonable disaster response plan for providing the Storage Service during an event of Force Majeure, and to implement that plan during such periods within a commercially reasonable period of time.
            %li Some jurisdictions limit or do not permit disclaimers of liability, so this provision may not apply to you.
          %br/
          %h5 Release and Indemnification
          %p You are responsible for your use of the service. If you harm someone else, misuse our storage, or get into a dispute with someone else, we will not be involved.
          %ul.tos-list
            %li You agree to indemnify and hold harmless QuickBox from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Storage Service, including but not limited to your violation of this Agreement or misuse of the Storage Service.
          %br/
          %h5 Modification of Terms of Service
          %p QuickBox may modify this agreement, but we will notify users of changes that affect your rights.
          %ul.tos-list
            %li QuickBox reserves the right, at our sole discretion, to amend these Terms of Service at any time and will update these Terms of Service in the event of any such amendments. QuickBox will notify our Users of material changes to this Agreement in the subscription period prior to the change taking effect by posting a notice on our home page and sending an email to the email address you provided to us. Non-material modifications will be posted on the QuickBox website, and take effect at the beginning of the next subscription period.
          %br/
          %h5 Arbitration Agreement
          %p In the unlikely event that a dispute arises between you and us, you agree to resolve most claims through individual arbitration. The following section explains our arbitration policy. Please read it very carefully, as it affects your rights.
          %ul.tos-list
            %li Arbitration. Should a dispute arise between you and QuickBox, we would like to provide you with a neutral and cost-effective means of resolving the dispute quickly. Therefore, for any claim (except for claims for injunctive or equitable relief or claims regarding intellectual property rights) under this Agreement where the total amount of the award sought is less than $75,000, either party may elect to resolve any dispute arising under this Agreement through binding non-appearance-based arbitration.  
            %li Procedure. Any disputes arising with respect to this Agreement shall be settled by arbitration in accordance with the rules and procedures of the Judicial Arbitration and Mediation Service, Inc. ("JAMS"). The arbitrator shall be selected by joint agreement of the parties. In the event the parties cannot agree on an arbitrator within thirty (30) days of the initiating party providing the other party with written notice that it plans to seek arbitration, the parties shall each select an arbitrator affiliated with JAMS, which arbitrators shall jointly select a third such arbitrator to resolve the dispute. The written decision of the arbitrator shall be final and binding on the parties and enforceable in any court. The arbitration proceeding shall take place in Denver, Colorado, using the English language. Both parties agree that this Agreement is the complete and exclusive statement of the mutual understanding of the parties and supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of this Agreement and, except as otherwise provided herein, that all modifications must be in a writing signed by both parties.
            %li No Right to Jury Trial. You acknowledge that you are waiving your right to a jury trial. Section 10 of this agreement is governed by the Federal Arbitration Act.
          %br/
          %h5 Miscellaneous
          %p This agreement is controlled by Colorado law. You, and you alone, are responsible for any obligations you agree to under this contract. If we are involved in a merger or we are bought, we may transfer this agreement, as long as your rights are protected. You may only agree to these terms if you are able to form a binding contract in your state. These terms, including our Privacy Policy, are the complete agreement between us, and no other terms apply.  
          %ul.tos-list
            %li Governing Law. Except to the extent applicable law provides otherwise, this Agreement between you and QuickBox and any access to or use of the Website or the Service are governed by the federal laws of the United States of America and the laws of the State of Colorado, without regard to conflict of law provisions. You and QuickBox agree to submit to the exclusive jurisdiction and venue of the courts located in the City of Denver, Colorado, except as provided elsewhere in this Agreement.
            %li Limitation of Term of Action . You agree that any cause of action related to or arising out of your relationship with QuickBox must commence within ONE year after the cause of action accrues. Otherwise, such cause of action is permanently barred.
            %li Non-Assignability. QuickBox may assign or delegate this Storage Service Agreement, in whole or in part, to any person or entity at any time with or without your consent. You may not assign or delegate any rights or obligations under the Storage Service Agreement without QuickBox's prior written consent, and any unauthorized assignment and delegation by you is void.
            %li Section Headings and Summaries Non-Binding. Throughout this Agreement, each section includes titles and brief summaries of the following terms and conditions. These section titles and brief summaries are not legally binding.  
            %li Severability . If any part of this Agreement is held invalid or unenforceable, that portion of the Agreement will be construed to reflect the parties' original intent. The remaining portions will remain in full force and effect. Any failure on the part of QuickBox to enforce any provision of this Agreement will not be considered a waiver of our right to enforce such provision. Our rights under this Agreement will survive any termination of this Agreement.
            %li Complete Agreement. This Agreement, together with the QuickBox Terms of Service and all other documents incorporated within it, represent the complete and exclusive statement of the agreement between you and QuickBox. This Agreement supersedes any proposal or prior agreement oral or written, and any other communications between you and QuickBox relating to the subject matter of these terms. This Agreement may only be modified by a written amendment signed by an authorized executive of QuickBox, or by the posting by QuickBox of a revised version.
          %p You acknowledge that you have read these Terms of Service, understand the Terms of Service, and will be bound by these terms and conditions.


= render :partial => 'partials/footer'
= render :partial => 'partials/javascriptSource'