- content_for :title do
  = "New Pickup Request |"
= render partial: 'partials/standard_header'
= render partial: "partials/blue_bar", locals:{mainText:"Schedule A Pickup", dashboard:true, faq:true}
= render :partial => 'partials/nudge_icon'
= render partial: 'partials/error_messages_object_form', locals: {object: @pickup_request}


/ Section: ITEM SELECTION
%section#about.home-section.text-center
  / .heading-about.marginbot-20
  /   .container
  /     .row
  /       .col-lg-8.col-lg-offset-2
  /         .section-heading
  /           %h2 Request A Pickup

  .container
    .row
      .div
        = form_for (@pickup_request) do |f|
          .row
            / Address Info Section
            .col-md-8.col-md-offset-2
              .row
                = fields_for @user do |field|
                  = render partial: "partials/delivery_addr_date", locals: {field:field, f:f}
                  = render partial: "partials/delivery_date_time", locals: {field:field, f:f, id:"pickup_datepicker", select_id:"delivery_time"}
          .row
            %br/
            .col-md-10.col-md-offset-1
              %h5
                %span.half-opacity No charges will occur until you put items in storage.
            / Add to Order Section
            .col-md-6.col-md-offset-3.half-opacity
              .single-line
              %br/
              %br/


          / Bottom Buttons Section
          .col-md-8.col-md-offset-2
            .row
              .col-md-4.bottom-buttons
                .boxed-gray.continue-button
                  %button.btn.btn-primary.blue-bg.gray-bg{:type => "button"}/
                  = link_to "Back", storage_items_path, class:"white"
                  / %a{:href => "user-newbox.html", :style => "color: white;"} Back
              .col-md-4.col-md-offset-4.bottom-buttons.charges-box
                .boxed-gray.continue-button
                  %button.btn.btn-primary.blue-bg.blue-bg-hover.loadingOnClick#continue-btn{:type => "button"}
                    = f.submit "Confirm Pickup"
            .row.show-on-small
              %p.half-opacity#btn-disabled
                Buttons Disabled? Your address information may need to be validated.
                %br/
                %span.full-opacity.blue.heavy-font Click Here
              / .single-line


= render :partial => "partials/footer"
= render :partial => "partials/storageSizeModal"
