
= render partial: "partials/header"   

/ Section: ITEM SELECTION
%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 REQUEST A NEW PICKUP
  / BODY CONTENT: SELECT ITEMS
  .container
    .row
      .div
      = form_for (@pickup_request) do |f| 
        .col-md-8.col-md-offset-2
          .row
            / Date &amp; Address Box
            .boxed-grey.col-md-12
              / %form#contact-form
              .row.align-left
                .col-md-6
                  .form-group.address-form
                    = f.label :box_quantity, "Confirm Address:"
                    = f.text_field :box_quantity,  autofocus: true, placeholder:"Address Line 1", class:"form-control", id:""
                    = f.text_field :box_quantity,  autofocus: true, placeholder:"Address Line 2", class:"form-control", id:""
                    .row
                      .col-md-6.col-sm-6.col-xs-6.col-lg-6
                        = f.text_field :box_quantity,  autofocus: true, placeholder:"City", class:"col-md-6 form-control", id:""
                        / %input#name.col-md-6.form-control{:placeholder => "City", :required => "required", :type => "text"}/
                      .col-md-3.col-sm-3.col-xs-3.col-lg-3.form-field-wrapper
                        = f.text_field :box_quantity,  autofocus: true, placeholder:"st", class:"form-control", id:""
                        / %input#name.form-control{:placeholder => "st", :required => "required", :type => "text"}/
                      .col-md-3.col-sm-3.col-xs-3.col-lg-3.form-field-wrapper
                        = f.text_field :box_quantity,  autofocus: true, placeholder:"zip", class:"form-control", id:""
                        / %input#name.form-control{:placeholder => "zip", :required => "required", :type => "text"}/
                .col-md-6
                  .form-group
                    .col-md-12
                      .form-group.delivery-date-group
                        / %label{:for => "date-picker"} Delivery Date
                        = f.label :box_quantity, "Delivery Date"
                        = f.text_field :box_quantity,  autofocus: true, placeholder:"Does tomorrow work for you?", class:"form-control", id:""
                        / %input#datepicker.form-control{:name => "date-picker", :placeholder => "Does tomorrow work for you?", :type => "text"}/
                        = f.select  :box_quantity, options_for_select([["Red", "red"], ["Green", "green"]]), {class:"form-control selectpicker"}
                        / =f.select(:state, options_for_select(@states), { :class => 'dropdown'})
                        %br/
                        %label{:for => "date-picker"} Time Of Day
                        %select.form-control.selectpicker
                          %option 6:30AM - 10:00PM
                          %option Ketchup
                          %option Relish
                      %br/ 
            .boxed-grey.col-md-12
              / %form#contact-form
              .row
                .col-md-6.align-left
                  %label{:for => "name"} Phone Number (for delivery)
                  %input#name.form-control{:placeholder => "Address Line 1", :required => "required", :type => "text"}/
                .col-md-6.align-left
                  %label{:for => "name"} Any Special Instructions?
                  %textarea#message.form-control{:cols => "25", :name => "message", :placeholder => "Message", :required => "required", :rows => "2"}
                  %br/ 
            / End Phone Number &amp; Instructions Box
            .col-md-8.col-md-offset-2.half-opacity.charges-box
              %br/
              .single-line
              %br/
            .col-md-12
              %h1 Add To Pickup
              %p.light-gray Would you like us to pick up anything additional? (ex: bikes, furniture, etc.)
            .col-md-12
              .row
                .col-xs-6.col-sm-4.col-md-4.list-item-small
                  .team.boxed-grey
                    .avatar
                      %img.img-responsive{:alt => "", :src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/box-default.jpg"}/
                    .row.list-item-buttons
                      .col-md-12
                        %h4 Standard Box
                      .col-md-7
                        %input#txt-stdbox.form-control.quantity-field{:placeholder => "$6.25/m", :type => "text"}/
                      .col-md-5
                        %button#stdbox.btn.btn-primary.rounded.full-width.btn-inc{:type => "button"} +
                .col-xs-6.col-sm-4.col-md-4.list-item-small
                  .team.boxed-grey
                    .avatar
                      %img.img-responsive{:alt => "", :src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/box-default.jpg"}/
                    .row.list-item-buttons
                      .col-md-12
                        %h4 Standard Box
                      .col-md-7
                        %input#txt-stdbox.form-control.quantity-field{:placeholder => "$6.25/m", :type => "text"}/
                      .col-md-5
                        %button#stdbox.btn.btn-primary.rounded.full-width.btn-inc{:type => "button"} +
                .col-xs-6.col-sm-4.col-md-4.list-item-small
                  .team.boxed-grey
                    .avatar
                      %img.img-responsive{:alt => "", :src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/box-default.jpg"}/
                    .row.list-item-buttons
                      .col-md-12
                        %h4 Standard Box
                      .col-md-7
                        %input#txt-stdbox.form-control.quantity-field{:placeholder => "$6.25/m", :type => "text"}/
                      .col-md-5
                        %button#stdbox.btn.btn-primary.rounded.full-width.btn-inc{:type => "button"} +
                .col-xs-6.col-sm-4.col-md-4.list-item-small
                  .team.boxed-grey
                    .avatar
                      %img.img-responsive{:alt => "", :src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/box-default.jpg"}/
                    .row.list-item-buttons
                      .col-md-12
                        %h4 Standard Box
                      .col-md-7
                        %input#txt-stdbox.form-control.quantity-field{:placeholder => "$6.25/m", :type => "text"}/
                      .col-md-5
                        %button#stdbox.btn.btn-primary.rounded.full-width.btn-inc{:type => "button"} +
                .col-xs-6.col-sm-4.col-md-4.list-item-small
                  .team.boxed-grey
                    .avatar
                      %img.img-responsive{:alt => "", :src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/box-default.jpg"}/
                    .row.list-item-buttons
                      .col-md-12
                        %h4 Standard Box
                      .col-md-7
                        %input#txt-stdbox.form-control.quantity-field{:placeholder => "$6.25/m", :type => "text"}/
                      .col-md-5
                        %button#stdbox.btn.btn-primary.rounded.full-width.btn-inc{:type => "button"} +
                .col-xs-6.col-sm-4.col-md-4.list-item-small
                  .team.boxed-grey
                    .avatar
                      %img.img-responsive{:alt => "", :src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/box-default.jpg"}/
                    .row.list-item-buttons
                      .col-md-12
                        %h4 Standard Box
                      .col-md-7
                        %input#txt-stdbox.form-control.quantity-field{:placeholder => "$6.25/m", :type => "text"}/
                      .col-md-5
                        %button#stdbox.btn.btn-primary.rounded.full-width.btn-inc{:type => "button"} +
            / End Phone Number &amp; Instructions Box
            .col-md-8.col-md-offset-2.half-opacity.charges-box
              %br/
              .single-line
              %br/
            / Payment &amp; Confirmation Box
            .col-md-12.charges-box
              .row
                .col-md-6.confirm-elem.light-blue-bg
                  %h5 Previously Ordered
                  %ul
                    %li
                      %span.order-item Shoe Box
                      %span.pull-right.font-italic.half-opacity Standard Item
                    / 
                    %li
                      %span.order-item Wardrobe Box
                      %span.pull-right.font-italic.half-opacity Standard Item
                    %li
                      %span.order-item Bicycle
                      %span.pull-right.font-italic.half-opacity Standard Item
                    %li
                      %span.order-item Livingroom Couch
                      %span.pull-right.font-italic.half-opacity Furniture / Large Item
                .col-md-6.confirm-elem.light-blue-bg
                  %h5 Pickup Additions
                  %ul
                    %li#num-stdbox
                      %span.pull-left> 12
                      \&nbsp; &nbsp;Standard Boxes
                      %i.pull-right.light-gray $7.50/unit
                    %li#num-warbox
                      %span.pull-left> 3
                      \&nbsp; &nbsp;Warchest Boxes
                      %i.pull-right.light-gray $12.50/unit
                    %li#num-bike
                      %span.pull-left> 1
                      \&nbsp; &nbsp;Gold Boxes
                      %i.pull-right.light-gray $1.50/unit
                    %li#num-chair
                      %span.pull-left> 1
                      \&nbsp; &nbsp;Pickle Boxes
                      %i.pull-right.light-gray $100.50/unit
                    %li
                      Valet Pickup
                      %span.pull-right Free
                  .single-line
                  %ul
                    %li.heavy-font
                      Subtotal
                      %span#order-subtotal.pull-right $00.00/m
           

            .col-md-4.bottom-buttons
              .boxed-gray.continue-button
                %button.btn.btn-primary.blue-bg.gray-bg{:type => "button"}/
                %a{:href => "user-newbox.html", :style => "color: white;"} Back
            / END col-12
            .col-md-4.col-md-offset-4.bottom-buttons
              .boxed-gray.continue-button
                %button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"}/
                %a{:href => "success-delivery.html", :style => "color: white;"} Confirm Order


= render :partial => "partials/footer"

:javascript
  $(".btn-inc").click(function(){
    console.log("button clicked");
    var id = $(this).attr('id');

    // update text field - incrememnt by one
    var field = $("#txt-"+id);
    var val = $(field).val();
    val = +val + 1;
    $(field).val(val);

    // update subtotal

    var orderEntrySpan = $('#num-'+id+" span");
    // redoCalculations();
    refreshOrder(val, orderEntrySpan);
  });

  $(".quantity-field").change(function(){
    var field = $(this);
    var id = field.attr("id");
    var idRoot = id.substr(4);
    console.log(idRoot);
    console.log(field.attr('id'));
    var orderEntrySpan = $('#num-'+idRoot+ " span");
    refreshOrder(field.val(), orderEntrySpan);
  });

  function refreshOrder(val, orderEntrySpan){
    console.log("REFERESHING ORDER");
    orderEntrySpan.html(parseInt(val));
    var orderEntry = orderEntrySpan.parent();
    
    if (val == 0) orderEntry.addClass('hidden');
    else orderEntry.removeClass('hidden');
    
    redoCalculations();
  }

  function redoCalculations(){
    var numCouches = $('#txt-couch').val();
    var numStdBox = $('#txt-stdbox').val();
    var numWarBox = $('#txt-warbox').val();
    var numBike = $('#txt-bike').val();
    
    var totalItems = numBike + numCouches + numStdBox + numWarBox;
    if (totalItems > 0) $('#no-items').addClass('hidden');
    else $('#no-items').removeClass('hidden');

    var total = 15.00*numBike + 30.00*numCouches + 6.25*numStdBox + 12.00*numWarBox;
    console.log("total:" + total);
    $('#order-subtotal').text("$" + total+"/m");

      if (tota < 0.1) $("#requst-btn").attr("disabled", "disabled");
    else {
      console.log("Delivery BUTTON REMOVING DISABLED");
      $("#delivery-button").removeAttr("disabled"); 
      $(".pickup-entry").removeClass("selected-item");
      $("#pickup-button").attr("disabled", "disabled");
      numPickupItems = 0;  
     } 
  }
