
= render partial: "partials/logged_in_header"   
= render partial: "partials/blue_bar", locals:{mainText:"Item Pickup", dashboard:true, faq:true}
= render :partial => 'partials/nudge_icon'
= render partial: 'partials/error_messages_object_form', locals: {object: @pickup_request}


/ Section: ITEM SELECTION
%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 Request A Pickup

  .container
    .row
      .div
        = form_for (@pickup_request) do |f| 
         
          / Address Info Section
          .col-md-8.col-md-offset-2
            .row
              = fields_for @user do |field|
                = render partial: "partials/delivery_addr_date", locals: {field:field, f:f}
                = render partial: "partials/delivery_date_time", locals: {field:field, f:f, id:"pickup_datepicker", select_id:"delivery_time"}

                
          
          / Add to Order Section
          .col-md-6.col-md-offset-3.half-opacity
            %br/
            %br/ 
            .single-line
            %br/
            %br/ 
          .col-md-12
            %h1.no-margin Add To Pickup
            %br/ 
          = render partial: "partials/storage_items", locals:{f:f}
          

          / Bottom Buttons Section
          .col-md-8.col-md-offset-2
            .row
              .col-md-4.bottom-buttons
                .boxed-gray.continue-button
                  %button.btn.btn-primary.blue-bg.gray-bg{:type => "button"}/
                  = link_to "Back", storage_items_path, class:"white"
                  / %a{:href => "user-newbox.html", :style => "color: white;"} Back
              .col-md-4.col-md-offset-4.bottom-buttons.charges-box
                .boxed-gray.continue-button
                  %button.btn.btn-primary.blue-bg.blue-bg-hover.loadingOnClick#continue-btn{:type => "button", disabled: true}
                    = f.submit "Confirm Delivery"

= render :partial => "partials/footer"
= render :partial => "partials/storageSizeModal"


= javascript_include_tag "item_selector"

:javascript
  

  $(document).ready(function() { 
    valQuantityAddrDelivery("#validator-id", "#continue-btn", ".quantity-field", "#datepicker-value", "#delivery_time");

    $(".form-control").on('input', function() {
      valQuantityAddrDelivery("#validator-id", "#continue-btn", ".quantity-field", "#datepicker-value", "#delivery_time");
    });

    $(".btn-inc").click(function() {
      valQuantityAddrDelivery("#validator-id", "#continue-btn", ".quantity-field", "#datepicker-value", "#delivery_time");
    });

    $(".small-entry .btn").click(function() {
      valQuantityAddrDelivery("#validator-id", "#continue-btn", ".quantity-field", "#datepicker-value", "#delivery_time");
    });
  });

 

   
