- content_for :title do
	= "Delivery Request |"
= render partial: 'partials/standard_header'

= render partial: "partials/driver_confirmation", locals:{deliveryTime:"#{@delivery_request.best_delivery_time.strftime("%B %d")}", title: "Your Items Are On Their Way!", description:"Your items are scheduled to be delivered on "}


= render partial: "partials/footer"
