/ THIS IS ONLY FOR DETAIL VIEWS
= form.fields_for :storage_items do |field|  
  .row.storage-item.detail-item
    .row
      .col-md-6
        - if false
          %p
            %span Item ID:
            #{field.object.id}
        .new-item-attribute
          = field.label :title, "Title:"
          = field.text_field :title, class:"col-md-6 form-control", id:""
        .new-item-attribute
          = field.label :description, "Description:"
          = field.text_field :description,  autofocus: true, placeholder:"", class:"col-md-6 form-control", id:""
        .new-item-attribute
          = field.label :image, "Item Image"
          = field.file_field :image, class:"align-center"
      .col-md-6
        / image
        - if field.object.image?
          %p
            / # = image_tag "#{field.object.image.url}"
            %span Item image:
          .crop-mask
            %img{src: "#{field.object.image_url}"}/
        - else
          %p
            %span [No item image]
            \- please take one
          .crop-mask
            %img{src: "#{field.object.image_url}"}/
    .single-dashed-line
    .row
      .col-md-6
        .new-item-attribute
          = field.label :storage_location, "Storage Location:"
          = field.text_field :storage_location,  autofocus: true, placeholder:"", class:"col-md-6 form-control", id:""
        .new-item-attribute
          = field.label "Item Type:"
          = field.select  :item_type, options_for_select(["small", "medium", "large", "extra_large"], selected: field.object.item_type), {}, {class:"form-control selectpicker"}
      .col-md-6
        .new-item-attribute
          = field.label "ID:"
          = field.text_field :id,  autofocus: true, placeholder:"", class:"col-md-6 form-control", id:"", readonly: true
          .no-opacity hidden
        .new-item-attribute
          = field.label :notes, "Notes:"
          = field.text_field :notes,  autofocus: true, placeholder:"", class:"col-md-6 form-control", id:""
    .row
      .col-md-12
        = field.check_box :_destroy
        = label :_destroy, "Delete Item"

       