

= form.fields_for :storage_items do |field|  
  .row.storage-item.detail-item
    .row
      .col-md-6
        %ul.no-list 
          %li 
            %p 
              ID:
              %span.pull-right= field.object.id
              / #{field.object.id}
          %li 
            %p 
              Title:
              %span.pull-right= field.object.title
          %li 
            %p 
              Item Type
              %span.pull-right #{field.object.item_type}
          %li 
            %p 
              Location:
              %span.pull-right= field.object.storage_location                            
          %li 
            %p 
              Notes:
              %span.pull-right= field.object.notes
              / %span.pull-right #{item.item_type}
          %li 
            .single-dashed-line
          %li 
            = field.label :item_not_delivered, 'This Item Was Not Delivered', class: 'blue pull-right'
            = field.check_box :item_not_delivered, {class: 'pull-left', id: "box-#{field.object.id}"}
            = field.hidden_field :id
      .col-md-6
        / image
        - if field.object.image?
          %p
            / # = image_tag "#{item.image.url}"
            %span Item image:
          .crop-mask
            %img{src: "#{field.object.image_url}"}/
        - else
          %p
            %span Item Image:
          .crop-mask
            %img{src: "#{field.object.image_url}"}/
      
