
=# render :partial => 'partials/althome_header'
= render partial: 'partials/standard_header', locals: {homepage: true}
= render partial: 'partials/signup_bottom_bar'
= javascript_include_tag "new_homepage"
= javascript_include_tag "pricing"

/ %p= link_to 'Login', new_user_session_path
#homepage.align-center
  .container
    = render partial: 'partials/error_messages_object_form', locals: {object: @subscriber}
  // First Page
  %section#introSection.align-center.landing-page{ style:"background-image: url('#{main_img}');"}
    #introSectionContentWrapper
      %br/ 
      %br.hide-on-small 
      / %br.hide-on-small
      / %br.hide-on-small 
      / %br.hide-on-small
      .container#main-fold{class:"#{extra_classes}"}
        .main-images.row
          .col-md-10.col-md-offset-1.align-center
            %h1.white= title
        %br/ 
        %br/ 
        %br/ 
        .main-images.row
          .col-md-4.col-sm-4#fold-img.no-padding
            %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/badge.png", :alt => ""}/
          .col-md-8.col-sm-8.align-left
            %h3.white#fold-subtitle= subtitle
            / %hr.white/ 
            %br/ 
            %ul.white#fold-description
              %li= description1
              %li= description2
              %li= description3
            / %p.white#fold-description
            /   = description
            %br/ 
            %br/ 
  
            %div#homepage-calltoaction.left
              = link_to new_signup_pages_path, class:"homepage-buttons" do
                %span#get-storage-homepage-button Get Storage

          / .col-md-4.col-sm-4#fold-img.no-padding
          /   %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/badge.png", :alt => ""}/

        %br/ 
        %br/ 
    
      .slider-wrapper.hidden
        %ul.bxslider 
          %li 
            %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/homepage-1.png", :alt => ""}/
      %br/ 

  // Divider Blue Bar
  .blue-bar#signup-about.hide-on-small
    .tab.pull-right
      %h5.white.scroll-to-about.pointer
        %i.icon-arrow-down
        Want More Details?
        %i.icon-arrow-down
    %br/ 
    %h2.white How Does QuickBox Work?
    %br/ 


  // Pickup and Delivery Process Section
  %section.pickup-delivery-process.container
    %br/ 
    %br/ 
    %br/
      
    .container
      %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/new-pickups-work.png", :alt => ""}/
      %br/ 
      %br/ 
      %br/ 
      %p.center-margin.width-60.full-width-small.section-description
        Request a pickup through your personal dashboard. Pick a time convenient for you!
      %p.center-margin.width-60.full-width-small.section-description
        Answer a few questions about the size of your items so we can send the right movers.
      %p.center-margin.width-60.full-width-small.section-description
        We'll arrive ready to move & securely store your items.
      %p.center-margin.width-60.full-width-small.section-description
        Anytime you want your stuff, we'll deliver it back to you.
      %br/
      .header-link
        %h3.dark-gray
          Still have Questions? View our
          %a{:href => "/faq"} FAQ
          or
          %a{:href => "/contact"} Contact Us Directly.



  %br/ 
  %br/ 

  
  // Pricing Section
  .blue-bar#signup-pricing
    %br/ 
    %h2.white Pricing

    %br/ 
  %br/ 
  %br/
  %br/ 
  %section
    / %br/ 
    .container.row.pricing-wrapper#pricing-section
      %h3.dark-gray.no-margin
        %span.blue Flexible Pricing
        By The Item
      %br/ 
      %p.dark-gray.width-80 With by the item pricing, QuickBox only charges you for the space you use.
      %p.dark-gray.width-80 Storing a lot of items? Give us a call at (720)583-5826 and we will work out a bulk discount for you! We will always beat the best price in town!
      / %hr.width-80.half-opacity
      = render partial: 'partials/item_price_box', locals: {icon_class: 'box', item_size: 'small', item_name: 'Small', item_price: 'small', item_description: 'Boxes, tires, bags, or similarly sized objects'}
      = render partial: 'partials/item_price_box', locals: {icon_class: 'bike', item_size: 'medium', item_name: 'Medium', item_price: 'medium', item_description: 'Bikes, chairs, skis, luggage, or coffee tables'}
      = render partial: 'partials/item_price_box', locals: {icon_class: 'couch', item_size: 'large', item_name: 'Large', item_price: 'large', item_description: 'Desks, drawers, TV\'s, armchairs, or small couches'}
      = render partial: 'partials/item_price_box', locals: {icon_class: 'bed', item_size: 'large', item_name: 'XL', item_price: 'extra_large', item_description: 'Dining tables, large bedframes, sectional couches'}
    %br/ 
    %br/

    .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
      .boxed-gray.continue-button 
        %a.white{"href" => "javascript:;"}
          %button.btn.btn-primary.blue-bg.blue-bg-hover.small-btn#estimate-now
            Get an Instant Quote
            %br/
            with our Estimator Tool
    = render partial: 'partials/estimator', locals: {sign_up_flow: false}

    %br/
    %br/

    %br/ 
    %br/



    / .container.row.pricing-wrapper
    /   %h3.dark-gray.no-margin
    /     %span.dark-blue Traditional Pricing
    /     By The Space 
    /   %br/
    /   %p.light-gray.width-80 Storage by the space is great if you have a lot to store. We still itemize your belongings so you can have individual items delivered, but payment is based on area rather than item count. 
    /   %br/ 
    /   / %hr.width-80.half-opacity

    /   .col-md-4.pricing-block
    /     %i.pricing-icon.icon-5x10.by-space
    /     .pricing-info
    /       .pricing-title.by-space
    /         %h3 5' x 10'
    /       .price
    /         %h3.dark-gray $75.00
    /         %p.price-subtext per month
    /       .price-description
    /         %p
    /           As much as you can fit in a
    /           %br/ 
    /           5' x 10' area.
    /   .col-md-4.pricing-block
    /     %i.pricing-icon.icon-10x10.by-space
    /     .pricing-info
    /       .pricing-title.by-space
    /         %h3 10' x 10'
    /       .price
    /         %h3.dark-gray $140.00
    /         %p.price-subtext per month
    /       .price-description
    /         %p
    /           As much as you can fit in a
    /           %br/ 
    /           10' x 10' area.
    /   .col-md-4.pricing-block
    /     %i.pricing-icon.icon-10x20.by-space
    /     .pricing-info
    /       .pricing-title.by-space
    /         %h3 10' x 20'
    /       .price
    /         %h3.dark-gray $250.00
    /         %p.price-subtext per month
    /       .price-description
    /         %p 
    /           As much as you can fit in a 
    /           %br/ 
    /           10' x 20' area.
    / %br/ 
    / %br/ 
    / %p.light-gray.width-80.align-center
    /   %span.heavy-font 
    /     Can't decide what's best?
    /     %span.dark-blue Don't worry!
    /   %br/ 
    /   We'll always give you
    /   the best price
    /   based on your storage needs.
    .blue-bar.hide-on-small.half-opacity
    %br/ 
    %br/ 
    .container.row.pricing-wrapper
      %h3.dark-gray.no-margin
        Lowest Price
        %span.blue Guarantee!
      %hr.width-80.half-opacity
      %br/ 
      .row
        .col-md-2.col-md-offset-1
          %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/best-price.png", :alt => ""}/ 
        .col-md-8
          %p.align-left
            Already using storage? We'll beat any competitor's monthly price
            %span.heavy-font.blueof by at least 15%
            Send us a copy of your bill and the items you'll be storing and we'll get back to you with an updated quote. 

            %br/ 
            %br/ 
            Contact us at
            %a{:href => "mailto:team@quickbox.com?subject=Lowest%20Price%20Guarantee"} team@quickbox.com
            or give us a call at 720-583-5826 to get started!
      %br/
      %br/ 
      .double-line.half-opacity.width-80.center-margin
    %br/ 
    %br/
  // Pricing Section
  .blue-bar#signup-security
    %br/ 
    %h2.white Safe, simple, secure storage
    %br/ 

  %br/ 
  .container.row.pricing-wrapper.align-center
    = render partial: 'partials/security_section'
  
  %section   
    %br/ 


    .row
      .col-md-12
        .row.homepage-started-row
          .col-md-12
            %h3.dark-gray
              On Demand Storage: 
              %b.blue Made for Your Busy Life
          .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
            .boxed-gray.continue-button.pull-left
              %a.white{"href" => "/signup"}
                %button.btn.btn-primary.blue-bg.blue-bg-hover Reserve Pickup

  .container
    .row
      .col-md-10.col-md-offset-1
  = render partial: "partials/feedback_tab"
  = render :partial => 'partials/footer'

/ = javascript_include_tag "item_selector"

:javascript
  resizeDiv();


  $(".scroll-to-vid").click(function(){
    $('html, body').animate({scrollTop: $("#signup-action").offset().top - ($(window).height()-50)/2}, 1000);
  });

  $("#scroll-to-about").click(function(){
    $('html, body').animate({scrollTop: $("#what-we-do").offset().top - 100}, 600);
  });

  $("#what-we-do-link").click(function(){
    $('html, body').animate({scrollTop: $("#what-we-do").offset().top - 100}, 800);
  });

  $("#save-much-link").click(function(){
    $('html, body').animate({scrollTop: $("#save-much").offset().top - 100}, 800);
  });

  $("#works-link").click(function(){
    $('html, body').animate({scrollTop: $("#works").offset().top - 100}, 1000);
  });

  $(".scroll-to-about").click(function(){
    $('html, body').animate({scrollTop: $("#signup-about").offset().top - 100}, 600);
  });

  $(document).ready(function(){
    resizeDiv();
  });


