:javascript
  window.small_item_base_price = '#{StorageItem.item_types["small"]}';
  window.medium_item_base_price = '#{StorageItem.item_types["medium"]}';
  window.large_item_base_price = '#{StorageItem.item_types["large"]}';
  window.extra_large_item_base_price = '#{StorageItem.item_types["extra_large"]}';
  window.always_discount = '#{StorageItem.always_discount}';
  window.volume_discounts = JSON.parse('#{StorageItem.volume_discounts.to_json}');
  window.duration_discounts = JSON.parse('#{StorageItem.duration_discounts.to_json}');

= javascript_include_tag :pricing_boxes
= javascript_include_tag :estimator

- if sign_up_flow
  - estimator_classes = ''
- else
  - estimator_classes = ' hidden'

%br/
%section#estimator-page{class: "text-center inventory#{estimator_classes}"}
  .container
    - if sign_up_flow
      - form_url = new_signup_pages_path
    - else
      - form_url = ''
    = form_for User.new, url: form_url do |f|
      .row
        .col-md-8
          .panel.panel-info
            .panel-heading
              .panel-title
                %h1.align-center.no-margin Estimate Your Monthly Cost
            .panel-body
              - if sign_up_flow
                %p.align-center.little-heavy If you're not sure what you want to store, you can change any of this later!
              %p.align-center Your monthly storage costs are based on how much you put in storage as well as how long you keep them in storage.
              = render partial: 'partials/item_price_box', locals: {icon_class: 'box', item_size: 'small', item_name: 'Small Items', item_price: 'small', item_description: 'Boxes, tires, bags, or similarly sized objects', old_price: '$7', new_price: '$5.95'}
              = render partial: 'partials/item_price_box', locals: {icon_class: 'bike', item_size: 'medium', item_name: 'Medium Items', item_price: 'medium', item_description: 'Bikes, chairs, skis, luggage, or coffee tables', old_price: '$15', new_price: '$12.75'}
              = render partial: 'partials/item_price_box', locals: {icon_class: 'couch', item_size: 'large', item_name: 'Large Items', item_price: 'large', item_description: 'Desks, drawers, TV\'s, armchairs, or small couches', old_price: '$30', new_price: '$25.50'}
              = render partial: 'partials/item_price_box', locals: {icon_class: 'bed', item_size: 'large', item_name: 'XL Items', item_price: 'extra_large', item_description: 'Dining tables, large bedframes, sectional couches', old_price: '$50', new_price: '$42.50'}

              .col-md-3
                %br/
                = f.text_field :estimator_small_item_quantity, placeholder: 'Quantity', value: nil, class: 'form-control quantity-field'
              .col-md-3
                %br/
                = f.text_field :estimator_medium_item_quantity, placeholder: 'Quantity', value: nil, class: 'form-control quantity-field'
              .col-md-3
                %br/
                = f.text_field :estimator_large_item_quantity, placeholder: 'Quantity', value: nil, class: 'form-control quantity-field'
              .col-md-3
                %br/
                = f.text_field :estimator_extra_large_item_quantity, placeholder: 'Quantity', value: nil, class: 'form-control quantity-field'

              .panel-body
                %br/
                %p.align-center Take your best guess, and we'll guarantee your quote.

              .panel-heading.light-blue-bg
                .panel-title
                  %h2.align-center.no-margin Length of Stay
              .panel-body
                %p.align-center
                  %button.btn#user_estimator_duration_minus -
                  %span#user_estimator_duration_value 1 - 2 Months
                  %button.btn#user_estimator_duration_plus +
                = f.hidden_field :estimator_duration, value: 1
                %p.align-center The longer you stay, the more you save
        .col-md-4
          .panel.panel-info
            .panel-heading
              .panel-title
                %h2.align-center.no-margin Order Summary
            .panel-body
              .row
                .col-md-8.no-spacing
                  %p
                    %strong Base monthly price:
                .col-md-4.no-spacing
                  %p.align-right#estimator_base_price $0.00
              .row
                %p
                  %strong Discounts:
              .row
                .col-md-8.est-subpoint
                  %p Volume discount:
                .col-md-4.no-spacing
                  %p.align-right#estimator_volume_discount 0%
              .row
                .col-md-8.est-subpoint
                  %p Duration discount:
                .col-md-4.no-spacing
                  %p.align-right#estimator_duration_discount 0%
              .row
                .col-md-8.no-spacing
                  %p
                    %strong Monthly Total:
                .col-md-4.no-spacing
                  %p.align-right#estimator_gross_price $0.00
              .row
                %p.est-first-total
                  %strong Special Offer:
                  %br
                  Book now and get an extra
                  %strong 15% off!
              .row
                .col-md-8.no-spacing
                  %p.est-special-offer
                    %strong Final monthly price:
                .col-md-4.no-spacing
                  %p.est-special-offer.align-right#estimator_final_price $0.00
              .row
                .col-md-8.no-spacing
                  %p
                    %strong Total savings:
                .col-md-4.no-spacing
                  %p.align-right#estimator_total_savings $0.00
          - if sign_up_flow
            .continue-button.align-center{style: 'margin-bottom: 10px;'}
              %button#next-button.btn.btn-primary.blue-bg
                = f.submit "CONTINUE", class: "blue-bg"
            %p.align-center.black
              If you don't want to schedule a pickup right now, you can
              = link_to 'schedule your pickup later', new_signup_pages_path(skip_pickup_request: true), method: :post
              = '.'
          - else
            .continue-button.align-center{style: 'margin-bottom: 10px;'}
              %button#next-button.btn.btn-primary.blue-bg
                = link_to "Sign Up Now", '/signup', {class: 'white'}
          .row
            .col-md-6.col-md-offset-3
              %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/secure-stripe.png", :alt => ""}/
