:javascript
  window.small_item_base_price = '#{StorageItem.item_types["small"]}';
  window.medium_item_base_price = '#{StorageItem.item_types["medium"]}';
  window.large_item_base_price = '#{StorageItem.item_types["large"]}';
  window.extra_large_item_base_price = '#{StorageItem.item_types["extra_large"]}';
  window.always_discount = '#{StorageItem.always_discount}';
  window.volume_discounts = JSON.parse('#{StorageItem.volume_discounts.to_json}');
  window.duration_discounts = JSON.parse('#{StorageItem.duration_discounts.to_json}');

= javascript_include_tag :estimator

- if sign_up_flow
  - estimator_classes = ''
- else
  - estimator_classes = ' hidden'

%br/
%section#estimator-page{class: "text-center inventory#{estimator_classes}"}
  .container
    - if sign_up_flow
      - form_url = signup_select_items_path(@user.id)
    - else
      - form_url = ''
    = form_for PickupRequest.new, url: form_url do |f|
      .row
        .col-md-8
          .panel.panel-info
            .panel-heading
              .panel-title
                %h1.align-center.no-margin Estimate Your Monthly Cost
            .panel-body
              %p.align-center Your monthly storage costs are based on how much you put in storage as well as how long you keep them in storage.
              - if sign_up_flow
                %p.align-center
                  If you don't want to schedule a pickup right now, you can 
                  = link_to 'schedule your pickup later', signup_select_items_path(@user.id, skip_pickup_request: true), method: :post
                  = '.'
              = render layout: 'partials/item_price_box', locals: {icon_class: 'box', item_size: 'small', item_name: 'Small Items', item_price: 'small', item_description: 'Boxes, tires, bags, or similarly sized objects'} do
                %br/
                = f.label :small_item_quantity, "Quantity:"
                %br/
                = f.text_field :small_item_quantity, placeholder: 0, class: 'form-control quantity-field'
              = render layout: 'partials/item_price_box', locals: {icon_class: 'bike', item_size: 'medium', item_name: 'Medium Items', item_price: 'medium', item_description: 'Bikes, chairs, skis, luggage, or coffee tables'} do
                %br/
                = f.label :medium_item_quantity, "Quantity:"
                %br/
                = f.text_field :medium_item_quantity, placeholder: 0, class: 'form-control quantity-field'
              = render layout: 'partials/item_price_box', locals: {icon_class: 'couch', item_size: 'large', item_name: 'Large Items', item_price: 'large', item_description: 'Desks, drawers, TV\'s, armchairs, or small couches'} do
                %br/
                = f.label :large_item_quantity, "Quantity:"
                %br/
                = f.text_field :large_item_quantity, placeholder: 0, class: 'form-control quantity-field'
              = render layout: 'partials/item_price_box', locals: {icon_class: 'bed', item_size: 'large', item_name: 'XL Items', item_price: 'extra_large', item_description: 'Dining tables, large bedframes, sectional couches'} do
                %br/
                = f.label :extra_large_item_quantity, "Quantity:"
                %br/
                = f.text_field :extra_large_item_quantity, placeholder: 0, class: 'form-control quantity-field'

              .panel-body
                %br/
                %p.align-center Take your best guess, and we'll guarantee your quote.

              .panel-heading.light-blue-bg
                .panel-title
                  %h2.align-center.no-margin Length of Stay
              .panel-body
                %p.align-center
                  %button.btn#pickup_request_duration_minus -
                  %span#pickup_request_duration_value 1 - 2 Months
                  %button.btn#pickup_request_duration_plus +
                = f.hidden_field :duration, value: 1
                %p.align-center The longer you stay, the more you save
        .col-md-4
          .panel.panel-info
            .panel-heading
              .panel-title
                %h2.align-center.no-margin Order Summary
            .panel-body
              %p
                %strong Base monthly price: 
                %span#estimator_base_price $0.00
              %p
                %strong Discounts:
              %p.est-subpoint
                Volume discount:
                %span#estimator_volume_discount 0%
              %p.est-subpoint
                Duration discount:
                %span#estimator_duration_discount 0%
              %p
                %strong Monthly Total:
                %span#estimator_gross_price $0.00
              %p.est-first-total
                %strong Special Offer!
                Book now and get an extra
                %strong 15% off!
              %p.est-special-offer
                %strong Final monthly price: 
                %span#estimator_final_price $0.00
              %p
                %strong Total savings:
                %span#estimator_total_savings $0.00
          - if sign_up_flow
            .continue-button.align-center
              %button#next-button.btn.btn-primary.blue-bg
                = f.submit "CONTINUE", class: "blue-bg"
          - else
            .continue-button.align-center
              %button#next-button.btn.btn-primary.blue-bg
                = link_to "Sign Up Now", '/signup', {class: 'white'}

