.col-md-3
  .pricing-wrap
    .pricing-block
      %i{class: "pricing-icon icon-icon-#{icon_class}"}
      %div{class: 'pricing-info', id: "#{item_size}-pricing-info"}
        .pricing-title.by-item
          %h3
            = item_name
            %br/
            = 'Items'
        .price
          %h3.dark-gray= "$#{StorageItem.item_types[item_price].to_i}"
          %p.price-subtext per month
        .price-description
          %p= item_description
  = yield