
/ <!-- Javascript Source -->
/ <script src="js/jquery.min.js"></script>
/ <script src="js/bootstrap.min.js"></script>
/ <script src="js/jquery.easing.min.js"></script>	
/ <script src="js/classie.js"></script>
/ <script src="js/gnmenu.js"></script>
/ <script src="js/jquery.scrollTo.js"></script>
/ <script src="js/nivo-lightbox.min.js"></script>
/ <script src="js/stellar.js"></script>
/ <script src="js/custom.js"></script>

	= javascript_include_tag 'jquery'
	= javascript_include_tag 'bootstrap'
	= javascript_include_tag 'jquery.easing'
	= javascript_include_tag 'classie'
	= javascript_include_tag 'gnmenu'
	= javascript_include_tag 'jquery.scrollTo'
	= javascript_include_tag 'nivo-lightbox'
	= javascript_include_tag 'stellar'
	= javascript_include_tag 'custom'
