.boxed-grey.col-md-12.align-left
  .form-group.address-form#password-email-form
    .row
      .col-md-6.col-md-offset-3
        = field.label :cc_name, "Email", class:"no-margin"
        = field.email_field :email, autofocus: true, class:"form-control", placeholder: "Email Address"
    .row
      %br/ 
      .col-md-6.col-md-offset-3
        = field.label :exp_month, "Password", class:"no-margin"
        = field.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Password"
    .row
      %br/ 
      .col-md-6.col-md-offset-3
        = field.label :exp_month, "Confirm Password", class:"no-margin"
        = field.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Confirm Password"

    %br/ 
.col-md-8.col-md-offset-2


:javascript
  $(document).ready(function() {
  

  $(".form-control").on('input', function() {
    $('#password-email-form').data('bootstrapValidator').validate();
  });

  $('#password-email-form')
    .bootstrapValidator({
    feedbackIcons: {
    },
    fields: {
      'user[password]': {
        message: 'The password field is not valid',
        validators: {
        stringLength: {
        min: 8,
        message: 'The password must have at least 8 characters'
        }
         }
      },
      'user[password_confirmation]': {
        message: 'The password_confirmation field is not valid',
        validators: {
        identical: {
          field: 'user[password]',
          message: 'The password confirmation must match the password'
        }
         }
      }
    }
  })
  });



