.col-md-2.col-sm-2.col-xs-4.inventory-entries.align-center.small-entry
  %i.fa.fa-dropbox
  %h5= name
  %input{:type=>"text", placeholder:"#{linked_to}", class:"form-control quantity-field #{linked_to}-txt", id:"txt-#{name}"}
  %button.btn.btn-primary.rounded.full-width{:type => "button", class:"#{linked_to}-inc", id:"#{name}"} +
  %p.onepxhigh.no-opacity .


  