
// Storage By The Space Content
/ .row
/   %h3.dark-gray.align-center Storage By The Space
/   .double-line.third-opacity
/   / %p.align-center.half-opacity Moving a full storage locker? Storage by the space is your best bet.

/   %br/ 
/   %h2.no-margin
/     Storage Space
/     %span.small-entry-price $75-250/month
/   .single-line.third-opacity
/   / Small Items
/   = render partial: "partials/small_entry_4col", locals: {id:"5x10", icon_name:"5x10", name:"5' x 10'", linked_to: "5x10"}
/   = render partial: "partials/small_entry_4col", locals: {id:"10x10", icon_name:"10x10", name:"10' x 10'", linked_to: "10x10"}
/   = render partial: "partials/small_entry_4col", locals: {id:"10x20", icon_name:"10x20", name:"10' x 20'", linked_to: "10x20"}
  
/ %br/ 
/ %br/ 
/ %br/ 
/ %h3.dark-gray.align-center Storage By The Item
.row
  %h3.dark-gray.align-center Storage By The Item
  .double-line.third-opacity
  / %p.align-center.half-opacity Storage by the item is a flexible alternative to traditional storage. Only pay for what you need.
.row
  %br/ 
  %h2.no-margin
    Small Items
    %span.small-entry-price $5/month

  .single-line.third-opacity
  / Small Items
  = render partial: "partials/small_entry_4col", locals: {id:"smlbox", icon_name:"icon-box", name:"box", linked_to: "small"}
  = render partial: "partials/small_entry_4col", locals: {id:"bag", icon_name:"icon-bag", name:"bag", linked_to: "small"}
  = render partial: "partials/small_entry_4col", locals: {id:"tire", icon_name:"tire", name:"tire", linked_to: "small"}
  = render partial: "partials/small_entry_4col", locals: {id:"parcel", icon_name:"parcel", name:"other small", linked_to: "small"}

.row
  %br/ 
  %h2.no-margin
    Medium Items
    %span.small-entry-price $12/month
  .single-line.third-opacity
  / Medium Items
  = render partial: "partials/small_entry_4col", locals: {id:"bike", icon_name:"icon-bike", name:"bike", linked_to: "medium"}
  = render partial: "partials/small_entry_4col", locals: {id:"skis", icon_name:"icon-skis", name:"skis", linked_to: "medium"}
  = render partial: "partials/small_entry_4col", locals: {id:"coffee_table", icon_name:"icon-coffee-table", name:"coffee table", linked_to: "medium"}
  = render partial: "partials/small_entry_4col", locals: {id:"golfclubs", icon_name:"icon-golfclubs", name:"golf clubs", linked_to: "medium"}
  = render partial: "partials/small_entry_4col", locals: {id:"desk_chair", icon_name:"icon-desk-chair", name:"desk chair", linked_to: "medium"}
  = render partial: "partials/small_entry_4col", locals: {id:"table_chair", icon_name:"icon-tablechair", name:"table chair", linked_to: "medium"}
  = render partial: "partials/small_entry_4col", locals: {id:"luggage", icon_name:"icon-luggage", name:"luggage", linked_to: "medium"}
  = render partial: "partials/small_entry_4col", locals: {id:"lamp", icon_name:"icon-lamp", name:"lamp", linked_to: "medium"}
  = render partial: "partials/small_entry_4col", locals: {id:"bedside_table", icon_name:"icon-bedside-table", name:"bedside table", linked_to: "medium"}
  = render partial: "partials/small_entry_4col", locals: {id:"barstool", icon_name:"icon-barstool", name:"bar stool", linked_to: "medium"}
  = render partial: "partials/small_entry_4col", locals: {id:"barrel", icon_name:"barrel", name:"other medium", linked_to: "medium"}
  

.row
  %br/ 
  / Large Items
  %h2.no-margin
    Large Items
    %span.small-entry-price $25/month
  .single-line.third-opacity
  = render partial: "partials/small_entry_4col", locals: {id:"tv", icon_name:"icon-tv", name:"tv", linked_to: "large"}
  = render partial: "partials/small_entry_4col", locals: {id:"recliner", icon_name:"icon-recliner", name:"recliner", linked_to: "large"}
  = render partial: "partials/small_entry_4col", locals: {id:"desk", icon_name:"icon-desk", name:"desk", linked_to: "large"}
  = render partial: "partials/small_entry_4col", locals: {id:"rug", icon_name:"icon-rug", name:"rug", linked_to: "large"}
  = render partial: "partials/small_entry_4col", locals: {id:"armchair", icon_name:"icon-armchair", name:"armchair", linked_to: "large"}
  = render partial: "partials/small_entry_4col", locals: {id:"bed", icon_name:"icon-bed", name:"Bed Frame", linked_to: "large"}
  = render partial: "partials/small_entry_4col", locals: {id:"filing_cabinet", icon_name:"icon-filing-cabinet", name:"filing cabinet", linked_to: "large"}
  = render partial: "partials/small_entry_4col", locals: {id:"couch", icon_name:"icon-couch", name:"couch", linked_to: "large"}
  
  = render partial: "partials/small_entry_4col", locals: {id:"mattress", icon_name:"icon-mattress", name:"mattress", linked_to: "large"}
  = render partial: "partials/small_entry_4col", locals: {id:"chest", icon_name:"icon-chest", name:"chest", linked_to: "large"}
  = render partial: "partials/small_entry_4col", locals: {id:"crate", icon_name:"crate", name:"other large", linked_to: "large"}


.row
  %br/ 
  / Large Items
  %h2.no-margin
    Extra Large Items
    %span.small-entry-price $40/month
  .single-line.third-opacity

  = render partial: "partials/small_entry_4col", locals: {id:"dining_table", icon_name:"icon-dining-table", name:"dining table", linked_to: "xl"}
  = render partial: "partials/small_entry_4col", locals: {id:"sectional", icon_name:"icon-sectional", name:"sectional couch", linked_to: "xl"}
  = render partial: "partials/small_entry_4col", locals: {id:"elephant", icon_name:"elephant", name:"other xl", linked_to: "xl"}

