- content_for :title do
  = "Share |"
= render partial: 'partials/standard_header'

/ BLUE HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header.single-row
  .row
    .col-md-6.align-center
      %h1 Share The Love! 
    .col-md-1.col-md-offset-1.col-sm-4.col-xs-4.align-center
      = link_to storage_items_path do
        .service-box
          .service-icon
            %i.fa.fa-dashboard
          .service-desc
            %h6 Dashboard
    .col-md-1.col-sm-4.col-xs-4.align-center
      = link_to faq_path do
        .service-box
          .service-icon
            %i.fa.fa-question-circle
          .service-desc
            %h6 FAQ
/ END SECONDARY HEADER


/ Section: ITEM SELECTION
%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            = image_tag "https://s3.amazonaws.com/storage_rails_app_dev/images/syn-logo.png", class:"width-30"
            %br/
            %br/
            %br/
            / %h2 Our Referral System Is Not Yet Active
            / %h2 YOUR REFERRAL CODE: AS234!2
            %h2 Spread the Word!
            %p.align-center
              / Want to
              / We're working on a great new system for helping QuickBox with your friends and family. Until that's finished,

              We're keeping it simple with old fashioned hard-links. If you feel inspired to share QuickBox (and we hope you do), here's the link to use: 
              %a{:href => "http://www.facebook.com"}
                www.quickbox.com
              %br/  
              %br/ 
              You have our appreciation and our admiration.
              %br/ 
              \- The QuickBox Team
              / We're trying to change an industry. To learn the inside scoop, get in touch at
              / %a.heavy-font.blue team@quickbox.com.

= render :partial => 'partials/footer'
= render :partial => 'partials/javascriptSource'

