= javascript_include_tag "signup_flow"
= render :partial => 'partials/signup_header'

= render :partial => 'partials/nudge_icon'

.container.full-width.blue-bg.no-padding.white.align-center
  %br/ 
  %h1#lets-doit LET'S DO THIS
#signup-progress.row.align-center
  .col-md-8.col-md-offset-2
    %ul.no-list
      %li.signup-active#step-1  
        %h4
          %span.green.hidden{:data => {'icon' => "D"}}
          1. Select Items    
      %li#step-2
        %h4
          %span.green.hidden{:data => {'icon' => "D"}}
          2. Schedule Pickup
      %li#step-3
        %h4
          %span.green.hidden{:data => {'icon' => "D"}}
          3. Create Account


  /   %h4 1. Select Items
  / .col-md-3
  /   %h4 1. Schedule Delivery
  / .col-md-3
  /   %h4 1. Create Password
%br/ 
%br/ 
%br/ 

.container
  = render partial: 'partials/error_messages_object_form', locals: {object: @user}
  = render partial: 'partials/error_messages_object_form', locals: {object: @packing_supplies_request}
  = render partial: 'partials/error_messages_object_form', locals: {object: @pickup_request}
%br/ 
%br/ 

/ = form_for :signup, :html => {:id => 'signup-form'}, url: {action: 'create'} do |f| 
= form_for @packing_supplies_request, url: create_signup_pages_path, :html => {:id => 'signup-form'} do |f| 

  ///////////////////////////////////////////////////
  // ITEM SELECTION /////////////////////////////////
  ///////////////////////////////////////////////////
  %section.text-center#signup-first.hidden.no-opactiy
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-10.col-lg-offset-1
            .section-heading
              %h2.no-margin Do You Need Packing Supplies?
              %p.align-center (we'll ship these items right to your door)
    .container
      .row
        .div
          = render partial: "partials/packing_items", locals:{f: f}
          .col-md-10.col-md-offset-1
            %br/ 
            .col-md-4.bottom-buttons
              .boxed-gray.continue-button
                %button.btn.btn-primary.blue-bg.gray-bg{:type => "button"}
                  = link_to "Back", root_path, class:"white"
            .col-md-4.col-md-offset-4.bottom-buttons.charges-box
              .boxed-gray.continue-button
                %button.btn.btn-primary.blue-bg.blue-bg-hover#signup-first-btn{:type => "button"}
                  Next
            .col-md-12
              %p.light-gray.half-opacity.onepxhigh#packing-instructions (packing supplies are optional and not required)
              %br/ 
              %br/ 



  ///////////////////////////////////////////////////
  // PICKUP   ///////////////////////////////////////
  ///////////////////////////////////////////////////
  %section.text-center#signup-second
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-10.col-lg-offset-1
            .section-heading
              %h2.no-margin What Would You Like To Store?
              / %p.align-center (you can edit the details of your pickup anytime)

    .col-md-4.col-md-offset-4.half-opacity.charges-box
      %br/ 
      / .single-line
    .container
      .row
        .div
          = fields_for @pickup_request do |pickup_field|
            = render partial: "partials/storage_items", locals:{f:pickup_field}
            .col-md-8.col-md-offset-2
              %br/ 
              %p.light-gray.align-left You can always add more items to your pickup when our driver arrives. By selecting your items now we will be able to determine what size truck is needed.
            .col-md-10.col-md-offset-1
              %br/ 
              / .col-md-4.bottom-buttons
              /   .boxed-gray.continue-button
              /     %button.btn.btn-primary.blue-bg.gray-bg#signup-second-back{:type => "button"}
              /       Back
              .col-md-4.col-md-offset-4.bottom-buttons.charges-box
                .boxed-gray.continue-button
                  %button.btn.btn-primary.blue-bg.blue-bg-hover#signup-second-btn{:type => "button"}
                    Next
            .col-md-12
              %p.light-gray.onepxhigh#pickup-deliv-instructions (Scheduling a pickup is recommended but not required)
              %br/ 
              %br/ 

  ///////////////////////////////////////////////////
  // DELIVERY DETAILS ///////////////////////////////
  ///////////////////////////////////////////////////
  %section.text-center#signup-third.hidden
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-10.col-lg-offset-1
            .section-heading
              %h2.no-margin Address for Pickup & Delivery 
              %p.align-center
                (We are currently only serving the Boulder metro-area. Click 
                %a.pointer.heavy-font{"data-target" => "#outsideAreaModal", "data-toggle" => "modal"}
                  here
                if you live elsewhere)

    .container
      .row
        .div
          .col-md-6.col-md-offset-3.half-opacity.charges-box
            %br/
          .col-md-8.col-md-offset-2
            .row
              = fields_for @user do |field|
                = render partial: "partials/delivery_addr_date", locals: {field:field, f:f, id:"datepicker"}
        .col-md-6.col-md-offset-3.half-opacity.charges-box
          %br/
          %br/ 
          .single-line
          %br/ 
          %br/       
          / .container#delivery-time.hidden
          /   %h2.no-margin When should we drop off the supplies?
          /   .row
          /     .div
          /       .col-md-6.col-md-offset-3.half-opacity.charges-box
          /         %br/
          /       .col-md-8.col-md-offset-2
          /         .row
          /           / # = fields_for @user do |field|
          /           = render partial: "partials/delivery_date_time", locals: {f:f, id:"datepicker-value", select_id:"delivery_time"}

        
    .container#pickup-time.hidden
      %h2.no-margin When should we schedule the pickup?    
      .row
        .div
          .col-md-6.col-md-offset-3.half-opacity.charges-box
            %br/
          .col-md-8.col-md-offset-2
            .row
              = fields_for @pickup_request do |pickup_field|
                = render partial: "partials/delivery_date_time", locals: {f:pickup_field, id:"pickup_datepicker", select_id:"pickup_time"}
    .row
      %br/ 
      .col-md-8.col-md-offset-2
        .row
          .col-md-3.bottom-buttons
            .boxed-gray.continue-button
              %button.btn.btn-primary.blue-bg.gray-bg#signup-third-back{:type => "button"}
                Back
          .col-md-3.col-md-offset-6.bottom-buttons.charges-box
            .boxed-gray.continue-button
              %button.btn.btn-primary.blue-bg.blue-bg-hover#signup-third-btn{:type => "button", disabled: true}
                Next


  ///////////////////////////////////////////////////
  // Signup /////////////////////////////////////////
  ///////////////////////////////////////////////////
  %section.text-center#signup-fourth.hidden
    .heading-about.marginbot-30
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2 Create An Account
    .container
      .row
        .col-lg-6.col-md-offset-3
          .boxed-grey
            .row
              %br/ 
              %br/ 
              = fields_for @user do |userAcct| 
                .col-md-8.col-md-offset-2.form-group.address-form
                  %div.extra-form-padding
                    = userAcct.email_field :email, autofocus: true, class:"form-control", placeholder: "Email Address"
                  %div.extra-form-padding
                    = userAcct.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Password"
                  %div.extra-form-padding
                    = userAcct.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Confirm Password"
                .col-md-8.col-md-offset-2.bottom-buttons
                  %a#signup-fourth-btn.loadingOnClick= userAcct.submit "Create Account",:class => "btn btn-skin pull-right", id:"signup-fourth-btn"                  
                  %a.pointer
                    %h1.btn.btn-default.pull-left#signup-fourth-back Back
            %br/
            %br/ 
    %br/ 
    %br/ 
    %br/ 
    %br/ 
    %br/ 
    %br/ 



= render :partial => "partials/footer"
= render :partial => "partials/storageSizeModal"
= render :partial => "partials/outsideAreaModal"

= javascript_include_tag "item_selector"

:javascript
  
  
  /////////////////////////////////////////////////////////////
  // Prevent "enter" button submission
  /////////////////////////////////////////////////////////////
  $(document).ready(function() {
    $(".quantity-field").keypress(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        checkFormDisableBtn();
      }
      
    });

    $('.quantity-field').on('input', function() {
      console.log("QUANTITY CHANGED");
      var field = $(this);
      var id = field.attr("id");
      var idRoot = id.substr(4);
      console.log("#num-"+idRoot+" span");
      var orderEntrySpan = $('#num-'+idRoot+ " span");
      refreshOrder(field.val(), orderEntrySpan);
    });


    var all_form = $(".form-control");
    all_form.on('input', function() {
      if (!($("#signup-third").hasClass("hidden"))){
        checkFormDisableBtn();
      }

      // THIS SHIT NEEDS TO BE FIXED
      if (!($("#signup-fourth").hasClass("hidden"))){
        if ($("#user_email").html().length > 0 && $("#user_password").html().length > 0){
          var error = $(".help-block");
          if (error.length <= 0){
            $("#signup-fourth-btn").removeAttr("disabled"); 
            console.log("show fourth button");
          } 
        } 
      }
    });
  });



  /////////////////////////////////////////////////////////////
  // Makes sure required fields are filled out on address/delivery page
  /////////////////////////////////////////////////////////////
  function checkFormDisableBtn(){
    $("#signup-form").data('bootstrapValidator').validate();
    if ($("#signup-form").data('bootstrapValidator').isValid()){
      console.log("address page content is valid");
      
      if($("#pickup-time").hasClass("hidden") || (($("#datepicker-value").val().length > 0) && ($("#pickup_time").val().length > 0))) {
          $("#signup-third-btn").removeAttr("disabled"); 
      } else console.log("pickup is not valid");
    } else{
      $("#signup-third-btn").attr("disabled", "disabled"); 
      console.log("Address entities are not valid");
    }
  }


  /////////////////////////////////////////////////////////////
  // Makes sure that div sizes are the same height for order items
  /////////////////////////////////////////////////////////////
  function sizeEntriesTheSame(divName){
    var maxHeight = 0;
    var entries = $("." + divName);
    entries.each(function(){
      var thisHeight = $(this).height();
      if (thisHeight > maxHeight){
        maxHeight = thisHeight;
      } 
    });
    entries.css("height", maxHeight);
    console.log("reset size");
  }


  /////////////////////////////////////////////////////////////
  // Segues between on-screen, hidden "pages"
  /////////////////////////////////////////////////////////////
  function moveFromTo(fromDiv, toDiv){
    $(fromDiv).toggleClass("hidden");
    $(toDiv).toggleClass("hidden");
    window.scrollTo(0,0);
  }


  /////////////////////////////////////////////////////////////
  // Signup Button Flow - Forward
  /////////////////////////////////////////////////////////////
  $("#signup-first-btn").click(function(){
    $("#lets-doit").parent().hide();
    moveFromTo("#signup-first", "#signup-second");
  })

  $("#signup-second-btn").click(function(e){
    e.preventDefault();
    moveFromTo("#signup-second", "#signup-third");
    $(".nudge-icon").toggleClass("hidden");
    markStepComplete("#step-1", "#step-2");
  })

  $("#signup-third-btn").click(function(e){
    e.preventDefault();
    moveFromTo("#signup-third", "#signup-fourth");
    markStepComplete("#step-2", "#step-3");
  })

  $("#signup-fourth-btn").click(function(e){
    moveFromTo("#signup-fourth", "#signup-second");
  })


  /////////////////////////////////////////////////////////////
  // Back Buttons
  /////////////////////////////////////////////////////////////

  $("#signup-second-back").click(function(){
    $("#lets-doit").parent().show();
    moveFromTo("#signup-second", "#signup-first");

  })

  $("#signup-third-back").click(function(){
    moveFromTo("#signup-third", "#signup-second");
    goBackStep("#step-2", "#step-1");
  })

  $("#signup-fourth-back").click(function(e){
    e.preventDefault();
    moveFromTo("#signup-fourth", "#signup-third");
    goBackStep("#step-3", "#step-2");
  })

  function markStepComplete(completedStep, nextStep){
    console.log("marking step complete" + completedStep);
    console.log("marking step active" + nextStep);
    $(completedStep).removeClass("signup-active");
    $(completedStep).addClass("signup-completed");
    $(completedStep + " span").removeClass("hidden");
    $(nextStep).addClass("signup-active");
  }

  function goBackStep(currentStep, previousStep){
    console.log("going back to:" + previousStep);
    $(currentStep).removeClass("signup-active");
    $(previousStep).removeClass("signup-completed");
    $(currentStep + " span").addClass("hidden");
    $(previousStep).addClass("signup-active");
  }

 



  