= javascript_include_tag "signup_flow"
= render :partial => 'partials/signup_header'

.container.full-width.blue-bg.no-padding.white.align-center
  %br/ 
  %h1#lets-doit LET'S DO THIS
%br/ 
%br/ 
%br/ 
%br/ 
%br/ 

/ = form_for :signup, :html => {:id => 'signup-form'}, url: {action: 'create'} do |f| 
= form_for @packing_supplies_request, :html => {:id => 'signup-form'}, url: {controller: 'signup_pages', action: 'create'} do |f| 

  ///////////////////////////////////////////////////
  // ITEM SELECTION /////////////////////////////////
  ///////////////////////////////////////////////////
  %section.text-center#signup-first
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Do You Need Packing Supplies?
              %p.align-center (we'll bring these items right to your door)
    .container
      .row
        .div
          = render partial: "partials/packing_items", locals:{f: f}
          .col-md-10.col-md-offset-1
            %br/ 
            .col-md-4.bottom-buttons
              .boxed-gray.continue-button
                %button.btn.btn-primary.blue-bg.gray-bg{:type => "button"}
                  = link_to "Back", root_path, class:"white"
            .col-md-4.col-md-offset-4.bottom-buttons.charges-box
              .boxed-gray.continue-button
                %button.btn.btn-primary.blue-bg.blue-bg-hover#signup-first-btn{:type => "button"}
                  Delivery Details


  ///////////////////////////////////////////////////
  // PICKUP   ///////////////////////////////////////
  ///////////////////////////////////////////////////
  %section.text-center#signup-second.hidden
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin What Are We Picking Up?
              %p.align-center (you can always edit your pickup or change it when we arrive)

    .col-md-4.col-md-offset-4.half-opacity.charges-box
      %br/ 
      .single-line
    .container
      .row
        .div
          = fields_for @pickup_request do |pickup_field|
            = render partial: "partials/storage_items", locals:{f:pickup_field}
            .col-md-10.col-md-offset-1
              %br/ 
              .col-md-4.bottom-buttons
                .boxed-gray.continue-button
                  %button.btn.btn-primary.blue-bg.gray-bg#signup-second-back{:type => "button"}
                    Back
              .col-md-4.col-md-offset-4.bottom-buttons.charges-box
                .boxed-gray.continue-button
                  %button.btn.btn-primary.blue-bg.blue-bg-hover#signup-second-btn{:type => "button", disabled: true}
                    Item Pickup
            .col-md-12
              %p.light-gray.onepxhigh#pickup-deliv-instructions (You must schedule at least one pickup or delivery to sign up)
              %br/ 
              %br/ 

  ///////////////////////////////////////////////////
  // DELIVERY DETAILS ///////////////////////////////
  ///////////////////////////////////////////////////
  %section.text-center#signup-third.hidden
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Where Are We Delivering?
    .container
      .row
        .div
          .col-md-6.col-md-offset-3.half-opacity.charges-box
            %br/
          .col-md-8.col-md-offset-2
            .row
              = fields_for @user do |field|
                = render partial: "partials/delivery_addr_date", locals: {field:field, f:f, id:"datepicker"}
        .col-md-6.col-md-offset-3.half-opacity.charges-box
          %br/
          %br/ 
          .single-line
          %br/ 
          %br/       
    .container#delivery-time.hidden
      %h2.no-margin When should we drop off the supplies?
      .row
        .div
          .col-md-6.col-md-offset-3.half-opacity.charges-box
            %br/
          .col-md-8.col-md-offset-2
            .row
              = fields_for @user do |field|
                = render partial: "partials/delivery_date_time", locals: {field:field, f:f, id:"delivery_datepicker", select_id:"delivery_time"}


        .col-md-6.col-md-offset-3.half-opacity.charges-box
          %br/
          %br/ 
          .single-line
          %br/ 
          %br/ 
    .container#pickup-time.hidden
      %h2.no-margin When should we schedule the pickup?    
      .row
        .div
          .col-md-6.col-md-offset-3.half-opacity.charges-box
            %br/
          .col-md-8.col-md-offset-2
            .row
              = fields_for @user do |field|
                = render partial: "partials/delivery_date_time", locals: {field:field, f:f, id:"pickup_datepicker", select_id:"pickup_time"}
    .row
      %br/ 
      .col-md-10.col-md-offset-1
        .row
          .col-md-3.bottom-buttons
            .boxed-gray.continue-button
              %button.btn.btn-primary.blue-bg.gray-bg#signup-third-back{:type => "button"}
                Back
          .col-md-3.col-md-offset-6.bottom-buttons.charges-box
            .boxed-gray.continue-button
              %button.btn.btn-primary.blue-bg.blue-bg-hover#signup-third-btn{:type => "button", disabled: true}
                Next
              / = f.submit "Confirm Order"              


  ///////////////////////////////////////////////////
  // Signup /////////////////////////////////////////
  ///////////////////////////////////////////////////
  %section.text-center#signup-fourth.hidden
    .heading-about.marginbot-30
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2 Create An Account
    .container
      .row
        .col-lg-6.col-md-offset-3
          .boxed-grey
            .row
              %br/ 
              %br/ 
              = fields_for @user do |userAcct| 
                .col-md-8.col-md-offset-2.form-group.address-form
                  %div.extra-form-padding
                    = userAcct.email_field :email, autofocus: true, class:"form-control", placeholder: "Email Address"
                  %div.extra-form-padding
                    = userAcct.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Password"
                  %div.extra-form-padding
                    = userAcct.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Confirm Password"
                .col-md-8.col-md-offset-2.bottom-buttons
                  %a= userAcct.submit "Create Account",:class => "btn btn-skin pull-right", id:"signup-third-btn"                  
                  %a.pointer
                    %h1.btn.btn-default.pull-left#signup-fourth-back Back
            %br/
            %br/ 
    %br/ 
    %br/ 
    %br/ 
    %br/ 
    %br/ 
    %br/ 



= render :partial => "partials/footer"
= render :partial => "partials/storageSizeModal"

= javascript_include_tag "item_selector"

:javascript
  
  
  /////////////////////////////////////////////////////////////
  // Prevent "enter" button submission
  /////////////////////////////////////////////////////////////
  $(document).ready(function() {
    $(".quantity-field").keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        console.log("QUANTITY CHANGED");
        var field = $(this);
        var id = field.attr("id");
        var idRoot = id.substr(4);
        console.log("#num-"+idRoot+" span");
        var orderEntrySpan = $('#num-'+idRoot+ " span");
        refreshOrder(field.val(), orderEntrySpan);
      }
    });

    var all_form = $(".form-control");
    all_form.on('input', function() {
      checkFormDisableBtn();
    });

  });



  /////////////////////////////////////////////////////////////
  // Makes sure required fields are filled out on address/delivery page
  /////////////////////////////////////////////////////////////
  function checkFormDisableBtn(){
    if ($("#signup-form").data('bootstrapValidator').isValid()){

      // If 
      if((($("#pickup_datepicker").val().length > 0) && ($("#pickup_time").val().length > 0)) || $("#pickup-time").hasClass("hidden")) {
        if((($("#delivery_datepicker").val().length > 0) && ($("#delivery_time").val().length > 0)) || $("#delivery-time").hasClass("hidden")) {
          $("#signup-third-btn").removeAttr("disabled"); 
        }
      }

    } else{
      $("#signup-third-btn").attr("disabled", "disabled"); 
      console.log("no");
    }
  }


  /////////////////////////////////////////////////////////////
  // Makes sure that div sizes are the same height for order items
  /////////////////////////////////////////////////////////////
  function sizeEntriesTheSame(divName){
    var maxHeight = 0;
    var entries = $("." + divName);
    entries.each(function(){
      var thisHeight = $(this).height();
      if (thisHeight > maxHeight){
        maxHeight = thisHeight;
      } 
    });
    entries.css("height", maxHeight);
    console.log("reset size");
  }


  /////////////////////////////////////////////////////////////
  // Segues between on-screen, hidden "pages"
  /////////////////////////////////////////////////////////////
  function moveFromTo(fromDiv, toDiv){
    $(fromDiv).toggleClass("hidden");
    $(toDiv).toggleClass("hidden");
    window.scrollTo(0,0);
  }


  /////////////////////////////////////////////////////////////
  // Signup Button Flow - Forward
  /////////////////////////////////////////////////////////////
  $("#signup-first-btn").click(function(){
    $("#lets-doit").parent().hide();
    moveFromTo("#signup-first", "#signup-second");
  })

  $("#signup-second-btn").click(function(e){
    e.preventDefault();
    moveFromTo("#signup-second", "#signup-third");
  })

  $("#signup-third-btn").click(function(e){
    e.preventDefault();
    moveFromTo("#signup-third", "#signup-fourth");
  })

  $("#signup-fourth-btn").click(function(e){
    e.preventDefault();
    moveFromTo("#signup-fourth", "#signup-fifth");
  })


  /////////////////////////////////////////////////////////////
  // Back Buttons
  /////////////////////////////////////////////////////////////

  $("#signup-second-back").click(function(){
    $("#lets-doit").parent().show();
    moveFromTo("#signup-second", "#signup-first");
  })

  $("#signup-third-back").click(function(){
    moveFromTo("#signup-third", "#signup-second");
  })

  $("#signup-fourth-back").click(function(e){
    e.preventDefault();
    moveFromTo("#signup-fourth", "#signup-third");
  })

 



  