= javascript_include_tag "signup_flow"
= render :partial => 'partials/signup_header'

= render :partial => 'partials/nudge_icon'

.container.full-width.blue-bg.no-padding.white.align-center
  %br/ 
  %h1#lets-doit Create Your Account
#signup-progress.row.align-center
  .col-md-8.col-md-offset-2
    %ul.no-list
      %li.signup-active#step-1  
        %h4
          %span.green.hidden{:data => {'icon' => "D"}}
          1. Create Login    
      %li#step-2
        %h4
          %span.green.hidden{:data => {'icon' => "D"}}
          2. Confirm Account
      %li#step-3
        %h4
          %span.green.hidden{:data => {'icon' => "D"}}
          3. Done


%br/ 
.container
  = render partial: 'partials/error_messages_object_form', locals: {object: @user}
%br/ 
%br/ 

= form_for @user, url: create_signup_pages_path, :html => {:id => 'signup-form'} do |f| 

  ///////////////////////////////////////////////////
  // Signup /////////////////////////////////////////
  ///////////////////////////////////////////////////
  %section.text-center#signup-fourth
    .container
      .row
        .col-lg-6.col-md-offset-3
          %h3.double-underlined Account Setup
          .double-line
          .boxed-grey
            .row
              %br/ 
              .col-md-8.col-md-offset-2.form-group.address-form
                .row
                  .col-md-12
                    %div.extra-form-padding
                      = f.text_field :name, autofocus: true, class:"form-control", placeholder: "Name"
                .row#signup-emailaddr
                  .col-md-12
                    %div.extra-form-padding
                      = f.email_field :email, autofocus: true, class:"form-control", placeholder: "Email Address"
                .row
                  .col-md-12
                    %div.extra-form-padding
                      = f.password_field :password, autofocus: true, class:"form-control", placeholder: "Password"
              .col-md-8.col-md-offset-2.bottom-buttons
                = f.submit "Create Account",:class => "btn btn-skin pull-right", id:"signup-fourth-btn"                 
                %a.pointer{href:"/"}
                  %h1.btn.btn-default.pull-left Back
            %br/
            %br/ 
    %br/ 
    %br/ 
    %br/ 
    %br/ 
    %br/ 
    %br/ 



= render :partial => "partials/footer"
= render :partial => "partials/storageSizeModal"
= render :partial => "partials/outsideAreaModal"

= javascript_include_tag "item_selector"

:javascript
  
  
  /////////////////////////////////////////////////////////////
  // Prevent "enter" button submission
  /////////////////////////////////////////////////////////////
  $(document).ready(function() {
 
    var all_form = $(".form-control");
    
    all_form.on('input', function() {

      // THIS SHIT NEEDS TO BE FIXED
     if (!($("#signup-fourth").hasClass("hidden")) && ($("#signup-form").data('bootstrapValidator').isValid())){
       if ($("#user_email").val().length > 0 && $("#user_password").val().length > 0 && $("#user_name").val().length > 0){
         $("#signup-fourth-btn").removeAttr("disabled"); 
         console.log("show fourth button");
       } else{
          console.log("disabling button");
          $("#signup-fourth-btn").attr("disabled", true); 
       }
     }
     else{
         console.log("disabling button");
         $("#signup-fourth-btn").attr("disabled", true); 
      }
    });
  });

