
/ = render partial: "partials/logged_in_header"   
= render :partial => 'partials/signup_header'


= render partial: "partials/just_blue_bar", locals:{mainText:" ", dashboard:true, faq:true}
%br/ 
%br/ 
%br/ 
= form_for :signup, url: {action: 'create'} do |f| 

  / Item Selection
  %section.text-center#signup-first
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin What are you looking for?
              %p.center-align (These are the items we'll deliver to you so you can start packing)
    .container
      .row
        .div
          .col-md-8.col-md-offset-2.inventory
            .row
              %br/  
              .col-md-12.col-md-offset-0
                %h2.pull-left
                  %i Traditional Packing Supplies
                %br
                .single-line.pt-10
            .row
              / .col-md-2.col-sm-0.col-xs-2.center-align
              = render partial: "partials/list_item_small", locals: {name: "Standard Box", description: "22\" x 18\" x 12\"", price: "$6.50/m", field_val: :box_quantity, id:"stdbox", form:f, cls:"form-control", uses:"(books, clothing & small items)", imgUrl:"http://www.ikea.com/us/en/images/products/samla-box__0144440_PE303768_S4.JPG"}
              = render partial: "partials/list_item_small", locals: {name: "Wardrobe Box", description: "24\" x 20\" x 46\"", price: "$12.00/m", field_val: :box_quantity, id:"warbox", form:f, cls:"form-control", uses:"(suits, poster tubes & tall items)", imgUrl:"http://www.ikea.com/us/en/images/products/brimnes-wardrobe-with--doors__0140624_PE300605_S4.JPG"}
            .row
              %br/  
              .col-md-12.col-md-offset-0
                %h2.pull-left
                  %i Box Packing Supplies
                %br
                .single-line.pt-10
            .row
              = render partial: "partials/list_item_small", locals: {name: "Bubble Wrap", uses: "cocoon your precious items.", description:"12\" wide x 30' long", price: "$4.50 - 100ft", field_val: :box_quantity, id:"bubble", form:f, cls:"form-control", imgUrl:"http://www.staples-3p.com/s7/is/image/Staples/s0767163_sc7?$splssku$"}
              = render partial: "partials/list_item_small", locals: {name: "File Boxes", description:"10\" x 12\" x 15\"", uses: "keep that paper trail in line", price: "$9.50 each", field_val: :box_quantity, id:"filebox", form:f, cls:"form-control", imgUrl:"http://www.staples-3p.com/s7/is/image/Staples/s0199320_sc7?$splssku$"}
              = render partial: "partials/list_item_small", locals: {name: "Poster/Art Tubes", description:"3\" x 36\"",uses: "your art -  rolled for freshness", price: "$10 each", field_val: :box_quantity, id:"tube", form:f, cls:"form-control", imgUrl:"http://www.staples-3p.com/s7/is/image/Staples/s0059946_sc7?$splssku$"}
          .col-md-6.col-md-offset-3.half-opacity.charges-box
            %br/
            .single-line
            %br/
          .col-md-10.col-md-offset-1
            .row
              .col-md-12.charges-box
                .row
                  .col-md-10.col-md-offset-1.confirm-elem.light-blue-bg
                    %h5 Delivery Summary
                    %ul
                      %li#num-stdbox.hidden
                        %span.pull-left> 0
                        \&nbsp; &nbsp;Standard Boxes
                        %i.pull-right.light-gray $6.50/unit
                      %li#num-warbox.hidden
                        %span.pull-left> 0
                        \&nbsp; &nbsp;Wardrobe Boxes
                        %i.pull-right.light-gray $12.00/unit
                      %li#num-bubble.hidden
                        %span.pull-left> 0
                        \&nbsp; &nbsp;Rolls of Bubble Wrap
                        %i.pull-right.light-gray $4.50/unit
                      %li#num-filebox.hidden
                        %span.pull-left> 0
                        \&nbsp; &nbsp;File Boxes
                        %i.pull-right.light-gray $9.50/unit
                      %li#num-tube.hidden
                        %span.pull-left> 0
                        \&nbsp; &nbsp;Art/Poster Tubes
                        %i.pull-right.light-gray $10.00/unit
                      %br/  
                      %li.half-opacity
                        Valet Pickup
                        %span.pull-right Free
                    .single-line
                    %ul
                      %li.heavy-font
                        Subtotal
                        %span#order-subtotal.pull-right $00.00/m
              .col-md-10.col-md-offset-1
                %br/ 
                .col-md-4.bottom-buttons
                  .boxed-gray.continue-button
                    %button.btn.btn-primary.blue-bg.gray-bg{:type => "button"}/
                    = link_to "Back", storage_items_path, class:"white"
                .col-md-4.col-md-offset-4.bottom-buttons.charges-box
                  .boxed-gray.continue-button
                    %button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"}/
                    %a#signup-first-btn.white Delivery Details



  / Delivery Details
  %section.text-center#signup-second.default-hide
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Where should we drop off the boxes?
    .container
      .row
        .div
          .col-md-6.col-md-offset-3.half-opacity.charges-box
            %br/
          .col-md-8.col-md-offset-2
            .row
              = fields_for @user do |field|
                = render partial: "partials/delivery_addr_date", locals: {field:field, f:f}
                = render partial: "partials/delivery_date_time", locals: {field:field, f:f}
              .col-md-4.bottom-buttons
                .boxed-gray.continue-button
                  %button.btn.btn-primary.blue-bg.gray-bg{:type => "button"}
                    %a.white#signup-second-back Back
                  / = link_to "Back", storage_items_path, class:"white"
              .col-md-4.col-md-offset-4.bottom-buttons.charges-box
                .boxed-gray.continue-button
                  %button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"}
                    %a.white#signup-second-btn Next
                  / = f.submit "Confirm Order"



  / Signup
  %section.text-center#signup-third.default-hide
    .heading-about.marginbot-30
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2 Create An Account
    .container
      .row
        .col-lg-6.col-md-offset-3
          .boxed-grey
            .row
              %br/ 
              %br/ 
              = fields_for @user do |userAcct|
                .col-md-8.col-md-offset-2.form-group.address-form
                  %div.extra-form-padding
                    = userAcct.email_field :email, autofocus: true, class:"form-control", placeholder: "Email Address"
                  %div.extra-form-padding
                    = userAcct.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Password"
                  %div.extra-form-padding
                    = userAcct.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Confirm Password"
                  .col-md-12.bottom-buttons
                    / %a.white#signup-third-btn Next 
                    %a= userAcct.submit "Create Account",:class => "btn btn-skin pull-right", id:"signup-third-btn"                  
                    %a.pointer
                      %h1.btn.btn-default.pull-left#signup-third-back Back
            %br/
            %br/ 
    %br/ 
    %br/ 
    %br/ 


  / CONFIRMATION
  %section#signup-fourth.text-center.default-hide
    .heading-about.marginbot-30
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2 Confirm Your Order
    .container
      .row
        .col-lg-8.col-md-offset-2
          %h3.double-underlined Order Details
          .double-line
          .row
            .col-md-4.confirm-elem
              %h5 Your Order
              %ul
                %li
                  %span.order-item Standard Box
                  %span.pull-right 3
                %li
                  %span.order-item Wardrobe Box
                  %span.pull-right 1
                %li
                  %span.order-item Bicycle
                  %span.pull-right 1
              .single-line
              %ul
                %li.light-gray
                  %span.order-item Subtotal:
                  %span.pull-right $30/month
                %li
                  %span.order-item.blue.heavy-font Savings:
                  %span.pull-right.heavy-font $165/month
            .col-md-4.confirm-elem
              %h5 Delivery Time
              %p Tuesday, July 29 between
              %p 5:30 and 6:00 PM
            .col-md-4.confirm-elem
              %h5 Your Address
              %p 1035 Pearl St. #211
              %p Boulder, CO 80302
          %br/
          %br/
          %h3.double-underlined Payment Info
          .double-line
          %form#contact-form
            .bg-gray
              %br/
              .row
                .col-md-8.col-md-offset-2
                  .form-group.address-form
                    %label{:for => "name"} Name on Credit Card
                    %input#name.form-control{:placeholder => "e.g. John Doe", :required => "required", :type => "text"}/
                    %br/
                    %label{:for => "name"} Credit Card Number
                    %input#name.form-control{:placeholder => "e.g. 1234 5678 9012 3456", :required => "required", :type => "text"}/
                    %br/
                    .row
                      .col-md-6.col-sm-6.col-xs-6.col-lg-6
                        %label{:for => "name"} Expiration Month
                        %input#name.col-md-6.form-control{:placeholder => "mm", :required => "required", :type => "text"}/
                      .col-md-6.col-sm-6.col-xs-6.col-lg-6
                        %label{:for => "name"} Expiration Year
                        %input#name.col-md-6.form-control{:placeholder => "yyyy", :required => "required", :type => "text"}/
                .col-md-8.col-md-offset-2
              %br/
            %br/
            .bg-gray
              / %br/
              / .row
              /   .col-md-8.col-md-offset-2
              /     .form-group.address-form
              /       %label{:for => "name"}
              /         Your Phone Number
              /         %span (for deliveries)
              /       %input#name.form-control{:placeholder => "", :required => "required", :type => "text"}/
              /       %br/
              /   .col-md-8.col-md-offset-2
            %br/
            .row
              .col-md-5.col-md-offset-2.no-side-padding
                %p.align-right.pull-right.pt-10
                  I agree to the
                  %a.pointer{"data-target" => "#myModal", "data-toggle" => "modal"} terms and services 
              .col-md-1
                %input#terms-checkbox.pull-right{:type => "checkbox"}/
              .col-md-4
                .boxed-gray.continue-button
                  / %a{:href => "user-dashboard.html"}
                  / %button.btn.btn-primary.blue-bg-hover= link_to "Confirm Order", storage_items_path, class:"white"
                  / %button.btn.btn-primary{:type => "button"} Confirm Order
                  = f.submit 'confirm order'



= render :partial => "partials/footer"


/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Terms of Service
      .modal-body
        %p Small Items
        %ul
          %li Small Items
          %li Medium Items
        %p Medium Items
        %ul
          %li Small Items
          %li Medium Items
        %p Large Items
        %ul
          %li Small Items
          %li Medium Items
      .modal-footer
        %button.btn.btn-default.pull-left{"data-dismiss" => "modal", :type => "button"} Close
        / %button.btn.btn-primary{:type => "button"} Save changes

:javascript
  // Increment Text Field
  $(".btn-inc").click(function(){
    console.log("button clicked");
    var id = $(this).attr('id');

    // update text field - incrememnt by one
    var field = $("#txt-"+id);
    var val = $(field).val();
    val = +val + 1;
    $(field).val(val);

    // update subtotal text
    var orderEntrySpan = $('#num-'+id+" span");
    console.log("#num-"+id+" span");
    refreshOrder(val, orderEntrySpan);
  });

  $(".quantity-field").change(function(){
    var field = $(this);
    var id = field.attr("id");
    var idRoot = id.substr(4);
    console.log("#num-"+idRoot+" span");
    var orderEntrySpan = $('#num-'+idRoot+ " span");
    refreshOrder(field.val(), orderEntrySpan);
  });


  // Rewrites values in Order Summary Field
  function refreshOrder(val, orderEntrySpan){
    console.log("REFERESHING ORDER FOR" + orderEntrySpan);
    orderEntrySpan.html(parseInt(val));
    var orderEntry = orderEntrySpan.parent();
    
    if (val == 0) orderEntry.addClass('hidden');
    else orderEntry.removeClass('hidden');
    
    updateBoxRequestTotal();
  }


  // Overwrites subtotal for box request
  function updateBoxRequestTotal(){

    // Number of Boxes
    var numStdBox = $('#txt-stdbox').val();
    var numWarBox = $('#txt-warbox').val();
    var numBubble = $('#txt-bubble').val();
    var numFileBox = $('#txt-filebox').val();
    var numTube = $('#txt-tube').val();

    // Pricing Per Box
    var STDBOX_PRICE =  6.50;
    var WARDROBE_BOX_PRICE =  12.00;
    var BUBBLE_WRAP_PRICE =  4.50;
    var FILE_BOX_PRICE =  9.50;
    var POSTER_TUBE_PRICE =  10.00;


    var total = (numStdBox * STDBOX_PRICE) + (numWarBox * WARDROBE_BOX_PRICE) + (numBubble * BUBBLE_WRAP_PRICE) + (numFileBox * FILE_BOX_PRICE) + (numTube * POSTER_TUBE_PRICE);
    console.log("total:" + total);
    $('#order-subtotal').text("$" + total+"/m");
  }
  
  function moveFromTo(fromDiv, toDiv){
    $(fromDiv).hide();
    $(toDiv).show();
    window.scrollTo(0,0);
  }


  function moveFromTo(fromDiv, toDiv){
    $(fromDiv).hide();
    $(toDiv).show();
    window.scrollTo(0,0);
  }

  $("#signup-first-btn").click(function(){
    moveFromTo("#signup-first", "#signup-second");
  })

  $("#signup-second-btn").click(function(){
    moveFromTo("#signup-second", "#signup-third");
  })

  $("#signup-third-btn").click(function(){
    e.preventDefault();
    moveFromTo("#signup-third", "#signup-fourth");
  })

  $("#signup-second-back").click(function(){
    moveFromTo("#signup-second", "#signup-first");
  })

  $("#signup-third-back").click(function(){
    moveFromTo("#signup-third", "#signup-second");
  })

  $("#signup-fourth-back").click(function(){
    e.preventDefault();
    moveFromTo("#signup-fourth", "#signup-third");
  })





