- content_for :title do
  = "Price Estimator |"

:javascript
  window.small_item_base_price = '#{StorageItem.item_types["small"]}';
  window.medium_item_base_price = '#{StorageItem.item_types["medium"]}';
  window.large_item_base_price = '#{StorageItem.item_types["large"]}';
  window.extra_large_item_base_price = '#{StorageItem.item_types["extra_large"]}';
  window.always_discount = '#{StorageItem.always_discount}';
  window.volume_discounts = JSON.parse('#{StorageItem.volume_discounts.to_json}');
  window.duration_discounts = JSON.parse('#{StorageItem.duration_discounts.to_json}');

= javascript_include_tag :estimator

- if @track_conversion
  :javascript
    analytics.track('Signed Up', {
      value: 15
    });

- if current_user
  = render :partial => 'partials/logged_in_header'
- else
  = render :partial => 'partials/signup_header'

= render partial: 'partials/signup_progress_header', locals: {header: 'Estimate Price', include_header: false, step_1_classes: 'signup-completed', step_2_classes: 'signup-active', step_3_classes: '', step_1_span_class: '', step_2_span_class: ' hidden', step_3_span_class: ' hidden'}

.errors
  = render partial: "partials/error_messages_object_form", locals: {object: @user}

%br/

%section#estimator-options
  %br/
  %br/ 
  %br/ 
  .row.no-side-padding.align-center
    %h2 Choose Your Storage Items
    %br/ 

    .col-md-3.col-md-offset-3
      .now-later-box#estimate-now    
        %i{class:"icon-icon-couch"}
        %h4
          Select
          %br/ 
          Storage Now
      %br/ 
      %p.half-opacity (Get an instant estimate for your storage)
    .col-md-3
      .now-later-box#estimate-later
        %i{class:"icon-pickup"}
        %h4
          Wait Until
          %br/ 
          Pickup
      %br/ 
      %p.half-opacity (Our drivers can help you when they arrive)
%br/ 

/ .container.full-width.blue-bg.no-padding.white.align-center


%br/
%section.text-center.inventory#estimator-page.hidden
  .container
    = form_for PickupRequest.new, url:signup_select_items_path(@user.id) do |f|
      .row
        .col-md-8
          .panel.panel-info
            .panel-heading
              .panel-title
                %h1.align-center.no-margin Estimate Your Monthly Cost
            .panel-body
              %p.align-center Your monthly storage costs are based on how much you put in storage as well as how long you keep them in storage.
              = render layout: 'partials/item_price_box', locals: {icon_class: 'box', item_size: 'small', item_name: 'Small Items', item_price: '$7', item_description: 'Boxes, tires, bags, or similarly sized objects'} do
                %br/
                = f.label :small_item_quantity, "Quantity:"
                %br/
                = f.text_field :small_item_quantity, placeholder: 0, class: 'form-control quantity-field'
              = render layout: 'partials/item_price_box', locals: {icon_class: 'bike', item_size: 'medium', item_name: 'Medium Items', item_price: '$15', item_description: 'Bikes, chairs, skis, luggage, or coffee tables'} do
                %br/
                = f.label :medium_item_quantity, "Quantity:"
                %br/
                = f.text_field :medium_item_quantity, placeholder: 0, class: 'form-control quantity-field'
              = render layout: 'partials/item_price_box', locals: {icon_class: 'couch', item_size: 'large', item_name: 'Large Items', item_price: '$30', item_description: 'Desks, drawers, TV\'s, armchairs, or small couches'} do
                %br/
                = f.label :large_item_quantity, "Quantity:"
                %br/
                = f.text_field :large_item_quantity, placeholder: 0, class: 'form-control quantity-field'
              = render layout: 'partials/item_price_box', locals: {icon_class: 'bed', item_size: 'large', item_name: 'XL Items', item_price: '$50', item_description: 'Dining tables, large bedframes, sectional couches'} do
                %br/
                = f.label :extra_large_item_quantity, "Quantity:"
                %br/
                = f.text_field :extra_large_item_quantity, placeholder: 0, class: 'form-control quantity-field'

              .panel-body
                %br/
                %p.align-center Take your best guess, and we'll guarantee your quote.

              .panel-heading.light-blue-bg
                .panel-title
                  %h2.align-center.no-margin Length of Stay
              .panel-body
                %p.align-center
                  %button.btn#pickup_request_duration_minus -
                  %span#pickup_request_duration_value 1 - 2 Months
                  %button.btn#pickup_request_duration_plus +
                = f.hidden_field :duration, value: 1
                %p.align-center The longer you stay, the more you save
        .col-md-4
          .panel.panel-info
            .panel-heading
              .panel-title
                %h2.align-center.no-margin Order Summary
            .panel-body
              %p
                %strong Base monthly price: 
                %span#estimator_base_price $0.00
              %p
                %strong Discounts:
              %p.est-subpoint
                Volume discount:
                %span#estimator_volume_discount 0%
              %p.est-subpoint
                Duration discount:
                %span#estimator_duration_discount 0%
              %p
                %strong Monthly Total:
                %span#estimator_gross_price $0.00
              %p.est-first-total
                %strong Special Offer!
                Book now and get an extra
                %strong 15% off!
              %p.est-special-offer
                %strong Final monthly price: 
                %span#estimator_final_price $0.00
              %p
                %strong Total savings:
                %span#estimator_total_savings $0.00
          .continue-button.align-center
            %button#next-button.btn.btn-primary.blue-bg
              = f.submit "CONTINUE", class: "blue-bg"

= render :partial => 'partials/footer'