- content_for :title do
  = "Price Estimator |"

= render partial: 'partials/standard_header'

= render partial: 'partials/signup_progress_header', locals: {header: 'Estimate Price', include_header: true, step_1_classes: 'signup-active', step_2_classes: '', step_3_classes: '', step_1_span_class: ' hidden', step_2_span_class: ' hidden', step_3_span_class: ' hidden'}


%br/

= render partial: 'partials/estimator', locals: {sign_up_flow: true}

= render partial: 'partials/footer'
