
// CUSTOM HEADER
.container
  %ul#gn-menu.gn-menu-main.main-header.full-opacity
    %li.gn-trigger.no-border
      %a.no-padding{href: "/storage_items"}
        %img#menu-img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/qb-logo.png", :alt => ""}/
  
    // ICON & TITLE
    %li.pull-left.no-border
      %a.no-side-padding{href: "/storage_items"}
        %span.light-gray.black-hover#menu-title QuickBox

    // RIGH SIDE LINKS    
    %li.pull-right
      = link_to "Logout", destroy_user_session_path, method: "delete", class:"black-hover"
    %li.pull-right.no-border
      = link_to "FAQ", faq_path, class:"light-gray black-hover"


= render partial: "partials/just_blue_bar", locals:{mainText:" ", dashboard:true, faq:true}
.errors
  = render partial: "partials/error_messages_object_form", locals: {object: @user}
%br/ 
%br/ 
%br/ 

// Confirmation Page
%section#signup-fourth.text-center
  .heading-about.marginbot-30
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 Order Summary
  .container
    .row
      .col-lg-8.col-md-offset-2
        %h3.double-underlined Order Details
        .double-line
        .row

          // Order Recap
          .col-md-4.confirm-elem
            %h5 Your Order
            %ul
              - if @packing_supplies_request
                // Packing Supplies
                %li
                  %span.order-item Standard Box
                  %span.pull-right.hide-when-zero= @packing_supplies_request.box_quantity
                %li
                  %span.order-item Wardrobe Box
                  %span.pull-right.hide-when-zero= @packing_supplies_request.wardrobe_box_quantity
                %li
                  %span.order-item Bubble Wrap
                  %span.pull-right.hide-when-zero= @packing_supplies_request.bubble_quantity
                %li
                  %span.order-item Packing Tape
                  %span.pull-right.hide-when-zero= @packing_supplies_request.tape_quantity
              
              - if @pickup_request
                // Storage Items
                %li
                  %span.order-item Boxes
                  %span.pull-right.hide-when-zero= (@pickup_request.storage_items.where(item_type: 'small').count)
                  %span.item-amount.hidden= (@pickup_request.storage_items.where(item_type: 'small').count) * 5.0 
                %li
                  %span.order-item Medium Items
                  %span.pull-right.hide-when-zero= @pickup_request.storage_items.where(item_type: 'medium').count
                  %span.item-amount.hidden= @pickup_request.storage_items.where(item_type: 'medium').count * 12
                %li
                  %span.order-item Large Items
                  %span.pull-right.hide-when-zero= @pickup_request.storage_items.where(item_type: 'large').count
                  %span.item-amount.hidden= @pickup_request.storage_items.where(item_type: 'large').count * 25

                %li
                  %span.order-item XL Items
                  %span.pull-right.hide-when-zero= @pickup_request.storage_items.where(item_type: 'extra_large').count
                  %span.item-amount.hidden= @pickup_request.storage_items.where(item_type: 'extra_large').count * 40


            .single-line
            %ul
              / %li.light-gray
              /   %span.order-item Cost of Supplies:
              /  / %span.pull-right.hide-when-zero$ #{@packing_supplies_request.one_time_price}
              %li.light-gray
                %span.order-item Price of Storage:
                %span.pull-right#subtotal $0.00
           
          // Delivery Recap
          .col-md-4.confirm-elem
            %h5 Pickup Time
            - if @pickup_request.nil?
              %p no pickup requested... yet
            - else 
              %p= @pickup_request.delivery_time.strftime("%B %d at %l:%M %p")
              .delivery-confirm-instructions
                %br/ 
                %h6.no-margin Special Instructions
                %p.half-opactiy.hide-unused= @user.special_instructions


          // Address Recap
          .col-md-4.confirm-elem
            %h5 Your Address
            %p= @user.address_line_1
            %div 
              %p.hide-unused= @user.address_line_2
            %p #{@user.city}, #{@user.state} #{@user.zip}
        %br/
        %br/
        %h3.double-underlined Payment Info
        .double-line

        // Credit Card Info Form
        = form_for @user, url:add_payment_signup_pages_path, html:{id:"credit-card-form"} do |cc|
          .bg-gray
            %br/
            = render partial: "partials/cc_info", locals:{cc: cc}
            %br/ 
          
          %br/ 
          .bg-gray
            %br/ 
            .row
              .col-md-8.col-md-offset-2.align-left
                .form-group.address-form
                  .row
                    .col-md-6.light-gray
                      = cc.label :promo_code, "Have a promo code?", class:"no-margin"
                      = cc.text_field :promo_code,  autofocus: true, placeholder:"", class:"form-control"
                    .col-md-6
                      = cc.label :referrer, "How did you hear about us?"
                      = cc.select  :referrer, options_for_select([["Divine Inspiration"], ["A Wise Man Told Me"], ["A Flyer"], ["A Friend"], ["Other"]]),{}, {class:"form-control"}
                    
            %br/
          %br/
          %br/
          .row
            .col-md-5.col-md-offset-2.no-side-padding
              %p.align-right.pull-right.pt-10
                I agree to the
                %a.pointer{"data-target" => "#myModal", "data-toggle" => "modal"} terms of service 
            .col-md-1
              %input#terms-checkbox.pull-right{:type => "checkbox", required:true}/
            .col-md-4
              .boxed-gray.continue-button
                = cc.submit 'confirm order', class:"btn btn-primary blue-bg-hover"



= render :partial => "partials/footer"


/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Terms of Service
      .modal-body
        = render partial: "partials/terms_of_service_txt"
      .modal-footer
        %button.btn.btn-default.pull-left{"data-dismiss" => "modal", :type => "button"} Close
        / %button.btn.btn-primary{:type => "button"} Save changes

:javascript
  hideParentWhenZero("hide-when-zero");
  hideParentWhenNotUsed("hide-unused");

  sumItemList(".item-amount", "#subtotal");

  