// CUSTOM HEADER
.row.header-nav
  .nav-links-wrapper.col-md-4.col-xs-5
    %a.no-padding.pull-left{href: "/storage_items"}
      %img#menu-img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/qb-logo.png", :alt => ""}/
    %a.pull-left.no-side-padding{href: "/storage_items"}
      %span.light-gray.black-hover#menu-title QuickBox
  .nav-links-wrapper.col-md-1.col-md-offset-6.left-border.col-xs-2
    .no-border.nav-links
      = link_to "FAQ", faq_path, class:"light-gray black-hover", :target => "_blank"
  .nav-links-wrapper.col-md-1.col-xs-3
    .no-border.nav-links
      = link_to "Logout", destroy_user_session_path, method: "delete", class:"black-hover blue"

        



.container.full-width.blue-bg.no-padding.white.align-center
  %br/ 
  %h1#lets-doit Account Confirmation

#signup-progress.row.align-center
  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
    %ul.no-list
      %li.signup-completed#step-1  
        %h4
          %span.green{:data => {'icon' => "D"}}
          1. Create Login    
      %li#step-2.signup-active
        %h4
          %span.green.hidden{:data => {'icon' => "D"}}
          2. Confirm Account
      %li#step-3
        %h4
          %span.green.hidden{:data => {'icon' => "D"}}
          3. Done
/ = render partial: "partials/just_blue_bar", locals:{mainText:" ", dashboard:true, faq:true}
.errors
  = render partial: "partials/error_messages_object_form", locals: {object: @user}
%br/ 
%br/ 
/ %br/ 

// Confirmation Page
%section.text-center
  = form_for @user, url:add_payment_signup_pages_path do |f|
    / .heading-about
    /   .container
    /     .row
    /       .col-lg-8.col-lg-offset-2
    /         .section-heading
    /           %h2.no-margin Account Confirmation
    /           %h3.light-gray (the last step)
    .container
      .row
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
          #pickup-details
            .row
              %h3.double-underlined Pickup Details
              .double-line
              #delivery-form
                = render partial: "partials/delivery_addr_date", locals: {field:f, id:"datepicker"}
              %h5.pull-right#show-continue.light-gray.black-hover.pointer Continue
          
            %br/ 
            %br/ 

      / .row#quote-generator.hidden
      /   .col-md-12
      /     %h4.pointer.pull-right#quote-close close
      /     = fields_for @temp_pickup, html:{id:"delivery-form"} do |pickup_field|
      /       = render partial: "partials/storage_items", locals:{f:pickup_field}

      .row
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
          .row#payment-details.hidden
            %h3.double-underlined
              Payment Info
              / %p.pull-right.half-opacity
              / No charges will take place until you put items in storage
            .double-line
            %p.heavy-font
              %span.half-opacity No charges will occur until you put items in storage. 
               
              To get a price estimate for your items click

              %span.blue.pointer#quote-triggerr{"data-target" => "#quote_gen_popup", "data-toggle" => "modal"}
                here.
            %br/ 
            // Credit Card Info Form
            #credit-card-form
              .bg-gray
                %br/
                = render partial: "partials/cc_info", locals:{field: f}
              %br/ 
              %h5.pull-right#cc-continue.light-gray.black-hover.pointer Continue   

              
              %br/ 
              %div#finish-details.hidden
                %h3.double-underlined Finish Line

                .double-line
                .bg-gray
                  %br/ 
                  .row

                    .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.align-left
                      .form-group
                        .row
                          .col-md-6.light-gray
                            = f.label :promo_code, "Promo Code? (optional)", class:"no-margin"
                            = f.text_field :promo_code, class:"form-control"
                          .col-md-6
                            = f.label :referrer, "How did you hear about us?"
                            = f.select  :referrer, options_for_select([["Word of mouth"], ["An ad online"], ["A flyer"], ["Referred by a company"], ["Search"]]),{}, {class:"form-control"}
                %br/

              #submit-details.hidden
                %p.align-left.light-gray.small-text * you will only be charged after pickup

                %br/
                %br/
                .row
                  .col-md-5.col-md-offset-2.no-side-padding
                    %p.align-right.pull-right.pt-10
                      I agree to the
                      %a.pointer{"data-target" => "#myModal", "data-toggle" => "modal"} terms of service 
                  .col-md-1
                    / # = cc.check_box :remember_me, class: "pull-left"
                    / %input#terms-checkbox.pull-right{:type => "checkbox", required:true}/
                    = f.check_box :terms_of_service_accepted, {id: 'terms-checkbox', class: 'pull-right', required: 'true'}
                  .col-md-4
                    .boxed-gray
                      = f.submit 'confirm order', class:"btn btn-primary blue-bg-hover", id:"submit-button"


%br/ 
%br/ 
%br/ 
= render :partial => "partials/footer"


/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Terms of Service
      .modal-body
        = render partial: "partials/terms_of_service_txt"
      .modal-footer
        %button.btn.btn-default.pull-left{"data-dismiss" => "modal", :type => "button"} Close

= render partial: "partials/quote_gen_modal"

= javascript_include_tag "item_selector"

:javascript
  hideParentWhenZero("hide-when-zero");
  hideParentWhenNotUsed("hide-unused");
  

  sumItemList(".item-amount", "#subtotal", "/month");

   $(document).keypress(function(event) {
      hideAndShowConfirmFields();
   });
   $("input[type=text]").blur(function(){
      hideAndShowConfirmFields();
   });


  function hideAndShowConfirmFields(){
     $("#validator-id").data('bootstrapValidator').validate();
     isValid = $("#validator-id").data('bootstrapValidator').isValid();
     console.log("isValid? " + isValid);
     if (isValid){
      $("#payment-details").removeClass("hidden");
      $("#show-continue").addClass("hidden");
      console.log("removing hidden");
      $("#submit-details").removeClass("hidden");
     } else{
       console.log("validator id not valid");
     }
    
    $("#credit-card-form").data('bootstrapValidator').validate();
    if ($("#credit-card-form").data('bootstrapValidator').isValid() && $("#cc_cvc").val().length >= 3){
       $("#submit-button").removeAttr("disabled");
       $("#finish-details").removeClass("hidden");
       $("#submit-details").removeClass("hidden");
       $("#cc-continue").addClass("hidden");

       console.log("submit button no longer disabled");
     } else {
        console.log("removing hidden class");
        $("#submit-button").attr("disabled", true);

     }     
  }

    
   $("#quote-trigger").click(function(){
    $("#quote-generator").removeClass("hidden");
   });

   $("#quote-close").click(function(){
    $("#quote-generator").addClass("hidden");
   });


  