= render partial: "partials/admin_header", locals:{mainText:"Item Pickup"}

.container.full-width.blue-bg.no-padding.white.dashboard-header
  
  .row
    .col-md-12.col-xs-12.align-center
      .single-line.no-opacity
      %h1.no-side-margin ADMIN PAGE


.container#admin-page
  %br/ 
  %br/ 
  %section.no-padding
    .row
      .col-lg-8.col-md-offset-2
        // Order Recap
        .col-md-4.confirm-elem
          %h5.align-center Pickup Requests
          .single-line
          %ul
            %li
              %span.order-item Pending Requests
              %span.pull-right #{@pending_pickup_requests.count}
         
        .col-md-4.confirm-elem
          %h5.align-center Supplies Requests
          .single-line
          %ul
            %li
              %span.order-item Pending Requests
              %span.pull-right #{@pending_packing_supplies_requests.count}

        .col-md-4.confirm-elem
          %h5.align-center Delivery Requests
          .single-line
          %ul
            %li
              %span.order-item Pending Requests
              %span.pull-right #{@pending_delivery_requests.count}
      
  %br/ 
  %br/ 
  .single-line
  .single-line

  ////////////////////////////////////////////////////////////////////////////////////////////////
  //////////// PICKUP REQUESTS ///////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////
  %section.text-center#pickup-requests
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Pending Pickup Requests
              %p.align-center Outstanding Pickup Requests: #{@pending_pickup_requests.count}
    .container.request-entry
      // For Each Pickup Request
      .row  
        - @pending_pickup_requests.each do |pickup_request|
          .col-md-8.col-md-offset-2.align-left.boxed-grey.fat-white-border
            .request-content.no-margin.row
              .col-md-5
                %h3.blue.heavy-font Pending Pickup
              .col-md-3.pull-left
                %a.pointer.white.details-btn{:id => "#{pickup_request.id}"}
                  %h1.btn.btn-default.gray-bg View Details
              .col-md-3.pull-left
                = link_to "Record & Complete", admin_record_pickup_request_path(id: pickup_request.id), class: "btn btn-skin white"
            .request-content
              .storage-items
                .row.storage-item
                  = render partial: "partials/admin_driver_details", locals:{request:pickup_request}
                  .col-md-4
                    %p
                      %span Items Requested
                      %ul.no-list
                        %li
                          Boxes:
                          %span.pull-right= pickup_request.storage_items.where(item_type: 'small').count

                        %li
                          Medium Items:
                          %span.pull-right= pickup_request.storage_items.where(item_type: 'medium').count
                        %li
                          Large Items:
                          %span.pull-right= pickup_request.storage_items.where(item_type: 'large').count
                        %li
                          XL Items:
                          %span.pull-right= pickup_request.storage_items.where(item_type: 'extra_large').count
              .admin-details.hidden{:id => "#{pickup_request.id}-details"}
                = render partial: "partials/admin_pickup_detail", locals: {pickup_request: pickup_request}
              %p.no-opacity a

        %br/
  
  %br/ 
  .single-line
  .single-line

  ////////////////////////////////////////////////////////////////////////////////////////////////
  //////////// DELIVERY REQUESTS /////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////
  %section.text-center#delivery-requests
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Pending Delivery Requests
              %p.align-center Outstanding Delivery Requests: #{@pending_delivery_requests.count}
    .container.request-entry
      .row
        - @pending_delivery_requests.each do |delivery_request|
          .col-md-8.col-md-offset-2.align-left.boxed-grey.fat-white-border.request-entry
            .request-content.no-margin
              .col-md-5
                %h3.blue.heavy-font Pending Delivery
              .col-md-3.pull-left
                %a.pointer.white.details-btn{:id => "#{delivery_request.id}"} 
                  %h1.btn.btn-default.gray-bg View Details
              .col-md-3.pull-left
                = link_to "Record & Complete", admin_record_delivery_request_path(id: delivery_request.id), class: "btn btn-skin white"
                / %a.btn.btn-skin.white{:href => ""} Record & Complete 
            .row
              
            .request-content
              .storage-items
                .row.storage-item
                  = render partial: "partials/admin_driver_details", locals:{request:delivery_request}
                  .col-md-4
                    %p
                      %ul.no-list
                        %li.heavy-font 
                          %span Boxes:
                          %span.pull-right ID

                        - delivery_request.storage_items.where(item_type: 'small').each do |small_item|
                          %li.delivery-detail
                            small_item.title
                            %span.pull-right #{small_item.user_item_number}
                        %li.heavy-font
                          %span Medium Items:
                          %span.pull-right ID
                        - delivery_request.storage_items.where(item_type: 'medium').each do |medium_item|
                          %li.delivery-detail 
                            medium_item.title
                            %span.pull-right #{medium_item.user_item_number}

                        %li.heavy-font
                          %span Large Items: 
                          %span.pull-right ID
                        - delivery_request.storage_items.where(item_type: 'large').each do |large_item|
                          %li.delivery-detail 
                            large_item.title
                            %span.pull-right #{large_item.user_item_number}

                        %li.heavy-font
                          %span XL Items
                          %span.pull-right ID
                        - delivery_request.storage_items.where(item_type: 'extra_large').each do |extra_large_item|
                          %li.delivery-detail
                            = extra_large_item.title
                            %span.pull-right #{extra_large_item.user_item_number}
            / .request-content
            .admin-details.hidden{:id => "#{delivery_request.id}-details"}
              = render partial: "storage_items", locals: {activity: 'deliver', request: delivery_request, show_id: true}
            %p.no-opacity a

  %br/ 
  %br/ 
  .single-line
  .single-line
  ////////////////////////////////////////////////////////////////////////////////////////////////
  //////////// SUPPLIES REQUESTS /////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////
  %section.text-center#supplies-requests
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Pending Packing Supplies Requests
              %p.align-center Outstanding Supplies Requests: #{@pending_packing_supplies_requests.count}

    .container.request-entry  
      .row
        - @pending_packing_supplies_requests.each do |packing_request|
          .col-md-8.col-md-offset-2.align-left.boxed-grey.fat-white-border.request-entry
            .request-content.no-margin
              .col-md-5
                %h3.blue.heavy-font Supplies Request
              .col-md-3.pull-left
                %a.pointer.white
                  / %h1.btn.btn-default.gray-bg View Details
              .col-md-3.pull-left
                %a.btn.btn-skin.white{:href => ""} Record & Complete 
            .row
            .request-content
              .storage-items
                .row.storage-item
                  .col-md-5
                    %p.no-margin
                      %span.heavy-font  Customer's address:
                      %br/ 
                      = packing_request.user.address_line_1
                      = packing_request.user.address_line_2
                      %br/ 
                      #{packing_request.user.city}, #{packing_request.user.state}, #{packing_request.user.zip}

                    %p.no-margin
                      %br/ 
                      %span.heavy-font  Date Ordered:
                      Sample Date Time
                  .col-md-5.col-md-offset-2
                    %p
                      %span Boxes:
                      #{packing_request.box_quantity}
                    %p
                      %span Wardrobe Boxes:
                      #{packing_request.wardrobe_box_quantity}
                    %p
                      %span Bubble Wrap:
                      #{packing_request.bubble_quantity}
                    %p
                      %span Packing Tape:
                      #{packing_request.tape_quantity}                   


%br/ 
%br/ 
= render partial: "partials/footer"

:javascript
  $(".details-btn").click(function(){
    var id = $(this).attr("id");
    var details = $("#" + id + "-details");
    console.log(id+"-details");
    if ($(details).hasClass("hidden")) {
      $("#" + id + " h1").html("Hide Details");
      $(details).removeClass("hidden");
    }
    else {
      $("#" + id + " h1").html("View Details");
      $(details).addClass("hidden");
    }
  });

// admin/record_pickup_request/id