= render partial: "partials/admin_header", locals:{mainText:"Item Pickup"}

.container.full-width.blue-bg.no-padding.white.dashboard-header
  
  .row
    .col-md-12.col-xs-12.align-center
      .single-line.no-opacity
      %h1.no-side-margin ADMIN PAGE


.container#admin-page
  %br/ 
  %br/ 
  %section.no-padding
    .row
      .col-lg-8.col-md-offset-2
        // Order Recap
        .col-md-4.confirm-elem
          %h5.align-center Pickup Requests
          .single-line
          %ul
            %li
              %span.order-item Pending Requests
              %span.pull-right #{@pending_pickup_requests.count}
         
        .col-md-4.confirm-elem
          %h5.align-center Supplies Requests
          .single-line
          %ul
            %li
              %span.order-item Pending Requests
              %span.pull-right #{@pending_packing_supplies_requests.count}

        .col-md-4.confirm-elem
          %h5.align-center Delivery Requests
          .single-line
          %ul
            %li
              %span.order-item Pending Requests
              %span.pull-right #{@pending_delivery_requests.count}
      
  %br/ 
  %br/ 
  .single-line
  .single-line

  ////////////////////////////////////////////////////////////////////////////////////////////////
  //////////// PICKUP REQUESTS ///////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////
  %section.text-center#pickup-requests
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Pending Pickup Requests
              %p.align-center Outstanding Pickup Requests: #{@pending_pickup_requests.count}
    .container.request-entry
      // For Each Pickup Request
      .row  
        - @pending_pickup_requests_unassigned.each do |pickup_request|
          = render partial: 'admin_pickup_request_info', locals: {pickup_request: pickup_request, assigned: false}
        - @pending_pickup_requests_assigned.each do |pickup_request|
          = render partial: 'admin_pickup_request_info', locals: {pickup_request: pickup_request, assigned: true}
        %br/
  
  %br/ 
  .single-line
  .single-line

  ////////////////////////////////////////////////////////////////////////////////////////////////
  //////////// DELIVERY REQUESTS /////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////
  %section.text-center#delivery-requests
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Pending Delivery Requests
              %p.align-center Outstanding Delivery Requests: #{@pending_delivery_requests.count}
    .container.request-entry
      .row
        - @pending_delivery_requests_unassigned.each do |delivery_request|
          = render partial: 'admin_delivery_request_info', locals: {delivery_request: delivery_request}
        - @pending_delivery_requests_assigned.each do |delivery_request|
          = render partial: 'admin_delivery_request_info', locals: {delivery_request: delivery_request}

  %br/ 
  %br/ 
  .single-line
  .single-line
  ////////////////////////////////////////////////////////////////////////////////////////////////
  //////////// SUPPLIES REQUESTS /////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////
  %section.text-center#supplies-requests
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Pending Packing Supplies Requests
              %p.align-center Outstanding Supplies Requests: #{@pending_packing_supplies_requests.count}

    .container.request-entry  
      .row
        - @pending_packing_supplies_requests.each do |packing_request|
          .col-md-8.col-md-offset-2.col-xs-12.align-left.boxed-grey.fat-white-border.request-entry
            .request-content.no-margin
              .col-md-5
                %i.icon-icon-box.fa.pull-left 
                %h3.blue.heavy-font Supplies Request
              .col-md-3.pull-left
                %a.pointer.white
                  / %h1.btn.btn-default.gray-bg View Details
              .col-md-3.pull-left
                = button_to 'Record & Complete', complete_packing_supplies_request_path(packing_request.id), method: :patch, class: 'btn btn-skin white'
            .row
            .request-content
              .storage-items
                .row.storage-item
                  .col-md-5
                    %p.no-margin
                      %span.heavy-font  Customer's address:
                      %br/ 
                      = packing_request.user.address_line_1
                      = packing_request.user.address_line_2
                      %br/ 
                      #{packing_request.user.city}, #{packing_request.user.state}, #{packing_request.user.zip}

                    %p.no-margin
                      %br/ 
                      %span.heavy-font  Date Ordered:
                      #{packing_request.created_at.strftime("%B %d at %l:%M %p")}
                  .col-md-5.col-md-offset-2
                    %p
                      %span Boxes:
                      #{packing_request.box_quantity}
                    %p
                      %span Wardrobe Boxes:
                      #{packing_request.wardrobe_box_quantity}
                    %p
                      %span Bubble Wrap:
                      #{packing_request.bubble_quantity}
                    %p
                      %span Packing Tape:
                      #{packing_request.tape_quantity}                   


%br/ 
%br/ 
= render partial: "partials/footer"

:javascript
  $(".details-btn").click(function(){
    var id = $(this).attr("id");
    var details = $("#" + id + "-details");
    console.log(id+"-details");
    if ($(details).hasClass("hidden")) {
      $("#" + id + " h1").html("Hide Details");
      $(details).removeClass("hidden");
    }
    else {
      $("#" + id + " h1").html("View Details");
      $(details).addClass("hidden");
    }
  });

// admin/record_pickup_request/id