= render partial: "partials/admin_header"

.container.full-width.blue-bg.no-padding.white.dashboard-header
  
  .row
    .col-md-12.col-xs-12.align-center
      .single-line.no-opacity
      %h1.no-side-margin ADMIN PAGE


.container#admin-page
  %br/ 
  %br/ 
  %section.no-padding
    .row
      .col-lg-8.col-md-offset-2
        // Order Recap
        .col-md-4.confirm-elem
          %h5.align-center Pickup Requests
          .single-line
          %ul
            %li
              %span.order-item Pending Requests
              %span.pull-right #{@pending_pickup_requests.count}
         
        .col-md-4.confirm-elem
          %h5.align-center Supplies Requests
          .single-line
          %ul
            %li
              %span.order-item Pending Requests
              %span.pull-right #{@pending_packing_supplies_requests.count}

        .col-md-4.confirm-elem
          %h5.align-center Delivery Requests
          .single-line
          %ul
            %li
              %span.order-item Pending Requests
              %span.pull-right #{@pending_delivery_requests.count}
      
  %br/ 
  %br/ 
  .single-line
  .single-line
  %section.text-center#pickup-requests 
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Pending Pickup Requests
              %p.align-center Outstanding Pickup Requests: #{@pending_pickup_requests.count}
    .container.request-entry
      // For Each Pickup Request
      .row  
        - @pending_pickup_requests.each do |pickup_request|
          .col-md-8.col-md-offset-2.align-left.boxed-grey.fat-white-border
            .request-content.no-margin.row
              .col-md-5
                %h3.blue.heavy-font Pending Pickup
              .col-md-3.pull-left
                %a.pointer.white
                  %h1.btn.btn-default.red Mark Assigned
              .col-md-3.pull-left
                %a.btn.btn-skin.white{:href => ""} Record & Complete 
              / .row
              /   .col-md-12
              /     %br/ 
              /     = form_for pickup_request, url: complete_pickup_request_path(pickup_request.id) do |f|
              /       = f.submit 'Mark Complete', class:"pull-right btn btn-skin"
              /       %a.btn.white.gray-bg.pull-right{:href => "mailto:#{pickup_request.user.email}"}  Email Customer
              /     %br/
              /     %br/ 
              /     %br/  
            .row
              
            .request-content
              .storage-items
                .row.storage-item
                  .col-md-4
                    %p
                      %span Delivery Time:
                      %br/ 
                      = pickup_request.delivery_time.strftime("%B %d at %l:%M %p")
                      %br/ 
                      %br/ 
                      %span Customer Email
                      %a{:href => ""}
                        = pickup_request.user.email
                  .col-md-4      
                    %p 
                      %span Address:
                      %br/ 
                      = pickup_request.user.address_line_1
                      = pickup_request.user.address_line_2
                      %br/ 
                      #{pickup_request.user.city}, #{pickup_request.user.state}, #{pickup_request.user.zip}
                      %br/ 
                      %span Notes: 
                      = pickup_request.user.special_instructions
                  .col-md-4
                    %p
                      %span Items Requested
                      %ul.no-list
                        %li
                          Boxes:
                          %span.pull-right= pickup_request.small_item_quantity
                        %li
                          Medium Items:
                          %span.pull-right= pickup_request.medium_item_quantity
                        %li
                          Large Items:
                          %span.pull-right= pickup_request.large_item_quantity
                        %li
                          XL Items:
                          %span.pull-right= pickup_request.extra_large_item_quantity
                // THIS IS ONLY FOR DETAIL VIEWS
                / - pickup_request.storage_items.each do |item|
                /   .row.storage-item
                /     .col-md-6
                /       - if false
                /         %p
                /           %span Item ID:
                /           #{item.id}
                /       %p
                /         %span Item to Pick Up:
                /         #{item.item_type}
                /       %p
                /         %span User item number:
                /         #{item.user_item_number}

                /       / title
                /       - if item.title.blank?
                /         %p
                /           %span [No item title]
                /       - else
                /         %p
                /           %span Title: 
                /           #{item.title}
                /       / description
                /       - if item.description.blank?
                /         %p 
                /           %span No item description
                /       - else
                /         %p
                /           %span Description:
                /           #{item.description}
                /     .col-md-6
                /       / image
                /       - if item.image?
                /         %p
                /           %span Item image:
                /         .crop-mask
                /           %img{src: "#{item.image_url}"}/
                /       - else
                /         %p
                /           %span [No item image]
                /           \- please take one
                /     %hr/
        %br/
      / # = render partial: "partials/admin_request"
  
  %br/ 
  .single-line
  .single-line
  %section.text-center#supplies-requests
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Pending Packing Supplies Requests
              %p.align-center Outstanding Supplies Requests: #{@pending_packing_supplies_requests.count}

    .container
      .row
        - @pending_packing_supplies_requests.each do |packing_request|
          .col-md-8.col-md-offset-2.align-left.boxed-grey.fat-white-border
            .request-content.no-margin.row
              .col-md-6
                %h4.blue Pending Packing Supplies Request
                %p.no-margin
                  %span.heavy-font  Customer's address:
                  = packing_request.user.address_line_1
                %p.no-margin
                  %span.heavy-font  Date Ordered:
                  Sample Date Time
              .col-md-6
                %p= "Boxes ordered: #{packing_request.box_quantity}"
                %p= "Wardrobe boxes ordered: #{packing_request.wardrobe_box_quantity}"
                %p= "Bubble wrap items ordered: #{packing_request.bubble_quantity}"
                %p= "Packing tape items ordered: #{packing_request.tape_quantity}"
            %br/ 
            .row
              .col-md-12
                = form_for packing_request, url: complete_packing_supplies_request_path(packing_request.id) do |f|
                  = f.submit 'Mark Shipped', class:"pull-right btn btn-skin"
                  %a.btn.white.gray-bg.pull-right{:href => "mailto:#{packing_request.user.email}"}  Email Customer

            %br/ 
  
  %br/ 
  .single-line
  .single-line
  %section.text-center#delivery-requests
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Pending Delivery Requests
              %p.align-center Outstanding Delivery Requests: #{@pending_delivery_requests.count}
    .container
      .row
        - @pending_delivery_requests.each do |delivery_request|
          .col-md-8.col-md-offset-2.align-left.boxed-grey.fat-white-border
            .request-content.no-margin.row
              .col-md-4
                %h4.blue Pending Delivery Request
              .col-md-8
                %p
                  %span.heavy-font Delivery time requested:
                  = delivery_request.delivery_time.strftime("%B %d at %l:%M %p")
                %p.no-margin
                  %span.heavy-font  Customer's address:
                  = delivery_request.user.address_line_1

            .request-content
              = render partial: "storage_items", locals: {activity: 'deliver', request: delivery_request, show_id: true}

            = form_for delivery_request, url: complete_delivery_request_path(delivery_request.id) do |f|
              = f.submit 'Mark Complete',class:"pull-right btn btn-skin"
              %a.btn.white.gray-bg.pull-right{:href => "mailto:#{delivery_request.user.email}"}  Email Customer
            %br/ 
            %br/ 

%br/ 
%br/ 
= render partial: "partials/footer"