


= render partial: "partials/admin_record_header"


.container.full-width.blue-bg.no-padding.white.dashboard-header
  
  .row
    .col-md-12.col-xs-12.align-center
      .single-line.no-opacity
      %h1.no-side-margin ADMIN PAGE


.container#admin-page
  ////////////////////////////////////////////////////////////////////////////////////////////////
  //////////// PICKUP REQUESTS ///////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////
  %section.text-center#pickup-requests
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Block Time
    .container.request-entry
      // For Each Pickup Request

      = form_for :unavailable_time, url: admin_block_time_path do |f|
        .row  
          .boxed-grey.col-md-8.col-md-offset-2
            .row#validator-id
              .col-md-4.align-left
                %label{:for => "posted_delivery_date"} Delivery Date <span class="required_label">  * required </span>
                
                #datepicker.input-append.date
                  =f.text_field :posted_delivery_date, class:"span2 form-control", id: "datepicker-value", placeholder: 'Which day is best?'
                  %span.add-on
                    %i.icon-calendar
               
              .col-md-4.align-left
                %label{:for => "date-picker"} Start Time
                = f.select  :posted_delivery_time, options_for_select([["Choose a time"]]),{}, {class:"form-control selectpicker", id:"start_block"}
                %br/ 
              .col-md-4.align-left
                %label{:for => "date-picker"} End Time
                = f.select  :posted_delivery_time, options_for_select([["Choose a time"]]),{}, {class:"form-control selectpicker", id:"end_block"}
                %br/ 
            .row
              .col-md-12.align-center
                = f.submit "Block Off Time", class: "btn btn-skin white pull-right"
                = link_to admin_path, class: "pointer white pull-left details-btn" do
                  %h1.btn.btn-default.gray-bg Back To Dashboard
                %p.no-opacity hidden-spacer
                %br/ 
         
          %br/ 
          %br/ 

        %br/ 
        %br/ 
        %br/ 
        %br/ 
        %br/ 
        %br/ 
        %br/ 
        %br/ 
        %br/
  
  // System for un-blocking time
  / %section.text-center#pickup-requests
  /   .heading-about.marginbot-20
  /     .container
  /       .row
  /         .col-lg-8.col-lg-offset-2
  /           .section-heading
  /             %h2.no-margin Un-Block Time
  /   .container.request-entry
  /     // For Each Pickup Request

  /     = form_for :request, {url: admin_assign_driver_path(@request.id)} do |f|
  /       .row  
  /         .boxed-grey.col-md-8.col-md-offset-2
  /           .row#validator-id
  /             .col-md-4.align-left
  /               %label{:for => "posted_delivery_date"} Delivery Date <span class="required_label">  * required </span>
                
  /               #datepicker.input-append.date
  /                 =f.text_field :posted_delivery_date, class:"span2 form-control", id: "datepicker-value", placeholder: 'Which day is best?'
  /                 %span.add-on
  /                   %i.icon-calendar
               
  /             .col-md-4.align-left
  /               %label{:for => "date-picker"} Time Of Day
  /               = f.select  :posted_delivery_time, options_for_select([["Choose a time"]]),{}, {class:"form-control selectpicker", id:"#start_block"}
  /               %br/ 
  /             .col-md-4.align-left
  /               %label{:for => "date-picker"} Time Of Day
  /               = f.select  :posted_delivery_time, options_for_select([["Choose a time"]]),{}, {class:"form-control selectpicker", id:"#end_block"}
  /               %br/ 
  /           .row
  /             .col-md-12.align-center
  /               = f.submit "Block Off Time", class: "btn btn-skin white pull-right"
  /               = link_to admin_path, class: "pointer white pull-left details-btn" do
  /                 %h1.btn.btn-default.gray-bg Back
  /               %p.no-opacity hidden-spacer
  /               %br/ 
         
  /         %br/ 
  /         %br/ 


  
  






= render partial: "partials/footer"

:javascript
  $('#datepicker').datepicker({
      daysOfWeekDisabled: "0",
      autoclose: true,
      todayHighlight: true
  });

  var start = new Date();
  var end = new Date();
  end.setDate(start.getDate()+30);
  $('#datepicker').datepicker('setStartDate', start);
  $('#datepicker').datepicker('setEndDate', end);


  $('#datepicker').on('changeDate', function(){
    var available_delivery_times = #{Request.available_delivery_times.to_json};
    console.log(available_delivery_times);
    updateDropdownDates('#datepicker-value', "#end_block", available_delivery_times);
    updateDropdownDates('#datepicker-value', "#start_block", available_delivery_times);
  });


// admin/record_pickup_request/id