= render partial: "partials/admin_header"

.container.full-width.blue-bg.no-padding.white.dashboard-header
  
  .row
    .col-md-12.col-xs-12.align-center
      .single-line.no-opacity
      %h1.no-side-margin ADMIN PAGE


.container#admin-page
  ////////////////////////////////////////////////////////////////////////////////////////////////
  //////////// PICKUP REQUESTS ///////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////
  %section.text-center#pickup-requests
    .heading-about.marginbot-20
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .section-heading
              %h2.no-margin Pending Pickup Requests
    .container.request-entry
      // For Each Pickup Request
      = fields_for @delivery_request do |field|  
        .row  
          .col-md-8.col-md-offset-2.align-left.boxed-grey.fat-white-border
            .request-content.row
              .col-md-5
                %h3.blue.heavy-font Pending Delivery
              .col-md-4.col-md-offset-3.pull-right.align-right
                = link_to "Back To Dashboard", admin_path, class: "btn btn-skin gray-bg white"
            .request-content
              .storage-items
                .row.storage-item
                  .div
                    = render partial: "partials/admin_driver_details", locals:{request:@delivery_request}
                    .col-md-4
                      %p
                        %span Items Requested
                        %ul.no-list
                          %li
                            Boxes:
                            %span.pull-right= @delivery_request.storage_items.where(item_type: 'small').count

                          %li
                            Medium Items:
                            %span.pull-right= @delivery_request.storage_items.where(item_type: 'medium').count
                          %li
                            Large Items:
                            %span.pull-right= @delivery_request.storage_items.where(item_type: 'large').count
                          %li
                            XL Items:
                            %span.pull-right= @delivery_request.storage_items.where(item_type: 'extra_large').count
                  / %p.onepxhigh test
                  %br/ 
                  %br/ 
                  .single-line
                    %p.no-opacity invisible
                  .row
                    .col-md-6
                      = field.label "Delivered By:"
                      = field.text_field :driver,  autofocus: true, placeholder:"Driver Name", class:"col-md-6 form-control", id:""
                    .col-md-6
                      = field.label "Notes:"
                      = field.text_field :driver,  autofocus: true, placeholder:"Driver Name", class:"col-md-6 form-control", id:""
              .admin-details{:id => "#{@delivery_request.id}-details"}
                / # = render partial: "partials/admin_pickup_form", locals: {pickup_request: @delivery_request}
                / THIS IS ONLY FOR DETAIL VIEWS
                - @delivery_request.storage_items.each do |item|
                  = fields_for item do |field|  
                    .row.storage-item.detail-item
                      .row
                        .col-md-6
                          %ul.no-list 
                            %li 
                              %p 
                                ID:
                                %span.pull-right= item.id
                            %li 
                              %p 
                                Title:
                                %span.pull-right= item.title
                            %li 
                              %p 
                                Item Type
                                %span.pull-right #{item.item_type}
                            %li 
                              %p 
                                Location:
                                %span.pull-right * FIX THIS *                               
                            %li 
                              %p 
                                Notes:
                                %span.pull-right * FIX THIS *
                                / %span.pull-right #{item.item_type}
                            %li 
                              .single-dashed-line
                            %li 
                              %a.blue.pull-right This Item Was Note Delivered
                              %input.pull-left{:type => "checkbox", required:true, id:"box-#{item.id}"}/

                        .col-md-6
                          / image
                          - if item.image?
                            %p
                              / # = image_tag "#{item.image.url}"
                              %span Item image:
                            .crop-mask
                              %img{src: "#{item.image_url}"}/
                          - else
                            %p
                              %span Item Image:
                            .crop-mask
                              %img{src: "#{item.image_url}"}/
                      

            .row.no-margin
              %br/ 
              %br/ 
              .col-md-4.align-left
                = link_to admin_path, class: "pointer white details-btn", id: "#{@delivery_request.id}" do
                  %h1.btn.btn-default.gray-bg Back
              .col-md-4.pull-right.align-right
                = link_to "Record & Complete", admin_record_delivery_request_path(id: @delivery_request.id), class: "no-margin btn btn-skin white"
            .row
              %p.no-opacity ps
          %br/

  
  %br/ 
  .single-line
  .single-line






= render partial: "partials/footer"

:javascript
  $(".details-btn").click(function(){
    var id = $(this).attr("id");
    var details = $("#" + id + "-details");
    console.log(id+"-details");
    if ($(details).hasClass("hidden")) {
      $("#" + id + " h1").html("Hide Details");
      $(details).removeClass("hidden");
    }
    else {
      $("#" + id + " h1").html("View Details");
      $(details).addClass("hidden");
    }
  });

// admin/record_delivery_request/id