= javascript_include_tag  "admin_record"
#admin-page
  = render partial: "partials/admin_record_header"


  .container.full-width.blue-bg.no-padding.white.dashboard-header
    .col-md-12.col-xs-12.align-center
      .single-line.no-opacity
      %h1.no-side-margin ADMIN PAGE



  .container
    ////////////////////////////////////////////////////////////////////////////////////////////////
    //////////// PICKUP REQUESTS ///////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////
    %section.text-center#pickup-requests
      .heading-about.marginbot-20
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .section-heading
                %h2.no-margin Pending Pickup Requests
      .container
        = render partial: 'partials/error_messages_object_form', locals: {object: @pickup_request}
      .container.request-entry
        // For Each Pickup Request
        = form_for @pickup_request, url: admin_record_pickup_request_path(@pickup_request.id), method: :patch  do |field|  
          .row  
            .col-md-8.col-md-offset-2.align-left.boxed-grey.fat-white-border
              .request-content.row.align-center
                .col-md-5.col-xs-12
                  %h3.blue.heavy-font Pending Pickup
                .col-md-4.col-md-offset-3.pull-right.col-xs-12
                  = link_to "Back To Dashboard", admin_path, class: "btn btn-skin gray-bg white"
              .request-content
                .storage-items
                  .row.storage-item
                    .div
                      = render partial: "partials/admin_driver_details", locals:{request:@pickup_request}
                      .col-md-4
                        %p
                          %span Items Requested
                          %ul.no-list
                            %li
                              Boxes:
                              %span.pull-right= @pickup_request.storage_items.where(item_type: 'small').count

                            %li
                              Medium Items:
                              %span.pull-right= @pickup_request.storage_items.where(item_type: 'medium').count
                            %li
                              Large Items:
                              %span.pull-right= @pickup_request.storage_items.where(item_type: 'large').count
                            %li
                              XL Items:
                              %span.pull-right= @pickup_request.storage_items.where(item_type: 'extra_large').count
                    %br/ 
                    %br/ 
                    
                    .row
                      .col-md-6
                        = field.label :driver_name, "Picked Up By:"
                        = field.text_field :driver_name,  autofocus: true, placeholder:"Driver Name", class:"col-md-6 form-control", id:""
                      .col-md-6
                        = field.label :driver_notes, "Notes:"
                        = field.text_field :driver_notes,  autofocus: true, placeholder:"Notes", class:"col-md-6 form-control", id:""
                    .row
                      %br/ 
                      .col-md-6
                        = field.label :id, "One Time Payment (if applicable)", class:"half-opacity"
                        = field.text_field :id,  autofocus: true, placeholder:"Driver Name", class:"col-md-6 form-control", id:""
                      .col-md-6
                        = field.label :id, "Storage By The Space  (if applicable)", class:"half-opacity"
                        = field.text_field :id,  autofocus: true, placeholder:"Notes", class:"col-md-6 form-control", id:""

                .admin-details{:id => "#{@pickup_request.id}-details"}
                  = render partial: "partials/admin_pickup_form", locals: {pickup_request: @pickup_request, form: field}
                = link_to_add_fields "Add Item", field, :storage_items, @pickup_request
                %br/ 
                %p.no-opacity ps
              %br/ 
              .row
                .col-md-4.align-center.col-xs-12
                  %br/ 
                  = link_to admin_path, class: "pointer white details-btn", id: "#{@pickup_request.id}" do
                    %h1.btn.btn-default.gray-bg Back

                .col-md-4.pull-right.align-center.col-xs-12
                  %br/ 
                  = link_to "Record & Complete", complete_pickup_request_path(@pickup_request.id), class: "btn btn-skin white", id:"record-complete", method: :patch
                .col-md-4.pull-right.align-center.col-xs-12
                  %br/ 
                  = field.submit "Save Changes", class: "btn btn-skin white red"
              .row.align-center
                %br/
                %br/ 
                %p Remember you have to save your changes before completing a request
               
              .row

                %p.no-opacity ps
            %br/

    
    %br/ 
    .single-line
    .single-line






  = render partial: "partials/footer"


