= render :partial => 'partials/logged_in_header'
= render partial: "partials/blue_bar", locals:{mainText:"Edit Item", dashboard:true, faq:true}


/ Section: ITEM SELECTION
%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2.no-margin Edit Your Listing
            / %p (Give your items a description so you can easily find them in the future)
  = form_for @storage_item, :html => { multipart: true } do |form|
    .container
      .row
        .col-md-10.col-md-offset-1
          .row
            .col-md-8.col-md-offset-2.half-opacity.charges-box
              %p Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
          .row
            .col-md-8.col-md-offset-2.half-opacity.charges-box
              / .single-line
              %br/
              %br/
          .row
            .col-md-4.col-md-offset-1.col-sm-4.col-xs-12.fat-white-border.boxed-grey
              .crop-mask
                - if @storage_item.image_file_name
                  = image_tag "#{@storage_item.image.url}"
                - else
                  = image_tag "https://s3.amazonaws.com/storage_rails_app_dev/images/small-item.png"
 
              %p No current image
              .single-line.width-80.no-padding
              = form.file_field :image, class:"align-center"
              %br/ 
            .boxed-grey.col-md-6.col-sm-8.col-xs-12.fat-white-border
              #contact-form
                .row
                  .col-md-6.align-left
                    %label{:for => "name"} Name Your Item
                    = form.text_field :title, class:"form-control", placeholder: "Item Title"
                  .col-md-6.align-left
                    %label{:for => "name"} Item Id <a data-target="#itemIDModal" data-toggle = "modal" class="required_label blue pointer black-hover">&nbsp;&nbsp; Why is this important? </a>
                    = form.text_field :id, class:"form-control", disabled: true, placeholder: "test"

                  .col-md-12.align-left
                    %br/
                    %label{:for => "name"} Describe the contents
                    = form.text_area :description, placeholder:"Shoes, books, you name it!", rows:4, class:"form-control"

                .row
                  .col-md-8.col-md-offset-4.bottom-buttons
                    = form.submit "Save Changes", class:"btn btn-primary pull-right loadingOnClick" 
                    = link_to "Cancel", :storage_items, class:"btn gray-bg white half-opacity"

                    %p.pull-left.no-opacity p
                %br/ 

= render :partial => 'partials/footer'


/ Modal
#itemIDModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "itemIDModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h1#itemIDModalLabel.modal-title.align-center What is the ID For?
      .modal-body.width-90
        %p.width-90
          We can storage anything. Most items fall within one of four categories. For your convenience, we've listed these categories and the items they cover below. 
        %br/ 
        .row
          .col-md-6
            %h4.no-margin Boxes
            %ul
              %li Boxes 2' x 2' x 2' or smaller
              %li Things that fit in 2'x2'x2' boxes
          .col-md-6
            %h4.no-margin Large Items
            %ul
              %li Sofas and couches
              %li Mattresses
              %li Desks
          
        .row
          .col-md-6
            %h4.no-margin Medium Items
            %ul
              %li Wardrobe boxes
              %li Bicycles
              %li Sports gear (e.g. skis)
              %li Mini-fridges, lamps
              %li Coffee tables, Chairs
              %li Small Furniture
          .col-md-6
            %h4.no-margin Extra Large Items
            %ul
              %li Large dining tables
              %li Sectional couches
              %li Full bed frames
              %li Exercise equipment
              %li Items over 250lbs
        
      .modal-footer
        %button.btn.btn-default.pull-left{"data-dismiss" => "modal", :type => "button"} Close
        / %button.btn.btn-primary{:type => "button"} Save changes

