= render :partial => 'partials/logged_in_header'
= render partial: "partials/blue_bar", locals:{mainText:"Edit Item", dashboard:true, faq:true}


/ Section: ITEM SELECTION
%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 Edit Your Listing
  = form_for @storage_item, :html => { multipart: true } do |form|
    .container
      .row
        .col-md-10.col-md-offset-1
          .row
            .col-md-8.col-md-offset-2.half-opacity.charges-box
              .single-line
              %br/
              %br/
          .row
            .col-md-4.fat-white-boarder.boxed-grey
              .crop-mask
                - if @storage_item.image_file_name
                  = image_tag "#{@storage_item.image.url}"
                - else
                  = image_tag "https://s3.amazonaws.com/storage_rails_app_dev/images/small-item.png"
 
              %p No current image
              .single-line.width-80.no-padding
              = form.file_field :image, class:"align-center"
              %br/ 
            .boxed-grey.col-md-7.fat-white-boarder
              #contact-form
                .row
                  .col-md-6.align-left
                    %label{:for => "name"} Name Your Item
                    = form.text_field :title, class:"form-control", placeholder: "test"
                  .col-md-6.align-left
                    %label{:for => "name"} Item Id <span class="required_label">&nbsp;&nbsp; (place this somewhere on your item) </span>
                    = form.text_field :id, class:"form-control", disabled: true, placeholder: "test"

                  .col-md-12.align-left
                    %br/
                    %label{:for => "name"} Describe the contents
                    = form.text_area :description, placeholder:"Shoes, books, you name it!", rows:4, class:"form-control"

                .row
                  %br/ 
                  .col-md-6.col-md-offset-6.bottom-buttons
                    = form.submit "Save Changes", class:"btn btn-primary pull-right" 
                    = link_to "Cancel", :storage_items, class:"btn gray-bg white half-opacity"

                    %p.pull-left.no-opacity p

= render :partial => 'partials/footer'
