- content_for :title do
  = "Dashboard |"
= render partial: "partials/logged_in_header"
.container.full-width.blue-bg.no-padding.white.dashboard-header
  .row
    .col-md-6.col-xs-12.align-center
      .single-line.no-opacity
      %h1 HERE ARE YOUR THINGS
    .col-md-1.col-md-offset-2.col-sm-4.col-xs-4.align-center
      - if !@has_existing_pickup
        = link_to new_pickup_request_path do
          .service-box.yellow-hover
            .service-icon
              %i.fa.fa-truck
            .service-desc
              %h6
                New
                %br/
                Pickup
      - else
        = link_to edit_pickup_request_path(id: @has_existing_pickup) do
          .service-box.yellow-hover
            .service-icon
              %i.fa.fa-truck
            .service-desc
              %h6
                Edit
                %br/
                Pickup



    .col-md-1.col-sm-4.col-xs-4.align-center
      - if !@has_existing_delivery
        - if @num_storage_items < 1
          = link_to new_delivery_request_path do
            .service-box.no-pointer.half-opacity.no-hover
              .service-icon
                %i.fa.fa-home
              .service-desc
                %h6
                  Request
                  %br/
                  Delivery
        - else
          = link_to new_delivery_request_path do
            .service-box.yellow-hover
              .service-icon
                %i.fa.fa-home
              .service-desc
                %h6
                  Request
                  %br/
                  Delivery

      - else
        = link_to edit_delivery_request_path(id: @has_existing_delivery) do
          .service-box.yellow-hover
            .service-icon
              %i.fa.fa-home
            .service-desc
              %h6
                Edit
                %br/
                Delivery

%br/
%br/
%br/

// Main Body Content
.container.inventory
  .row
    .col-md-10.col-md-offset-1
      .row
        .col-md-8
          .div#storage-empty.hidden.width-90
            = link_to new_pickup_request_path do
              %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/nothing-in-storage.png", :alt => ""}/

          / Existing Inventory Row
          %form#delivery-form{:action => ""}
            .row
              %h2
                %span.items-count#items-in-storage #{@num_storage_items}
                Items In Storage
              .double-line
              - @storage_items.each do |storage_item|
                .col-md-6.col-sm-6.col-xs-12.inventory-entries.delivery-entry{:id => "#{storage_item.id}"}
                  .inner
                    .crop-mask
                      .crop-mask-img-wrapper
                        = image_tag(storage_item.image_url, class: "img-responsive")
                      .item-description
                        %p.subtitle.box-subtitle
                          = storage_item.get_description
                        = link_to "EDIT", {:action => "edit", "id"=>"#{storage_item.id}"}, class:"align-center description-edit-boxed heavy-font"


                    %h4.storage-item-title= storage_item.get_title
              .col-md-12.col-sm-12.col-xs-12.align-right
                %br/
            %br/

          .row#pending-delivery-form
            %h2
              %span.items-count#items-pending-delivery.hide-on-small
                %span.items-count #{@num_delivery_items}
                Items Pending Delivery
              - if @has_existing_delivery
                %p.pull-right.half-opacity.hide-on-small
                  =@existing_delivery.best_delivery_time.strftime("%B %d")
            .double-line
            - @delivery_items.each do |delivery_item|
              .col-md-6.col-sm-6.col-xs-12.inventory-entries.delivery-entry{:id => "#{delivery_item.id}"}
                .inner
                  .crop-mask
                    .crop-mask-img-wrapper
                      = image_tag(delivery_item.image_url, class: "img-responsive")
                    .item-description
                      %p.subtitle.box-subtitle
                        = delivery_item.get_description
                      = link_to "EDIT", {:action => "edit", "id"=>"#{delivery_item.id}"}, class:"align-center description-edit-boxed heavy-font"
                  %h4.storage-item-title= delivery_item.get_title
            %br/
            %br/
            %br/


          - if @has_existing_pickup
            %br/
            .row
              %h2
                Your Pickup
                - if @has_existing_pickup
                  %p.pull-right.half-opacity.hide-on-small
                    =@existing_pickup.best_delivery_time.strftime("%B %d")
              .double-line
            .row
              .col-md-12.text-block
                %br/
                %p.blue.heavy-font
                  Our driver is scheduled to arrive on
                  - if @has_existing_pickup
                    on
                    =@existing_pickup.best_delivery_time.strftime("%B %d")

                %p
                  Please make sure your items are packed before pickup.
                  Until then if you have any questions, feel free to
                  %a{:href => "mailto:team@quickbox.com"} contact us.
                  Thanks!
                %br/
            - if !@has_existing_delivery and @num_storage_items < 1
              .row
                .col-md-12.text-block.no-background
                  %br/
                  %p
                    That's all for now! You can
                    = link_to "Logout", destroy_user_session_path, method: "delete"
                    whenever you're ready.
                %br/

        .col-md-4.inventory-sidebar
          .show-on-small
            %br/
            .double-line
            %br/
          .row.text-block.light-blue-bg
            .innert
              %h5.align-center Notifications
              .single-line
              %ul
                - if @promo_result
                  %li
                    %span.order-item Successful promocode activation:
                    =@promo_result
                - if @has_existing_pickup
                  %li
                    %span.order-item You have a pickup scheduled for
                    =@existing_pickup.best_delivery_time.strftime("%B %d")
                - if @has_existing_delivery
                  %li
                    %span.order-item You have a delivery scheduled for
                    =@existing_delivery.best_delivery_time.strftime("%B %d")
                - if !@has_existing_pickup && !@has_existing_delivery
                  %li
                    %span.order-item You have no new notifications!

          .row.text-block
            .inner.align-center
              %h5 Share and Save
              %p.small-text
                / For each friend you invite to TSYN we'll take $25 off your monthly bill.
                Know a friend using storage?
                %br/
                = link_to  users_referral_path, class:"black-hover" do
                  Let them know
                about QuickBox!

          .row
            .boxed-gray.continue-button
              - if !@has_existing_pickup
                = link_to new_pickup_request_path do
                  %button#pickup-button.btn.btn-primary.gray-bg{:disabled => false, :type => "button"}
                    Request New Pickup
              - else
                = link_to edit_pickup_request_path(id: @has_existing_pickup) do
                  %button#pickup-button.btn.btn-primary.gray-bg.blue-bg-hover.no-border{:type => "button"} Edit Pickup time
              - if !@has_existing_delivery
                = link_to new_delivery_request_path do
                  %button#delivery-button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"} Request Delivery
                / %p#delivery-subtext.light-gray.no-margin.half-opacity.pull-right
                /   (you have no items in storage)
              - else
                = link_to edit_delivery_request_path(id: @has_existing_delivery) do
                  %button#delivery-button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"} Edit Delivery
%br/
%br/
%br/
= render partial: "partials/footer"
= render partial: "partials/aboutDeliveriesModal"



:javascript
  var numDeliveryItems = 0;
  var numPickupItems = 0;

  $(document).ready(function(){
    var atHome = parseInt(#{@items_at_home});
    var inStorage = parseInt(#{@num_storage_items});
    var pendingDelivery = parseInt(#{@storage_items_pending_delivery});
    console.log(atHome);
    console.log(inStorage);
    if (atHome == 0){
      $("#pickup-form").addClass("hidden");
    }
    if (inStorage == 0){
      $("#delivery-form").addClass("hidden");
      $("#delivery-button").parent().attr("disabled", true);
      $("#delivery-button").attr("disabled", true);
      $("#delivery-button").parent().addClass("no-pointer");
      $("#delivery-subtext").addClass("hidden");


    }
    if(pendingDelivery == 0){
      $("#pending-delivery-form").addClass("hidden");
    }
    if (atHome == 0 && inStorage == 0){
      $("#storage-empty").toggleClass("hidden");
    }

    $("#delivery-button").click(function(e){
      if (inStorage == 0){
        e.preventDefault();
      }
    });
  });
