
= render partial: "partials/logged_in_header"
/ SECONDARY HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header
  .row
    .col-md-6.col-xs-12.align-center
      .single-line.no-opacity
      %h1 HERE ARE YOUR THINGS
    .col-md-1.col-md-offset-2.col-sm-4.col-xs-4.align-center
      = link_to new_packing_supplies_request_path do
        .service-box
          .service-icon
            %i.fa.fa-dropbox
          .service-desc
            %h6
              Packing Supplies
    .col-md-1.col-sm-4.col-xs-4.align-center
      = link_to new_pickup_request_path do
        .service-box
          .service-icon
            %i.fa.fa-truck
          .service-desc
            %h6
              New
              %br/ 
              Pickup 
    .col-md-1.col-sm-4.col-xs-4.align-center
      = link_to faq_path, target: "_blank" do
        .service-box
          .service-icon
            %i.fa.fa-question-circle.fa-3x
          .service-desc
            %h6
              Have a
              %br>/
              Question?
%br/
%br/
%br/

// Main Body Content
.container.inventory
  .row
    .col-md-10.col-md-offset-1
      .row
        .col-md-8
          .div#storage-empty.hidden.width-90
            = link_to new_pickup_request_path do
              %img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/nothing-in-storage.png", :alt => ""}/ 
         
          / Existing Inventory Row 
          %form#delivery-form{:action => ""}
            .row
              %h2
                %span.items-count#items-in-storage #{@num_storage_items}
                / %span.items-count#items-in-storage 0
                Items In Storage
                %p.pull-right.half-opacity Click items to select them for delivery
              .double-line
              - @storage_items.each do |storage_item|
                .col-md-6.col-sm-6.col-xs-6.inventory-entries.delivery-entry{:id => "#{storage_item.id}"}
                  .inner
                    .crop-mask
                      = image_tag(storage_item.image_url, class: "img-responsive")

                    %h4.storage-item-title= storage_item.get_title
                    %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12= storage_item.get_description
                    = link_to "edit", {:action => "edit", "id"=>"#{storage_item.id}"}, class:"pull-right"
              .col-md-12.col-sm-12.col-xs-12.align-right
                %br/
                / # =link_to "Want to learn how deliveries work?", {:controller => "packing_supplies_requests", :action => "new"}
                / %a.pull-right.pointer.half-opactiy{"data-target" => "#aboutDeliveriesModal", "data-toggle" => "modal"}
                / Want to learn how deliveries work?
         
          %br/
          %br/
          %form#pickup-form{:action => ""}
            / Boxes At Home
            .row
              %h2
                %span.items-count#boxes-at-home #{@items_at_home}
                Items Awaiting Pickup
                / # =link_to "Add to Pickup", {:controller => "pickup_requests", :action => "new"}, :class => "pull-right"
              .double-line
              / - 3.times do
              - @boxes_at_home.each do |small_item|
                .col-md-6.col-sm-6.col-xs-6.inventory-entries.pickup-entry
                  / = link_to {:action => "edit", "id"=>"#{small_item.id}"}, class:"inner" do
                  .inner
                    .crop-mask
                      = image_tag(small_item.image_url, class: "img-responsive")
                    %h4.storage-item-title= small_item.get_title
                    %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12= small_item.get_description
                    = link_to "edit", {:action => "edit", "id"=>"#{small_item.id}"}, class:"pull-right"
                      
              - @medium_items_at_home.each do |medium_item|
                .col-md-6.col-sm-6.col-xs-6.inventory-entries.pickup-entry
                  .inner
                    .crop-mask
                      = image_tag(medium_item.image_url, class: "img-responsive")
                    %h4.storage-item-title= medium_item.get_title
                    %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12= medium_item.get_description
                    = link_to "edit", {:action => "edit", "id"=>"#{medium_item.id}"}, class:"pull-right"
              - @large_items_at_home.each do |large_item|
                .col-md-6.col-sm-6.col-xs-6.inventory-entries.pickup-entry
                  .inner
                    .crop-mask
                      = image_tag(large_item.image_url, class: "img-responsive")
                    %h4.storage-item-title= large_item.get_title
                    %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12= large_item.get_description
                    = link_to "edit", {:action => "edit", "id"=>"#{large_item.id}"}, class:"pull-right"
              - @extra_large_items_at_home.each do |xl_item|
                .col-md-6.col-sm-6.col-xs-6.inventory-entries.pickup-entry
                  .inner
                    .crop-mask
                      = image_tag(xl_item.image_url, class: "img-responsive")
                    %h4.storage-item-title= xl_item.get_title
                    %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12= xl_item.get_description
                    = link_to "edit", {:action => "edit", "id"=>"#{xl_item.id}"}, class:"pull-right"
                     
    
          
        .col-md-4.inventory-sidebar
          .row.sidebar-txtentry.light-blue-bg
            .innert
              %h5.align-center Notifications
              .single-line
              %ul
                %li
                  %span.order-item You have a pickup schedules for Thursday, September 15
                %li
                  %span.order-item You currently have #{@items_at_home} items at home waiting to be picked up.
          %br/
          .row.sidebar-txtentry.bg-gray
            .inner.align-center
              %h5 Share and Save
              %p.small-text
                For each friend you invite to TSYN we'll take $50 off your monthly bill.
                %br/  
                %a.black-hover{:href => ""} Click Here
                to get started
          / .row.sidebar-txtentry.bg-gray
          /   .inner
          /     %h5 Inventory in Storage
          /     .single-line
          /     %ul.no-list
          /       %li
          /         %span.order-item  Boxes
          /         %span.pull-right 4
          /       %li
          /         %span.order-item Wardrobe Boxes
          /         %span.pull-right 1
          /       %li
          /         %span.order-item Couches
          /         %span.pull-right 1
          .row
            .boxed-gray.continue-button  
              %button#pickup-button.btn.btn-primary.gray-bg{:disabled => false, :type => "button"}
                Request New Pickup
              = link_to new_delivery_request_path do
                %button#delivery-button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"} Request Delivery
%br/
%br/
%br/
= render partial: "partials/footer"
= render partial: "partials/aboutDeliveriesModal"



:javascript
  var numDeliveryItems = 0;
  var numPickupItems = 0;

  $(document).ready(function(){
    var atHome = parseInt($("#boxes-at-home").html());
    var inStorage =parseInt($("#items-in-storage").html());
    console.log(atHome);
    console.log(inStorage);
    if (atHome == 0){
      $("#pickup-form").addClass("hidden");
    }
    if (inStorage == 0){
      $("#delivery-form").addClass("hidden");
    }
    if (atHome == 0 && inStorage == 0){
      $("#storage-empty").toggleClass("hidden");
    }

  });

  // Delivery Entry Selected
  $(".delivery-entry").click(function() {
    $(this).toggleClass("selected-item");

      if($(this).hasClass("selected-item")){
      numDeliveryItems = numDeliveryItems + 1;
        $('input:first', this).prop('checked', true);

    } else {
      numDeliveryItems = numDeliveryItems - 1;
      $('input:first', this).prop('checked', false);

    }
    console.log("numDeliveryItems:" + numDeliveryItems);

    if (numDeliveryItems == 0) $("#delivery-button").attr("disabled", "disabled");
    else {
      console.log("Delivery BUTTON REMOVING DISABLED");
      $("#delivery-button").removeAttr("disabled"); 
      $(".pickup-entry").removeClass("selected-item");
      // $("#pickup-button").attr("disabled", "disabled");
      numPickupItems = 0;  
     } 
  });

  // Pick Up Entry Selected
  $(".pickup-entry").click(function() {
      // $(this).toggleClass("selected-item");
      $('input:first', this).prop('checked', true);

      if($(this).hasClass("selected-item")){
      numPickupItems = numPickupItems + 1;
    } else {
      numPickupItems = numPickupItems - 1;
    }
    console.log("numPickupItems:" + numPickupItems);

    if (numPickupItems == 0) console.log("the pickup button would be disabled here bc there are no items selected");
    else {
      console.log("pickup BUTTON REMOVING DISABLED");
      $("#pickup-button").removeAttr("disabled");   
      $(".delivery-entry").removeClass("selected-item");
      $("#delivery-button").attr("disabled", "disabled");
      numDeliveryItems = 0;
     } 
  });

  $("#pickup-button").click(function(event){
      event.preventDefault();
     var selectedEntries = $(".selected-item.pickup-entry");
     console.log(selectedEntries.size());
     var destinationURL = "/pickup_requests/new/";
     window.location.href = destinationURL;
  });

  // $("#delivery-button").click(function(){
  //    event.preventDefault();
  //    var selectedEntries = $(".selected-item.delivery-entry");
  //    var itemsList = "";
  //    var numItems = 0;
  //    selectedEntries.each(function(){
  //     var elemId = $(this).attr('id');
  //     if(numItems == 0){
  //       itemsList = elemId;
  //     } else{
  //       itemsList = itemsList + "," + elemId;
  //     }
  //     numItems += 1;
  //    });
  //    console.log(selectedEntries.size());
  //    console.log(itemsList);

  //    var destinationURL = "/delivery_requests/new/" + itemsList;
  //    window.location.href = destinationURL;
  // });

  
