/  edit_delivery_request GET    /delivery_requests/:id/edit(.:format)   delivery_requests#edit


= render partial: "partials/logged_in_header"   
= render partial: "partials/blue_bar", locals:{mainText:"Item Pickup", dashboard:true, faq:true}
= render :partial => 'partials/nudge_icon'
= render partial: 'partials/error_messages_object_form', locals: {object: @pickup_request}


/ Section: ITEM SELECTION
%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 Request A Pickup

  .container
    .row
      .div
        = form_for (@pickup_request) do |f| 
         
          
= render :partial => "partials/footer"
= render :partial => "partials/storageSizeModal"


= javascript_include_tag "item_selector"

:javascript
  

  $(document).ready(function() { 
    valQuantityAddrDelivery("#validator-id", "#continue-btn", ".quantity-field", "#pickup_request_posted_delivery_date", "#delivery_time");

    $(".form-control").on('input', function() {
      valQuantityAddrDelivery("#validator-id", "#continue-btn", ".quantity-field", "#pickup_request_posted_delivery_date", "#delivery_time");
    });

    $(".btn-inc").click(function() {
      valQuantityAddrDelivery("#validator-id", "#continue-btn", ".quantity-field", "#pickup_request_posted_delivery_date", "#delivery_time");
    });

  });

 

   
