- content_for :title do
  - if @edit_page
    = "Edit Packing Supplies Request |"
  - else
    = "New Packing Supplies Request |"
= render partial: "partials/logged_in_header"

= render partial: "partials/blue_bar", locals:{mainText:"Order Packing Supplies", dashboard:true, faq:true}
/ Section: ITEM SELECTION
%section#about.home-section.text-center
  / .heading-about.marginbot-20
  /   .container
  /     .row
  /       .col-lg-8.col-lg-offset-2
  /         .section-heading
  /           %h2 Order Packing Supplies

  / BODY CONTENT: SELECT ITEMS
  = form_for (@packing_supplies_request), id:"test" do |f|
    .container
      .row
        .div
          .col-md-8.col-md-offset-2
            .row
              = fields_for @user do |field|
                = render partial: "partials/delivery_addr_date", locals: {field:field, f:f}
          .col-md-6.col-md-offset-3.half-opacity.charges-box
            %br/
            %br/
            .single-line
          = render partial: "partials/packing_items", locals: {f:f}

        .row
          .col-md-3.bottom-buttons.col-md-offset-2
            .boxed-gray.continue-button
              %button.btn.btn-primary.blue-bg.gray-bg{:type => "button"}/
              = link_to "Back", storage_items_path, class:"white"
          .col-md-3.col-md-offset-2.bottom-buttons.charges-box
            .boxed-gray.continue-button
              %button.btn.btn-primary.blue-bg.blue-bg-hover#continue-btn{:type => "button", disabled: true}/
              = f.submit "Confirm Order"


= render :partial => "partials/footer"


:javascript
  $(document).ready(function() {
    valQuantityAndAddress("#validator-id", "#continue-btn", ".quantity-field");

    $(".form-control").on('input', function() {
      valQuantityAndAddress("#validator-id", "#continue-btn", ".quantity-field");
    });

    $(".btn-inc").click(function() {
      valQuantityAndAddress("#validator-id", "#continue-btn", ".quantity-field");
    });

  });
